<div id="container-child-popup" class="container-child-popup jquery-modal blocker current">
<div class=" modal" {% if template contains 'product'%}style="display:inline-block"{% endif %}> 

  <div class="prev_url">
    <a href="#">
    <img src="{{ 'close.png' | asset_url }}">
    </a>
  </div>
  <div class="content1">
  {% if request.locale.iso_code == 'el'%}
  	   {{prodDescription[25]}}
  {% else %}
  	{{prodDescription[26]}}   
  {% endif %}
  </div>
  <div class="bottom-btn"><button onclick="closeUsrpopup()" class="btn accept">{% if request.locale.iso_code == 'en' %}I Understand{% else %}Κατάλαβα{% endif %}</button></div>
  
  </div>
</div>
<script>
  function closeUsrpopup() {
    document.getElementById("container-child-popup").style.display = "none";
  }
</script>
<style>
 .collection .container-child-popup.jquery-modal.blocker.current{display:none}
</style>