<div class="confirm-dob-popup jquery-modal blocker current" style="display:none;">
<div class="modal" style="display:inline-block"> 
  <div class="confirm-dob-content">
  <div class="top-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="82.434" height="82.25" viewBox="0 0 82.434 82.25">
      <g id="noun-birthday-cake-4828183" transform="translate(-84.654 -15.356)">
        <path id="Path_420" data-name="Path 420" d="M182.06,400.109h-72.8a1.176,1.176,0,0,1-1.176-1.175V381.945a8.465,8.465,0,0,1,8.457-8.455H174.78a8.465,8.465,0,0,1,8.457,8.455v16.989a1.176,1.176,0,0,1-1.176,1.175Zm-71.63-2.351h70.454V381.946a6.112,6.112,0,0,0-6.105-6.1H116.535a6.112,6.112,0,0,0-6.105,6.1Z" transform="translate(-19.787 -302.504)" fill="#050f96"/>
        <path id="Path_421" data-name="Path 421" d="M214.546,250.461a1.176,1.176,0,0,1-1.176-1.175v-18.2a3.683,3.683,0,0,0-3.679-3.679H161.236a3.683,3.683,0,0,0-3.679,3.679v18.2a1.176,1.176,0,0,1-2.351,0v-18.2a6.037,6.037,0,0,1,6.03-6.031h48.455a6.037,6.037,0,0,1,6.03,6.031v18.2a1.175,1.175,0,0,1-1.175,1.175Z" transform="translate(-59.594 -177.13)" fill="#050f96"/>
        <path id="Path_422" data-name="Path 422" d="M322.744,120.408a1.176,1.176,0,0,1-1.175-1.176v-18.5h-7.053v18.5a1.175,1.175,0,1,1-2.351,0v-18.5a2.35,2.35,0,0,1,2.351-2.351h7.053a2.35,2.35,0,0,1,2.351,2.351v18.5a1.176,1.176,0,0,1-1.175,1.176Z" transform="translate(-192.171 -70.125)" fill="#050f96"/>
        <path id="Path_423" data-name="Path 423" d="M327.412,26.887a4.159,4.159,0,0,1-4.154-4.155c0-1.85,2.425-5.73,3.174-6.875h0a1.22,1.22,0,0,1,1.973,0c.743,1.145,3.174,5.025,3.174,6.875a4.16,4.16,0,0,1-4.166,4.155Zm0-8.139a13.818,13.818,0,0,0-1.8,3.985,1.8,1.8,0,0,0,3.607,0A13.821,13.821,0,0,0,327.412,18.748Z" transform="translate(-201.541)" fill="#050f96"/>
        <path id="Path_424" data-name="Path 424" d="M165.912,532.078H85.829a1.175,1.175,0,0,1,0-2.351h80.084a1.175,1.175,0,1,1,0,2.351Z" transform="translate(0 -434.473)" fill="#050f96"/>
        <path id="Path_425" data-name="Path 425" d="M343.609,80.522a1.175,1.175,0,0,1-1.175-1.175V75.631a1.175,1.175,0,1,1,2.351,0v3.716a1.175,1.175,0,0,1-1.175,1.175Z" transform="translate(-217.738 -49.919)" fill="#050f96"/>
        <path id="Path_426" data-name="Path 426" d="M169.916,453.536a9.945,9.945,0,0,1-6.791-2.6,7.844,7.844,0,0,0-10.7,0,10.166,10.166,0,0,1-13.573,0,7.845,7.845,0,0,0-10.7,0,10.161,10.161,0,0,1-13.571,0,7.649,7.649,0,0,0-5.336-2.106,1.175,1.175,0,1,1,0-2.351,9.927,9.927,0,0,1,6.78,2.6,7.837,7.837,0,0,0,10.69,0,10.165,10.165,0,0,1,13.572,0,7.844,7.844,0,0,0,10.7,0,10.17,10.17,0,0,1,13.575,0,7.85,7.85,0,0,0,10.7,0,9.943,9.943,0,0,1,6.794-2.6,1.175,1.175,0,1,1,0,2.351,7.66,7.66,0,0,0-5.35,2.106A9.944,9.944,0,0,1,169.916,453.536Z" transform="translate(-19.782 -364.159)" fill="#050f96"/>
        <path id="Path_427" data-name="Path 427" d="M204.85,304.272a8.144,8.144,0,0,1-5.568-2.124,6.036,6.036,0,0,0-8.256,0,8.354,8.354,0,0,1-11.132,0,6.033,6.033,0,0,0-8.254,0,8.348,8.348,0,0,1-11.13,0,5.852,5.852,0,0,0-4.125-1.638,1.175,1.175,0,0,1,0-2.351,8.127,8.127,0,0,1,5.563,2.125,6.031,6.031,0,0,0,8.252,0,8.354,8.354,0,0,1,11.132,0,6.032,6.032,0,0,0,8.254,0,8.359,8.359,0,0,1,11.134,0,6.039,6.039,0,0,0,8.259,0,8.141,8.141,0,0,1,5.568-2.125,1.175,1.175,0,0,1,0,2.351,5.856,5.856,0,0,0-4.128,1.633A8.142,8.142,0,0,1,204.85,304.272Z" transform="translate(-59.597 -238.875)" fill="#050f96"/>
      </g>
    </svg>
  </div>
  <h3>{{ 'my_setting.dob_confirm_popup.heading' |t:heading }}</h3>
  <p>{{ 'my_setting.dob_confirm_popup.content_html' |t:content_html }}</p>
  	<div class="btn_wrap">
      <button class="ok btn">{{ 'my_setting.dob_confirm_popup.ok' |t:ok }}</button>
      <button class="cancel btn">{{ 'my_setting.dob_confirm_popup.cancel' |t:cancel }}</button>
    </div>
  </div>
  </div>
</div>