{% if request.locale.iso_code == 'el' %}
<div class="filter_list cu_fll_list">
   <ul>
      <h3 class="filter_list hide-from-desktop">Φίλτρα</h3>
      <h2 class="fill_head hide-from-desktop">Φίλτρα</h2>
      <h3 class="fill_by hide-from-desktop"> Φίλτρα</h3>
      <li class="type-filter fill_desktop by-type hide-from-mobile" data-type="by-type">
         <h2 data-ly-mutation-count="1">Κατηγορίες Προϊόντων</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="EAU DE TOILETTE" value="eau-de-toilette">
               <label for="type_2">EAU DE TOILETTE</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="EAU DE PARFUM" value="eau-de-parfum">
               <label for="type_3">EAU DE PARFUM</label>
            </p>
         </div>
      </li>
      <li class="type-filter by-type hide-from-desktop overlay" data-type="by-type">
         <h2 data-ly-mutation-count="1">Κατηγορίες Προϊόντων</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="BODY MISTS" value="body-mists">
               <label for="type_1">BODY MISTS</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="EAU DE TOILETTE" value="eau-de-toilette">
               <label for="type_2">EAU DE TOILETTE</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="EAU DE PARFUM" value="eau-de-parfum">
               <label for="type_3">EAU DE PARFUM</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-need " data-type="by-need">
         <h2 data-ly-mutation-count="1">Ανάγκες</h2>
         <div class="list_inner" style="display:none;">
            <p class="FLORAL">
               <input type="checkbox" id="need_1" name="radio-need" class="filter-blck by_ingredient" value="floral">
               <label for="need_1">FLORAL</label>
            </p>
            <p class="FOUGERE">
               <input type="checkbox" id="need_2" name="radio-need" class="filter-blck by_ingredient" value="fresh">
               <label for="need_2">FRESH</label>
            </p>
            <p class="WARM &amp; ORIENTAL">
               <input type="checkbox" id="need_3" name="radio-need" class="filter-blck by_ingredient" value="warm-oriental">
               <label for="need_3">WARM &amp; ORIENTAL</label>
            </p>
            <p class="EARTHY &amp; WOODY">
               <input type="checkbox" id="need_4" name="radio-need" class="filter-blck by_ingredient" value="earthy-woody">
               <label for="need_4">EARTHY &amp; WOODY</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-ingredient" data-type="by-ingredient">
         <h2 data-ly-mutation-count="1">Συστατικά</h2>
         <div class="list_inner" style="display:none;">
            <p class="WHITE TEA">
               <input type="checkbox" id="ing_1" name="radio-ing" class="filter-blck by_ingredient" data-value="WHITE TEA" value="white-tea">
               <label for="ing_1">WHITE TEA</label>
            </p>
            <p class="CASHMERE KUMQUAT">
               <input type="checkbox" id="ing_2" name="radio-ing" class="filter-blck by_ingredient" data-value="CASHMERE CUMQUAT" value="cashmere-cumquat">
               <label for="ing_2">CASHMERE CUMQUAT</label>
            </p>
            <p class="MIDNIGHT DAHLIA">
               <input type="checkbox" id="ing_3" name="radio-ing" class="filter-blck by_ingredient" data-value="MIDNIGHT DAHLIA" value="midnight-dahlia">
               <label for="ing_3">MIDNIGHT DAHLIA</label>
            </p>
             <p class="OCEANIC AMBER">
               <input type="checkbox" id="ing_4" name="radio-ing" class="filter-blck by_ingredient" data-value="OCEANIC AMBER" value="oceanic-amber">
               <label for="ing_4">OCEANIC AMBER</label>
            </p>
            <p class="MOUNTAIN PEPPER">
               <input type="checkbox" id="ing_6" name="radio-ing" class="filter-blck by_ingredient" data-value="MOUNTAIN PEPPER" value="mountain-pepper">
               <label for="ing_6">MOUNTAIN PEPPER</label>
            </p>
           
         </div>
      </li>
      <div class="fil_button_cover">
         <button type="submit" class="btn-theme-blue button1 hide-from-desktop"> View
         Products
         </button>
         <input type="reset" value="Reset" class="btn-theme-white button2 hide-from-desktop">
      </div>
   </ul>
</div>
{% else %}
<div class="filter_list cu_fll_list">
   <ul>
      <h3 class="filter_list hide-from-desktop">Filters</h3>
      <h2 class="fill_head hide-from-desktop">Filters</h2>
      <h3 class="fill_by hide-from-desktop"> Filters</h3>
      <li class="type-filter fill_desktop by-type hide-from-mobile" data-type="by-type">
         <h2>By Type</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="EAU DE TOILETTE" value="eau-de-toilette">
               <label for="type_2">EAU DE TOILETTE</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="EAU DE PARFUM" value="eau-de-parfum">
               <label for="type_3">EAU DE PARFUM</label>
            </p>
         </div>
      </li>
      <li class="type-filter by-type hide-from-desktop overlay" data-type="by-type">
         <h2>By Type</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="BODY MISTS" value="body-mists">
               <label for="type_1">BODY MISTS</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="EAU DE TOILETTE" value="eau-de-toilette">
               <label for="type_2">EAU DE TOILETTE</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="EAU DE PARFUM" value="eau-de-parfum">
               <label for="type_3">EAU DE PARFUM</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-need " data-type="by-need">
         <h2>By Need</h2>
         <div class="list_inner" style="display:none;">
            <p class="FLORAL">
               <input type="checkbox" id="need_1" name="radio-need" class="filter-blck by_ingredient" value="floral">
               <label for="need_1">FLORAL</label>
            </p>
            <p class="FRESH">
               <input type="checkbox" id="need_2" name="radio-need" class="filter-blck by_ingredient" value="fresh">
               <label for="need_2">FRESH</label>
            </p>
            <p class="WARM &amp; ORIENTAL">
               <input type="checkbox" id="need_3" name="radio-need" class="filter-blck by_ingredient" value="warm-oriental">
               <label for="need_3">WARM &amp; ORIENTAL</label>
            </p>
            <p class="EARTHY &amp; WOODY">
               <input type="checkbox" id="need_4" name="radio-need" class="filter-blck by_ingredient" value="earthy-woody">
               <label for="need_4">EARTHY &amp; WOODY</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-ingredient" data-type="by-ingredient">
         <h2>By Ingredient</h2>
         <div class="list_inner" style="display:none;">
            <p class="WHITE TEA">
               <input type="checkbox" id="ing_1" name="radio-ing" class="filter-blck by_ingredient" data-value="WHITE TEA" value="white-tea">
               <label for="ing_1">WHITE TEA</label>
            </p>
            <p class="CASHMERE KUMQUAT">
               <input type="checkbox" id="ing_2" name="radio-ing" class="filter-blck by_ingredient" data-value="CASHMERE CUMQUAT" value="cashmere-cumquat">
               <label for="ing_2">CASHMERE CUMQUAT</label>
            </p>
            <p class="MIDNIGHT DAHLIA">
               <input type="checkbox" id="ing_3" name="radio-ing" class="filter-blck by_ingredient" data-value="MIDNIGHT DAHLIA" value="midnight-dahlia">
               <label for="ing_3">MIDNIGHT DAHLIA</label>
            </p>
            <p class="OCEANIC AMBER">
               <input type="checkbox" id="ing_6" name="radio-ing" class="filter-blck by_ingredient" data-value="OCEANIC AMBER" value="oceanic-amber">
               <label for="ing_6">OCEANIC AMBER</label>
            </p>
            <p class="MOUNTAIN PEPPER">
               <input type="checkbox" id="ing_7" name="radio-ing" class="filter-blck by_ingredient" data-value="MOUNTAIN PEPPER" value="mountain-pepper">
               <label for="ing_7">MOUNTAIN PEPPER</label>
            </p>
         </div>
      </li>
      <div class="fil_button_cover">
         <button type="submit" class="btn-theme-blue button1 hide-from-desktop"> View
         Products
         </button>
         <input type="reset" value="Reset" class="btn-theme-white button2 hide-from-desktop">
      </div>
   </ul>
</div>
{% endif %}