{% if request.locale.iso_code == 'el' %}
<div class="filter_list cu_fll_list">
   <ul>
      <h3 class="filter_list hide-from-desktop">Φίλτρα</h3>
      <h2 class="fill_head hide-from-desktop">Φίλτρα</h2>
      <h3 class="fill_by hide-from-desktop"> Φίλτρα</h3>
      <li class="type-filter fill_desktop by-type hide-from-mobile" data-type="by-type">
         <h2 data-ly-mutation-count="1">Κατηγορίες Προϊόντων</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="ΚΡΕΜΕΣ ΠΡΟΣΩΠΟΥ" value="κρεμεσ-προσωπου">
               <label for="type_1">ΚΡΕΜΕΣ ΠΡΟΣΩΠΟΥ</label>
            </p>
         </div>
      </li>
      <li class="type-filter by-type hide-from-desktop overlay" data-type="by-type">
         <h2 data-ly-mutation-count="1">Κατηγορίες Προϊόντων</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="ΚΡΕΜΕΣ ΠΡΟΣΩΠΟΥ" value="κρεμεσ-προσωπου">
               <label for="type_1">ΚΡΕΜΕΣ ΠΡΟΣΩΠΟΥ</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-need " data-type="by-need">
         <h2 data-ly-mutation-count="1">Ανάγκες</h2>
         <div class="list_inner" style="display:none;">
            <p class="ΣΥΣΦΙΓΞΗ + LIFTING">
               <input type="checkbox" id="need_1" name="radio-need" class="filter-blck by_ingredient" value="συσφιγξη-lifting">
               <label for="need_1">ΣΥΣΦΙΓΞΗ + LIFTING</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-ingredient" data-type="by-ingredient">
         <h2 data-ly-mutation-count="1">Συστατικά</h2>
         <div class="list_inner" style="display:none;">
            <p class="ΜΑΥΡΗ ΠΕΥΚΗ">
               <input type="checkbox" id="ing_1" name="radio-ing" class="filter-blck by_ingredient" data-value="ΜΑΥΡΗ ΠΕΥΚΗ" value="μαυρη-πευκη">
               <label for="ing_1">ΜΑΥΡΗ ΠΕΥΚΗ</label>
            </p>
         </div>
      </li>
      <div class="fil_button_cover">
         <button type="submit" class="btn-theme-blue button1 hide-from-desktop"> View
         Products
         </button>
         <input type="reset" value="Reset" class="btn-theme-white button2 hide-from-desktop">
      </div>
   </ul>
</div>
{% else %}
<div class="filter_list cu_fll_list">
   <ul>
      <h3 class="filter_list hide-from-desktop">Filters</h3>
      <h2 class="fill_head hide-from-desktop">Filters</h2>
      <h3 class="fill_by hide-from-desktop"> Filters</h3>
      <li class="type-filter fill_desktop by-type hide-from-mobile" data-type="by-type">
         <h2>By Type</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="MOISTURIZERS" value="moisturizers">
               <label for="type_1">MOISTURIZERS</label>
            </p>
         </div>
      </li>
      <li class="type-filter by-type hide-from-desktop overlay" data-type="by-type">
         <h2>By Type</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="MOISTURIZERS" value="moisturizers">
               <label for="type_1">MOISTURIZERS</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-need " data-type="by-need">
         <h2>By Need</h2>
         <div class="list_inner" style="display:none;">
            <p class="FIRMING + LIFTING">
               <input type="checkbox" id="need_1" name="radio-need" class="filter-blck by_ingredient" value="firming-lifting">
               <label for="need_1">FIRMING + LIFTING</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-ingredient" data-type="by-ingredient">
         <h2>By Ingredient</h2>
         <div class="list_inner" style="display:none;">
            <p class="BLACK PINE">
               <input type="checkbox" id="ing_1" name="radio-ing" class="filter-blck by_ingredient" data-value="BLACK PINE" value="black-pine">
               <label for="ing_1">BLACK PINE</label>
            </p>
         </div>
      </li>
      <div class="fil_button_cover">
         <button type="submit" class="btn-theme-blue button1 hide-from-desktop"> View
         Products
         </button>
         <input type="reset" value="Reset" class="btn-theme-white button2 hide-from-desktop">
      </div>
   </ul>
</div>
{% endif %}