{% if request.locale.iso_code == 'el' %}
<div class="filter_list cu_fll_list">
   <ul>
      <h3 class="filter_list hide-from-desktop">Φίλτρα</h3>
      <h2 class="fill_head hide-from-desktop">Φίλτρα</h2>
      <h3 class="fill_by hide-from-desktop"> Φίλτρα</h3>
      <li class="type-filter fill_desktop by-type hide-from-mobile" data-type="by-type">
         <h2 data-ly-mutation-count="1">Κατηγορίες Προϊόντων</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΝΤΗΛΙΑΚΑ ΠΡΟΣΩΠΟΥ" value="αντηλιακα-προσωπου">
               <label for="type_1">ΑΝΤΗΛΙΑΚΑ ΠΡΟΣΩΠΟΥ</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΝΤΗΛΙΑΚΑ ΣΩΜΑΤΟΣ" value="αντηλιακα-σωματοσ">
               <label for="type_2">ΑΝΤΗΛΙΑΚΑ ΣΩΜΑΤΟΣ</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="ΛΑΔΙΑ ΜΑΥΡΙΣΜΑΤΟΣ" value="λαδια-μαυρισματος">
               <label for="type_3">ΛΑΔΙΑ ΜΑΥΡΙΣΜΑΤΟΣ</label>
            </p>
            <p>
               <input type="checkbox" id="type_7" name="radio-group0" class="hh filter-blck by_need" data-value="AFTER SUN" value="after-sun">
               <label for="type_7">AFTER SUN</label>
            </p>
            <p>
               <input type="checkbox" id="type_8" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΝΤΗΛΙΑΚΑ ΜΑΛΛΙΩΝ" value="αντηλιακα-μαλλιων">
               <label for="type_8">ΑΝΤΗΛΙΑΚΑ ΜΑΛΛΙΩΝ</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="ΒΡΕΦΙΚΑ ΑΝΤΗΛΙΑΚΑ" value="βρεφικα-αντηλιακα">
               <label for="type_4">ΒΡΕΦΙΚΑ ΑΝΤΗΛΙΑΚΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="ΠΑΙΔΙΚΑ ΑΝΤΗΛΙΑΚΑ" value="παιδικα-αντηλιακα">
               <label for="type_5">ΠΑΙΔΙΚΑ ΑΝΤΗΛΙΑΚΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_6" name="radio-group0" class="hh filter-blck by_need" data-value="SELF TANNING" value="self-tanning">
               <label for="type_6">SELF TANNING</label>
            </p>
         </div>
      </li>
      <li class="type-filter by-type hide-from-desktop overlay" data-type="by-type">
         <h2 data-ly-mutation-count="1">Κατηγορίες Προϊόντων</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΝΤΗΛΙΑΚΑ ΠΡΟΣΩΠΟΥ" value="αντηλιακα-προσωπου">
               <label for="type_1">ΑΝΤΗΛΙΑΚΑ ΠΡΟΣΩΠΟΥ</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΝΤΗΛΙΑΚΑ ΣΩΜΑΤΟΣ" value="αντηλιακα-σωματοσ">
               <label for="type_2">ΑΝΤΗΛΙΑΚΑ ΣΩΜΑΤΟΣ</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="ΛΑΔΙΑ ΜΑΥΡΙΣΜΑΤΟΣ" value="λαδια-μαυρισματος">
               <label for="type_3">ΛΑΔΙΑ ΜΑΥΡΙΣΜΑΤΟΣ</label>
            </p>
            <p>
               <input type="checkbox" id="type_7" name="radio-group0" class="hh filter-blck by_need" data-value="AFTER SUN" value="after-sun">
               <label for="type_7">AFTER SUN</label>
            </p>
            <p>
               <input type="checkbox" id="type_8" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΝΤΗΛΙΑΚΑ ΜΑΛΛΙΩΝ" value="αντηλιακα-μαλλιων">
               <label for="type_8">ΑΝΤΗΛΙΑΚΑ ΜΑΛΛΙΩΝ</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="ΒΡΕΦΙΚΑ ΑΝΤΗΛΙΑΚΑ" value="βρεφικα-αντηλιακα">
               <label for="type_4">ΒΡΕΦΙΚΑ ΑΝΤΗΛΙΑΚΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="ΠΑΙΔΙΚΑ ΑΝΤΗΛΙΑΚΑ" value="παιδικα-αντηλιακα">
               <label for="type_5">ΠΑΙΔΙΚΑ ΑΝΤΗΛΙΑΚΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_6" name="radio-group0" class="hh filter-blck by_need" data-value="SELF TANNING" value="self-tanning">
               <label for="type_6">SELF TANNING</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-need " data-type="by-need">
         <h2 data-ly-mutation-count="1">Ανάγκες</h2>
         <div class="list_inner" style="display:none;">
            <p class="ΕΥΑΙΣΘΗΤΟ ΔΕΡΜΑ">
               <input type="checkbox" id="need_1" name="radio-need" class="filter-blck by_ingredient" value="ευαισθητο-δερμα">
               <label for="need_1">ΕΥΑΙΣΘΗΤΟ ΔΕΡΜΑ</label>
            </p>
            <p class="ΑΝΤΙΓΗΡΑΝΣΗ/ΠΑΝΑΔΕΣ">
               <input type="checkbox" id="need_2" name="radio-need" class="filter-blck by_ingredient" value="αντιγηρανση-παναδεσ">
               <label for="need_2">ΑΝΤΙΓΗΡΑΝΣΗ/ΠΑΝΑΔΕΣ</label>
            </p>
            <p class="ΕΝΥΔΑΤΩΣΗ ΠΡΟΣΩΠΟΥ">
               <input type="checkbox" id="need_3" name="radio-need" class="filter-blck by_ingredient" value="ενυδατωση">
               <label for="need_3">ΕΝΥΔΑΤΩΣΗ</label>
            </p>
            <p class="ΜΑΥΡΙΣΜΑ">
               <input type="checkbox" id="need_4" name="radio-need" class="filter-blck by_ingredient" value="μαυρισμα">
               <label for="need_4">ΜΑΥΡΙΣΜΑ</label>
            </p>
            <p class="SELF TAN">
               <input type="checkbox" id="need_5" name="radio-need" class="filter-blck by_ingredient" value="self-tan">
               <label for="need_5">SELF TAN</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-ingredient" data-type="by-ingredient">
         <h2 data-ly-mutation-count="1">Συστατικά</h2>
         <div class="list_inner" style="display:none;">
            <p class="ΓΙΑΟΥΡΤΙ">
               <input type="checkbox" id="ing_1" name="radio-ing" class="filter-blck by_ingredient" data-value="ΓΙΑΟΥΡΤΙ" value="γιαουρτι">
               <label for="ing_1">ΓΙΑΟΥΡΤΙ</label>
            </p>
            <p class="ΚΟΚΚΙΝΟ ΣΤΑΦΥΛΙ">
               <input type="checkbox" id="ing_2" name="radio-ing" class="filter-blck by_ingredient" data-value="ΚΟΚΚΙΝΟ ΣΤΑΦΥΛΙ" value="κοκκινο-σταφυλι">
               <label for="ing_2">ΚΟΚΚΙΝΟ ΣΤΑΦΥΛΙ</label>
            </p>
            <p class="ΚΑΡΥΔΑ &amp; ΑΜΥΓΔΑΛΟ">
               <input type="checkbox" id="ing_3" name="radio-ing" class="filter-blck by_ingredient" data-value="ΚΑΡΥΔΑ &amp; ΑΜΥΓΔΑΛΟ" value="καρυδα-αμυγδαλο">
               <label for="ing_3">ΚΑΡΥΔΑ &amp; ΑΜΥΓΔΑΛΟ</label>
            </p>
            <p class="ΑΓΓΟΥΡΙ &amp; ΥΑΛΟΥΡΟΝΙΚΟ">
               <input type="checkbox" id="ing_4" name="radio-ing" class="filter-blck by_ingredient" data-value="ΑΓΓΟΥΡΙ &amp; ΥΑΛΟΥΡΟΝΙΚΟ" value="αγγουρι-υαλουρονικο">
               <label for="ing_4">ΑΓΓΟΥΡΙ &amp; ΥΑΛΟΥΡΟΝΙΚΟ</label>
            </p>
            <p class="GINSENG &amp; ΥΑΛΟΥΡΟΝΙΚΟ">
               <input type="checkbox" id="ing_5" name="radio-ing" class="filter-blck by_ingredient" data-value="GINSENG &amp; ΥΑΛΟΥΡΟΝΙΚΟ" value="ginseng-υαλουρονικο">
               <label for="ing_5">GINSENG &amp; ΥΑΛΟΥΡΟΝΙΚΟ</label>
            </p>
            <p class="ΚΑΡΥΔΙΑ &amp; ΚΑΡΥΔΑ">
               <input type="checkbox" id="ing_6" name="radio-ing" class="filter-blck by_ingredient" data-value="ΚΑΡΥΔΙΑ &amp; ΚΑΡΥΔΑ" value="καρυδια-καρυδα">
               <label for="ing_6">ΚΑΡΥΔΙΑ &amp; ΚΑΡΥΔΑ</label>
            </p>
            <p class="ΑΛΟΗ">
               <input type="checkbox" id="ing_8" name="radio-ing" class="filter-blck by_ingredient" data-value="ΑΛΟΗ" value="αλοη">
               <label for="ing_7">ΑΛΟΗ</label>
            </p>
            <p class="ΚΟΚΚΙΝΟ ΑΜΠΕΛΙ">
               <input type="checkbox" id="ing_7" name="radio-ing" class="filter-blck by_ingredient" data-value="ΚΟΚΚΙΝΟ ΑΜΠΕΛΙ" value="κοκκινο-αμπελι">
               <label for="ing_7">ΚΟΚΚΙΝΟ ΑΜΠΕΛΙ</label>
            </p>
         </div>
      </li>
      <div class="fil_button_cover">
         <button type="submit" class="btn-theme-blue button1 hide-from-desktop"> View
         Products
         </button>
         <input type="reset" value="Reset" class="btn-theme-white button2 hide-from-desktop">
      </div>
   </ul>
</div>
{% else %}
<div class="filter_list cu_fll_list">
   <ul>
      <h3 class="filter_list hide-from-desktop">Filters</h3>
      <h2 class="fill_head hide-from-desktop">Filters</h2>
      <h3 class="fill_by hide-from-desktop"> Filters</h3>
      <li class="type-filter fill_desktop by-type hide-from-mobile" data-type="by-type">
         <h2>By Type</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="FACE SUNSCREENS" value="face-sunscreens">
               <label for="type_1">FACE SUNSCREENS</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="BODY SUNSCREENS" value="body-sunscreens">
               <label for="type_2">BODY SUNSCREENS</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="SUN TAN OILS" value="sun-tan-oils">
               <label for="type_3">SUN TAN OILS</label>
            </p>
             <p>
               <input type="checkbox" id="type_8" name="radio-group0" class="hh filter-blck by_need" data-value="AFTER SUN" value="after-sun">
               <label for="type_8">AFTER SUN</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="HAIR SUN SPRAY" value="hair-sun-spray">
               <label for="type_4">HAIR SUN SPRAY</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="BABY SUNSCREENS" value="baby-sunscreens">
               <label for="type_5">BABY SUNSCREENS</label>
            </p>
            <p>
               <input type="checkbox" id="type_6" name="radio-group0" class="hh filter-blck by_need" data-value="KID'S SUNSCREENS" value="kids-sunscreens">
               <label for="type_6">KID'S SUNSCREENS</label>
            </p>
            <p>
               <input type="checkbox" id="type_7" name="radio-group0" class="hh filter-blck by_need" data-value="SELF TANNING" value="self-tanning">
               <label for="type_7">SELF TANNING</label>
            </p>
         </div>
      </li>
      <li class="type-filter by-type hide-from-desktop overlay" data-type="by-type">
         <h2>By Type</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="FACE SUNSCREENS" value="face-sunscreens">
               <label for="type_1">FACE SUNSCREENS</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="BODY SUNSCREENS" value="body-sunscreens">
               <label for="type_2">BODY SUNSCREENS</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="SUN TAN OILS" value="sun-tan-oils">
               <label for="type_3">SUN TAN OILS</label>
            </p>
             <p>
               <input type="checkbox" id="type_8" name="radio-group0" class="hh filter-blck by_need" data-value="AFTER SUN" value="after-sun">
               <label for="type_8">AFTER SUN</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="HAIR SUN SPRAY" value="hair-sun-spray">
               <label for="type_4">HAIR SUN SPRAY</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="BABY SUNSCREENS" value="baby-sunscreens">
               <label for="type_5">BABY SUNSCREENS</label>
            </p>
            <p>
               <input type="checkbox" id="type_6" name="radio-group0" class="hh filter-blck by_need" data-value="KID'S SUNSCREENS" value="kids-sunscreens">
               <label for="type_6">KID'S SUNSCREENS</label>
            </p>
            <p>
               <input type="checkbox" id="type_7" name="radio-group0" class="hh filter-blck by_need" data-value="SELF TANNING" value="self-tanning">
               <label for="type_7">SELF TANNING</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-need " data-type="by-need">
         <h2>By Need</h2>
         <div class="list_inner" style="display:none;">
            <p class="SENSITIVE SKIN">
               <input type="checkbox" id="need_1" name="radio-need" class="filter-blck by_ingredient" value="sensitive-skin">
               <label for="need_1">SENSITIVE SKIN</label>
            </p>
            <p class="ANTIAGEING/ANTISPOT">
               <input type="checkbox" id="need_2" name="radio-need" class="filter-blck by_ingredient" value="antiageing-antispot">
               <label for="need_2">ANTIAGEING/ANTISPOT</label>
            </p>
            <p class="HYDRATION">
               <input type="checkbox" id="need_3" name="radio-need" class="filter-blck by_ingredient" value="hydration">
               <label for="need_3">HYDRATION</label>
            </p>
            <p class="SUN TAN">
               <input type="checkbox" id="need_4" name="radio-need" class="filter-blck by_ingredient" value="sun-tan">
               <label for="need_4">SUN TAN</label>
            </p>
            <p class="SELF TAN">
               <input type="checkbox" id="need_5" name="radio-need" class="filter-blck by_ingredient" value="self-tan">
               <label for="need_5">SELF TAN</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-ingredient" data-type="by-ingredient">
         <h2>By Ingredient</h2>
         <div class="list_inner" style="display:none;">
            <p class="YOGHURT">
               <input type="checkbox" id="ing_1" name="radio-ing" class="filter-blck by_ingredient" data-value="YOGHURT" value="yoghurt">
               <label for="ing_1">YOGHURT</label>
            </p>
            <p class="RED GRAPE">
               <input type="checkbox" id="ing_2" name="radio-ing" class="filter-blck by_ingredient" data-value="RED GRAPE" value="red-grape">
               <label for="ing_2">RED GRAPE</label>
            </p>
            <p class="COCONUT &amp; ALMOND">
               <input type="checkbox" id="ing_3" name="radio-ing" class="filter-blck by_ingredient" data-value="COCONUT &amp; ALMOND" value="coconut-almond">
               <label for="ing_3">COCONUT &amp; ALMOND</label>
            </p>
            <p class="CUCUMBER &amp; HYALURONIC">
               <input type="checkbox" id="ing_4" name="radio-ing" class="filter-blck by_ingredient" data-value="CUCUMBER &amp; HYALURONIC" value="cucumber-hyaluronic">
               <label for="ing_4">CUCUMBER &amp; HYALURONIC</label>
            </p>
            <p class="GINSENG &amp; HYALURONIC">
               <input type="checkbox" id="ing_5" name="radio-ing" class="filter-blck by_ingredient" data-value="GINSENG &amp; HYALURONIC" value="ginseng-hyaluronic">
               <label for="ing_5">GINSENG &amp; HYALURONIC</label>
            </p>
            <p class="WALNUT &amp; COCONUT">
               <input type="checkbox" id="ing_6" name="radio-ing" class="filter-blck by_ingredient" data-value="WALNUT &amp; COCONUT" value="walnut-coconut">
               <label for="ing_6">WALNUT &amp; COCONUT</label>
            </p>
            <p class="ALOE VERA">
               <input type="checkbox" id="ing_7" name="radio-ing" class="filter-blck by_ingredient" data-value="ALOE VERA" value="aloe-vera">
               <label for="ing_7">ALOE VERA</label>
            </p>
            <p class="RED VINE">
               <input type="checkbox" id="ing_8" name="radio-ing" class="filter-blck by_ingredient" data-value="RED VINE" value="red-vine">
               <label for="ing_8">RED VINE</label>
            </p>
         </div>
      </li>
      <div class="fil_button_cover">
         <button type="submit" class="btn-theme-blue button1 hide-from-desktop"> View
         Products
         </button>
         <input type="reset" value="Reset" class="btn-theme-white button2 hide-from-desktop">
      </div>
   </ul>
</div>
{% endif %}