{% if request.locale.iso_code == 'el' %}
<div class="filter_list cu_fll_list">
   <ul>
      <h3 class="filter_list hide-from-desktop">Φίλτρα</h3>
      <h2 class="fill_head hide-from-desktop">Φίλτρα</h2>
      <h3 class="fill_by hide-from-desktop"> Φίλτρα</h3>
      <li class="type-filter fill_desktop by-type hide-from-mobile" data-type="by-type">
         <h2 data-ly-mutation-count="1">Κατηγορίες Προϊόντων</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="ΒΡΕΦΙΚΑ ΒΙΟΛΟΓΙΚΑ ΓΑΛΑΤΑ" value="βρεφικα-βιολογικα-γαλατα">
               <label for="type_1">ΒΡΕΦΙΚΑ ΒΙΟΛΟΓΙΚΑ ΓΑΛΑΤΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="ΚΑΘΑΡΙΣΜΟΣ &amp; ΦΡΟΝΤΙΔΑ" value="καθαρισμοσ-φροντιδα">
               <label for="type_2">ΚΑΘΑΡΙΣΜΟΣ &amp; ΦΡΟΝΤΙΔΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="ΚΡΕΜΕΣ ΑΛΛΑΓΗΣ ΠΑΝΑΣ" value="κρεμες-αλλαγησ-πανασ">
               <label for="type_3">ΚΡΕΜΕΣ ΑΛΛΑΓΗΣ ΠΑΝΑΣ</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="ΜΠΙΜΠΕΡΟ &amp; ΘΗΛΕΣ" value="μπιμπερο-θηλεσ">
               <label for="type_4">ΜΠΙΜΠΕΡΟ &amp; ΘΗΛΕΣ</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="ΒΡΕΦΙΚΑ ΡΟΥΧΑ &amp; ΑΞΕΣΟΥΑΡ" value="βρεφικα-ρουχα">
               <label for="type_5">ΒΡΕΦΙΚΑ ΡΟΥΧΑ &amp; ΑΞΕΣΟΥΑΡ</label>
            </p>
         </div>
      </li>
      <li class="type-filter by-type hide-from-desktop overlay" data-type="by-type">
         <h2 data-ly-mutation-count="1">Κατηγορίες Προϊόντων</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="ΒΡΕΦΙΚΑ ΒΙΟΛΟΓΙΚΑ ΓΑΛΑΤΑ" value="βρεφικα-βιολογικα-γαλατα">
               <label for="type_1">ΒΡΕΦΙΚΑ ΒΙΟΛΟΓΙΚΑ ΓΑΛΑΤΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="ΚΑΘΑΡΙΣΜΟΣ &amp; ΦΡΟΝΤΙΔΑ" value="καθαρισμοσ-φροντιδα">
               <label for="type_2">ΚΑΘΑΡΙΣΜΟΣ &amp; ΦΡΟΝΤΙΔΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="ΚΡΕΜΕΣ ΑΛΛΑΓΗΣ ΠΑΝΑΣ" value="κρεμες-αλλαγησ-πανασ">
               <label for="type_3">ΚΡΕΜΕΣ ΑΛΛΑΓΗΣ ΠΑΝΑΣ</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="ΜΠΙΜΠΕΡΟ &amp; ΘΗΛΕΣ" value="μπιμπερο-θηλεσ">
               <label for="type_4">ΜΠΙΜΠΕΡΟ &amp; ΘΗΛΕΣ</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="ΒΡΕΦΙΚΑ ΡΟΥΧΑ &amp; ΑΞΕΣΟΥΑΡ" value="βρεφικα-ρουχα">
               <label for="type_5">ΒΡΕΦΙΚΑ ΡΟΥΧΑ &amp; ΑΞΕΣΟΥΑΡ</label>
            </p>
            <p>
               <input type="checkbox" id="type_6" name="radio-group0" class="hh filter-blck by_need" data-value="ΒΡΕΦΙΚΑ ΑΝΤΗΛΙΑΚΑ" value="βρεφικα-αντηλιακα">
               <label for="type_6">ΒΡΕΦΙΚΑ ΑΝΤΗΛΙΑΚΑ</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-need " data-type="by-need">
         <h2 data-ly-mutation-count="1">Ανάγκες</h2>
         <div class="list_inner" style="display:none;">
         </div>
      </li>
      <li class="type-filter fill_desktop by-ingredient" data-type="by-ingredient">
         <h2 data-ly-mutation-count="1">Συστατικά</h2>
         <div class="list_inner" style="display:none;">
         </div>
      </li>
      <div class="fil_button_cover">
         <button type="submit" class="btn-theme-blue button1 hide-from-desktop"> View
         Products
         </button>
         <input type="reset" value="Reset" class="btn-theme-white button2 hide-from-desktop">
      </div>
   </ul>
</div>
{% else %}
<div class="filter_list cu_fll_list">
   <ul>
      <h3 class="filter_list hide-from-desktop">Filters</h3>
      <h2 class="fill_head hide-from-desktop">Filters</h2>
      <h3 class="fill_by hide-from-desktop"> Filters</h3>
      <li class="type-filter fill_desktop by-type hide-from-mobile" data-type="by-type">
         <h2>By Type</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="BABY BIO MILKS" value="baby-bio-milks">
               <label for="type_1">BABY BIO MILKS</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="CLEANSING &amp; CARE" value="cleansing-care">
               <label for="type_2">CLEANSING &amp; CARE</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="NAPPY CHANGE CREAM" value="nappy-change-cream">
               <label for="type_3">NAPPY CHANGE CREAM</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="FEEDING BOTTLES &amp; TEATS" value="feeding-bottles-teats">
               <label for="type_4">FEEDING BOTTLES &amp; TEATS</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="CLOTHES &amp; ACCESSORIES" value="clothes-accessories">
               <label for="type_5">CLOTHES &amp; ACCESSORIES</label>
            </p>
         </div>
      </li>
      <li class="type-filter by-type hide-from-desktop overlay" data-type="by-type">
         <h2>By Type</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="BABY BIO MILKS" value="baby-bio-milks">
               <label for="type_1">BABY BIO MILKS</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="CLEANSING &amp; CARE" value="cleansing-care">
               <label for="type_2">CLEANSING &amp; CARE</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="NAPPY CHANGE CREAM" value="nappy-change-cream">
               <label for="type_3">NAPPY CHANGE CREAM</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="FEEDING BOTTLES &amp; TEATS" value="feeding-bottles-teats">
               <label for="type_4">FEEDING BOTTLES &amp; TEATS</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="CLOTHES &amp; ACCESSORIES" value="clothes-accessories">
               <label for="type_5">CLOTHES &amp; ACCESSORIES</label>
            </p>
             <p>
               <input type="checkbox" id="type_6" name="radio-group0" class="hh filter-blck by_need" data-value="BABY SUNSCREENS" value="baby-sunscreens">
               <label for="type_6">BABY SUNSCREENS</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-need " data-type="by-need">
         <h2>By Need</h2>
         <div class="list_inner" style="display:none;">
         </div>
      </li>
      <li class="type-filter fill_desktop by-ingredient" data-type="by-ingredient">
         <h2>By Ingredient</h2>
         <div class="list_inner" style="display:none;">
         </div>
      </li>
      <div class="fil_button_cover">
         <button type="submit" class="btn-theme-blue button1 hide-from-desktop"> View
         Products
         </button>
         <input type="reset" value="Reset" class="btn-theme-white button2 hide-from-desktop">
      </div>
   </ul>
</div>
{% endif %}