{% if request.locale.iso_code == 'el' %}
<div class="filter_list cu_fll_list">
   <ul>
      <h3 class="filter_list hide-from-desktop">Φίλτρα</h3>
      <h2 class="fill_head hide-from-desktop">Φίλτρα</h2>
      <h3 class="fill_by hide-from-desktop"> Φίλτρα</h3>
      <li class="type-filter fill_desktop by-type hide-from-mobile" data-type="by-type">
         <h2 data-ly-mutation-count="1">Κατηγορίες Προϊόντων</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΝΤΗΛΙΑΚΑ ΠΡΟΣΩΠΟΥ" value="αντηλιακα-προσωπου">
               <label for="type_1">ΑΝΤΗΛΙΑΚΑ ΠΡΟΣΩΠΟΥ</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΦΡΟΛΟΥΤΡΑ" value="αφρολουτρα">
               <label for="type_2">ΑΦΡΟΛΟΥΤΡΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="ΒΑΦΕΣ ΜΑΛΛΙΩΝ" value="βαφεσ-μαλλιων">
               <label for="type_3">ΒΑΦΕΣ ΜΑΛΛΙΩΝ</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="ΚΡΕΜΕΣ ΠΡΟΣΩΠΟΥ" value="κρεμεσ-προσωπου">
               <label for="type_4">ΚΡΕΜΕΣ ΠΡΟΣΩΠΟΥ</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="ΜΑΛΛΙΑ &amp; ΣΩΜΑ ΓΙΑ ΠΑΙΔΙΑ" value="μαλλια-σωμα-για-παιδια">
               <label for="type_5">ΜΑΛΛΙΑ &amp; ΣΩΜΑ ΓΙΑ ΠΑΙΔΙΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_6" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΝΤΗΛΙΑΚΑ ΣΩΜΑΤΟΣ" value="αντηλιακα-σωματοσ">
               <label for="type_6">ΑΝΤΗΛΙΑΚΑ ΣΩΜΑΤΟΣ</label>
            </p>
            <p>
               <input type="checkbox" id="type_7" name="radio-group0" class="hh filter-blck by_need" data-value="ΚΡΕΜΕΣ &amp; ΛΑΔΙΑ &amp; SCRUBS ΣΩΜΑΤΟΣ" value="κρεμεσ-λαδια-scrubs-σωματοσ">
               <label for="type_7">ΚΡΕΜΕΣ &amp; ΛΑΔΙΑ &amp; SCRUBS ΣΩΜΑΤΟΣ</label>
            </p>
            <p>
               <input type="checkbox" id="type_8" name="radio-group0" class="hh filter-blck by_need" data-value="ΜΑΤΙΑ" value="ματια">
               <label for="type_8">ΜΑΤΙΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_9" name="radio-group0" class="hh filter-blck by_need" data-value="ΣΑΜΠΟΥΑΝ" value="σαμπουαν">
               <label for="type_9">ΣΑΜΠΟΥΑΝ</label>
            </p>
            <p>
               <input type="checkbox" id="type_10" name="radio-group0" class="hh filter-blck by_need" data-value="BODY MISTS" value="body-mists">
               <label for="type_10">BODY MISTS</label>
            </p>
            <p>
               <input type="checkbox" id="type_11" name="radio-group0" class="hh filter-blck by_need" data-value="ΚΑΘΑΡΙΣΜΟΣ &amp; ΤΟΝΩΣΗ" value="καθαρισμοσ-τονωση">
               <label for="type_11">ΚΑΘΑΡΙΣΜΟΣ &amp; ΤΟΝΩΣΗ</label>
            </p>
            <p>
               <input type="checkbox" id="type_12" name="radio-group0" class="hh filter-blck by_need" data-value="EAU DE TOILETTE" value="eau-de-toilette">
               <label for="type_12">EAU DE TOILETTE</label>
            </p>
            <p>
               <input type="checkbox" id="type_13" name="radio-group0" class="hh filter-blck by_need" data-value="ΣΥΜΠΛΗΡΩΜΑΤΑ" value="συμπληρωματα">
               <label for="type_13">ΣΥΜΠΛΗΡΩΜΑΤΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_14" name="radio-group0" class="hh filter-blck by_need" data-value="ΕΥΑΙΣΘΗΤΗ ΠΕΡΙΟΧΗ" value="ευαισθητη-περιοχη">
               <label for="type_14">ΕΥΑΙΣΘΗΤΗ ΠΕΡΙΟΧΗ</label>
            </p>
            <p>
               <input type="checkbox" id="type_15" name="radio-group0" class="hh filter-blck by_need" data-value="ΟΔΟΝΤΟΚΡΕΜΕΣ" value="οδοντοκρεμεσ">
               <label for="type_15">ΟΔΟΝΤΟΚΡΕΜΕΣ</label>
            </p>
            <p>
               <input type="checkbox" id="type_16" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΝΔΡΙΚΗ ΠΕΡΙΠΟΙΗΣΗ" value="ανδρικη-περιποιηση">
               <label for="type_16">ΑΝΔΡΙΚΗ ΠΕΡΙΠΟΙΗΣΗ</label>
            </p>
            <p>
               <input type="checkbox" id="type_17" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΝΤΙΦΘΕΙΡΙΚΑ" value="αντιφθειρικα">
               <label for="type_17">ΑΝΤΙΦΘΕΙΡΙΚΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_18" name="radio-group0" class="hh filter-blck by_need" data-value="ΠΑΙΔΙΚΑ ΑΝΤΗΛΙΑΚΑ" value="παιδικα-αντηλιακα">
               <label for="type_18">ΠΑΙΔΙΚΑ ΑΝΤΗΛΙΑΚΑ</label>
            </p>
         </div>
      </li>
      <li class="type-filter by-type hide-from-desktop overlay" data-type="by-type">
         <h2 data-ly-mutation-count="1">Κατηγορίες Προϊόντων</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΝΤΗΛΙΑΚΑ ΠΡΟΣΩΠΟΥ" value="αντηλιακα-προσωπου">
               <label for="type_1">ΑΝΤΗΛΙΑΚΑ ΠΡΟΣΩΠΟΥ</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΦΡΟΛΟΥΤΡΑ" value="αφρολουτρα">
               <label for="type_2">ΑΦΡΟΛΟΥΤΡΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="ΒΑΦΕΣ ΜΑΛΛΙΩΝ" value="βαφεσ-μαλλιων">
               <label for="type_3">ΒΑΦΕΣ ΜΑΛΛΙΩΝ</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="ΚΡΕΜΕΣ ΠΡΟΣΩΠΟΥ" value="κρεμεσ-προσωπου">
               <label for="type_4">ΚΡΕΜΕΣ ΠΡΟΣΩΠΟΥ</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="ΜΑΛΛΙΑ &amp; ΣΩΜΑ ΓΙΑ ΠΑΙΔΙΑ" value="μαλλια-σωμα-για-παιδια">
               <label for="type_5">ΜΑΛΛΙΑ &amp; ΣΩΜΑ ΓΙΑ ΠΑΙΔΙΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_6" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΝΤΗΛΙΑΚΑ ΣΩΜΑΤΟΣ" value="αντηλιακα-σωματοσ">
               <label for="type_6">ΑΝΤΗΛΙΑΚΑ ΣΩΜΑΤΟΣ</label>
            </p>
            <p>
               <input type="checkbox" id="type_7" name="radio-group0" class="hh filter-blck by_need" data-value="ΚΡΕΜΕΣ &amp; ΛΑΔΙΑ &amp; SCRUBS ΣΩΜΑΤΟΣ" value="κρεμεσ-λαδια-scrubs-σωματοσ">
               <label for="type_7">ΚΡΕΜΕΣ &amp; ΛΑΔΙΑ &amp; SCRUBS ΣΩΜΑΤΟΣ</label>
            </p>
            <p>
               <input type="checkbox" id="type_8" name="radio-group0" class="hh filter-blck by_need" data-value="ΜΑΤΙΑ" value="ματια">
               <label for="type_8">ΜΑΤΙΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_9" name="radio-group0" class="hh filter-blck by_need" data-value="ΣΑΜΠΟΥΑΝ" value="σαμπουαν">
               <label for="type_9">ΣΑΜΠΟΥΑΝ</label>
            </p>
            <p>
               <input type="checkbox" id="type_10" name="radio-group0" class="hh filter-blck by_need" data-value="BODY MISTS" value="body-mists">
               <label for="type_10">BODY MISTS</label>
            </p>
            <p>
               <input type="checkbox" id="type_11" name="radio-group0" class="hh filter-blck by_need" data-value="ΚΑΘΑΡΙΣΜΟΣ &amp; ΤΟΝΩΣΗ" value="καθαρισμοσ-τονωση">
               <label for="type_11">ΚΑΘΑΡΙΣΜΟΣ &amp; ΤΟΝΩΣΗ</label>
            </p>
            <p>
               <input type="checkbox" id="type_12" name="radio-group0" class="hh filter-blck by_need" data-value="EAU DE TOILETTE" value="eau-de-toilette">
               <label for="type_12">EAU DE TOILETTE</label>
            </p>
            <p>
               <input type="checkbox" id="type_13" name="radio-group0" class="hh filter-blck by_need" data-value="ΣΥΜΠΛΗΡΩΜΑΤΑ" value="συμπληρωματα">
               <label for="type_13">ΣΥΜΠΛΗΡΩΜΑΤΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_14" name="radio-group0" class="hh filter-blck by_need" data-value="ΕΥΑΙΣΘΗΤΗ ΠΕΡΙΟΧΗ" value="ευαισθητη-περιοχη">
               <label for="type_14">ΕΥΑΙΣΘΗΤΗ ΠΕΡΙΟΧΗ</label>
            </p>
            <p>
               <input type="checkbox" id="type_15" name="radio-group0" class="hh filter-blck by_need" data-value="ΟΔΟΝΤΟΚΡΕΜΕΣ" value="οδοντοκρεμεσ">
               <label for="type_15">ΟΔΟΝΤΟΚΡΕΜΕΣ</label>
            </p>
            <p>
               <input type="checkbox" id="type_16" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΝΔΡΙΚΗ ΠΕΡΙΠΟΙΗΣΗ" value="ανδρικη-περιποιηση">
               <label for="type_16">ΑΝΔΡΙΚΗ ΠΕΡΙΠΟΙΗΣΗ</label>
            </p>
            <p>
               <input type="checkbox" id="type_17" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΝΤΙΦΘΕΙΡΙΚΑ" value="αντιφθειρικα">
               <label for="type_17">ΑΝΤΙΦΘΕΙΡΙΚΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_18" name="radio-group0" class="hh filter-blck by_need" data-value="ΠΑΙΔΙΚΑ ΑΝΤΗΛΙΑΚΑ" value="παιδικα-αντηλιακα">
               <label for="type_18">ΠΑΙΔΙΚΑ ΑΝΤΗΛΙΑΚΑ</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-need " data-type="by-need">
         <h2 data-ly-mutation-count="1">Ανάγκες</h2>
         <div class="list_inner" style="display:none;">
            <p class="ΕΝΤΟΝΟ ΒΛΕΜΜΑ">
               <input type="checkbox" id="need_1" name="radio-need" class="filter-blck by_ingredient" value="εντονο-βλεμμα">
               <label for="need_1">ΕΝΤΟΝΟ ΒΛΕΜΜΑ</label>
            </p>
            <p class="FLORAL">
               <input type="checkbox" id="need_2" name="radio-need" class="filter-blck by_ingredient" value="floral">
               <label for="need_2">FLORAL</label>
            </p>
            <p class="ΒΑΜΜΕΝΑ ΜΑΛΛΙΑ">
               <input type="checkbox" id="need_3" name="radio-need" class="filter-blck by_ingredient" value="βαμμενα-μαλλια">
               <label for="need_3">ΒΑΜΜΕΝΑ ΜΑΛΛΙΑ</label>
            </p>
            <p class="ΕΥΑΙΣΘΗΤΟ ΔΕΡΜΑ">
               <input type="checkbox" id="need_4" name="radio-need" class="filter-blck by_ingredient" value="ευαισθητο-δερμα">
               <label for="need_4">ΕΥΑΙΣΘΗΤΟ ΔΕΡΜΑ</label>
            </p>
            <p class="ΚΑΘΑΡΙΣΜΟΣ">
               <input type="checkbox" id="need_5" name="radio-need" class="filter-blck by_ingredient" value="καθαρισμοσ">
               <label for="need_5">ΚΑΘΑΡΙΣΜΟΣ</label>
            </p>
            <p class="FOUGERE">
               <input type="checkbox" id="need_6" name="radio-need" class="filter-blck by_ingredient" value="fougere">
               <label for="need_6">FOUGERE</label>
            </p>
            <p class="ΚΑΘΗΜΕΡΙΝΗ ΕΝΥΔΑΤΩΣΗ">
               <input type="checkbox" id="need_7" name="radio-need" class="filter-blck by_ingredient" value="καθημερινη-ενυδατωση">
               <label for="need_7">ΚΑΘΗΜΕΡΙΝΗ ΕΝΥΔΑΤΩΣΗ</label>
            </p>
            <p class="ΚΑΝΟΝΙΚΑ ΜΑΛΛΙΑ">
               <input type="checkbox" id="need_8" name="radio-need" class="filter-blck by_ingredient" value="κανονικα-μαλλια">
               <label for="need_8">ΚΑΝΟΝΙΚΑ ΜΑΛΛΙΑ</label>
            </p>
            <p class="ΕΝΥΔΑΤΩΣΗ ΠΡΟΣΩΠΟΥ">
               <input type="checkbox" id="need_9" name="radio-need" class="filter-blck by_ingredient" value="ενυδατωση-προσωπου">
               <label for="need_9">ΕΝΥΔΑΤΩΣΗ ΠΡΟΣΩΠΟΥ</label>
            </p>
            <p class="ΛΕΠΤΑ/ΑΔΥΝΑΜΑ ΜΑΛΛΙΑ">
               <input type="checkbox" id="need_10" name="radio-need" class="filter-blck by_ingredient" value="λεπτα-αδυναμα-μαλλια">
               <label for="need_10">ΛΕΠΤΑ/ΑΔΥΝΑΜΑ ΜΑΛΛΙΑ</label>
            </p>
            <p class="EARTHY &amp; WOODY">
               <input type="checkbox" id="need_11" name="radio-need" class="filter-blck by_ingredient" value="earthy-woody">
               <label for="need_11">EARTHY &amp; WOODY</label>
            </p>
            <p class="ΞΗΡΑ/ΑΦΥΔΑΤΩΜΕΝΑ ΜΑΛΛΙΑ">
               <input type="checkbox" id="need_12" name="radio-need" class="filter-blck by_ingredient" value="ξηρα-αφυδατωμενα-μαλλια">
               <label for="need_12">ΞΗΡΑ/ΑΦΥΔΑΤΩΜΕΝΑ ΜΑΛΛΙΑ</label>
            </p>
            <p class="ΛΙΠΑΡΑ ΜΑΛΛΙΑ">
               <input type="checkbox" id="need_13" name="radio-need" class="filter-blck by_ingredient" value="λιπαρα-μαλλια">
               <label for="need_13">ΛΙΠΑΡΑ ΜΑΛΛΙΑ</label>
            </p>
            <p class="ΜΕΤΑ ΤΗΝ ΕΜΜΗΝΟΠΑΥΣΗ">
               <input type="checkbox" id="need_14" name="radio-need" class="filter-blck by_ingredient" value="μετα-την-εμμηνοπαυση">
               <label for="need_14">ΜΕΤΑ ΤΗΝ ΕΜΜΗΝΟΠΑΥΣΗ</label>
            </p>
            <p class="ΠΙΤΥΡΙΔΑ">
               <input type="checkbox" id="need_15" name="radio-need" class="filter-blck by_ingredient" value="πιτυριδα">
               <label for="need_15">ΠΙΤΥΡΙΔΑ</label>
            </p>
            <p class="ΚΑΤΑ ΤΗΣ ΤΡΙΧΟΠΤΩΣΗΣ">
               <input type="checkbox" id="need_16" name="radio-need" class="filter-blck by_ingredient" value="κατα-τησ-τριχοπτωσησ">
               <label for="need_16">ΚΑΤΑ ΤΗΣ ΤΡΙΧΟΠΤΩΣΗΣ</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-ingredient" data-type="by-ingredient">
         <h2 data-ly-mutation-count="1">Συστατικά</h2>
         <div class="list_inner" style="display:none;">
            <p class="ECHINACEA &amp; VITAMIN C">
               <input type="checkbox" id="ing_1" name="radio-ing" class="filter-blck by_ingredient" data-value="ECHINACEA &amp; VITAMIN C" value="echinacea-vitamin-c">
               <label for="ing_1">ECHINACEA &amp; VITAMIN C</label>
            </p>
            <p class="ARGAN OIL">
               <input type="checkbox" id="ing_2" name="radio-ing" class="filter-blck by_ingredient" data-value="ARGAN OIL" value="argan-oil">
               <label for="ing_2">ARGAN OIL</label>
            </p>
            <p class="WHITE TEA">
               <input type="checkbox" id="ing_3" name="radio-ing" class="filter-blck by_ingredient" data-value="WHITE TEA" value="white-tea">
               <label for="ing_3">WHITE TEA</label>
            </p>
            <p class="ΑΜΠΕΛΙ ΣΑΝΤΟΡΙΝΗΣ">
               <input type="checkbox" id="ing_4" name="radio-ing" class="filter-blck by_ingredient" data-value="ΑΜΠΕΛΙ ΣΑΝΤΟΡΙΝΗΣ" value="αμπελι-σαντορινησ">
               <label for="ing_4">ΑΜΠΕΛΙ ΣΑΝΤΟΡΙΝΗΣ</label>
            </p>
            <p class="ΓΙΑΟΥΡΤΙ">
               <input type="checkbox" id="ing_5" name="radio-ing" class="filter-blck by_ingredient" data-value="ΓΙΑΟΥΡΤΙ" value="γιαουρτι">
               <label for="ing_5">ΓΙΑΟΥΡΤΙ</label>
            </p>
            <p class="CASHMERE KUMQUAT">
               <input type="checkbox" id="ing_6" name="radio-ing" class="filter-blck by_ingredient" data-value="CASHMERE KUMQUAT" value="cashmere-kumquat">
               <label for="ing_6">CASHMERE KUMQUAT</label>
            </p>
            <p class="ΑΛΟΗ &amp;  ΔΙΚΤΑΜΟ">
               <input type="checkbox" id="ing_7" name="radio-ing" class="filter-blck by_ingredient" data-value="ΑΛΟΗ &amp;  ΔΙΚΤΑΜΟ" value="αλοη-δικταμο">
               <label for="ing_7">ΑΛΟΗ &amp;  ΔΙΚΤΑΜΟ</label>
            </p>
            <p class="ΓΙΑΣΕΜΙ">
               <input type="checkbox" id="ing_8" name="radio-ing" class="filter-blck by_ingredient" data-value="ΓΙΑΣΕΜΙ" value="γιασεμι">
               <label for="ing_8">ΓΙΑΣΕΜΙ</label>
            </p>
            <p class="MIDNIGHT DAHLIA">
               <input type="checkbox" id="ing_9" name="radio-ing" class="filter-blck by_ingredient" data-value="MIDNIGHT DAHLIA" value="midnight-dahlia">
               <label for="ing_9">MIDNIGHT DAHLIA</label>
            </p>
            <p class="ΚΑΡΥΔΑ &amp; ΑΜΥΓΔΑΛΟ">
               <input type="checkbox" id="ing_10" name="radio-ing" class="filter-blck by_ingredient" data-value="ΚΑΡΥΔΑ &amp; ΑΜΥΓΔΑΛΟ" value="καρυδα-αμυγδαλο">
               <label for="ing_10">ΚΑΡΥΔΑ &amp; ΑΜΥΓΔΑΛΟ</label>
            </p>
            <p class="ΛΕΥΚΗ ΠΕΥΚΗ">
               <input type="checkbox" id="ing_11" name="radio-ing" class="filter-blck by_ingredient" data-value="ΛΕΥΚΗ ΠΕΥΚΗ" value="λευκη-πευκη">
               <label for="ing_11">ΛΕΥΚΗ ΠΕΥΚΗ</label>
            </p>
            <p class="ΠΡΑΣΙΝΟ ΤΣΑΪ">
               <input type="checkbox" id="ing_12" name="radio-ing" class="filter-blck by_ingredient" data-value="ΠΡΑΣΙΝΟ ΤΣΑΪ" value="πρασινο-τσαϊ">
               <label for="ing_12">ΠΡΑΣΙΝΟ ΤΣΑΪ</label>
            </p>
            <p class="ΠΡΩΤΕΙΝΕΣ ΡΥΖΙΟΥ &amp; ΤΗΛΙΟ">
               <input type="checkbox" id="ing_13" name="radio-ing" class="filter-blck by_ingredient" data-value="ΠΡΩΤΕΙΝΕΣ ΡΥΖΙΟΥ &amp; ΤΗΛΙΟ" value="πρωτεινεσ-ρυζιου-τηλιο">
               <label for="ing_13">ΠΡΩΤΕΙΝΕΣ ΡΥΖΙΟΥ &amp; ΤΗΛΙΟ</label>
            </p>
            <p class="OCEANIC AMBER">
               <input type="checkbox" id="ing_14" name="radio-ing" class="filter-blck by_ingredient" data-value="OCEANIC AMBER" value="oceanic-amber">
               <label for="ing_14">OCEANIC AMBER</label>
            </p>
            <p class="ΑΓΓΟΥΡΙ &amp; ΥΑΛΟΥΡΟΝΙΚΟ">
               <input type="checkbox" id="ing_15" name="radio-ing" class="filter-blck by_ingredient" data-value="ΑΓΓΟΥΡΙ &amp; ΥΑΛΟΥΡΟΝΙΚΟ" value="αγγουρι-υαλουρονικο">
               <label for="ing_15">ΑΓΓΟΥΡΙ &amp; ΥΑΛΟΥΡΟΝΙΚΟ</label>
            </p>
            <p class="ΗΛΙΑΝΘΟΣ &amp; ΤΣΑΪ ΒΟΥΝΟΥ">
               <input type="checkbox" id="ing_16" name="radio-ing" class="filter-blck by_ingredient" data-value="ΗΛΙΑΝΘΟΣ &amp; ΤΣΑΪ ΒΟΥΝΟΥ" value="ηλιανθοσ-τσαϊ-βουνου">
               <label for="ing_16">ΗΛΙΑΝΘΟΣ &amp; ΤΣΑΪ ΒΟΥΝΟΥ</label>
            </p>
            <p class="ΚΙΤΡΟ">
               <input type="checkbox" id="ing_17" name="radio-ing" class="filter-blck by_ingredient" data-value="ΚΙΤΡΟ" value="κιτρο">
               <label for="ing_17">ΚΙΤΡΟ</label>
            </p>
            <p class="GINSENG &amp; ΥΑΛΟΥΡΟΝΙΚΟ">
               <input type="checkbox" id="ing_18" name="radio-ing" class="filter-blck by_ingredient" data-value="GINSENG &amp; ΥΑΛΟΥΡΟΝΙΚΟ" value="ginseng-υαλουρονικο">
               <label for="ing_18">GINSENG &amp; ΥΑΛΟΥΡΟΝΙΚΟ</label>
            </p>
            <p class="MOUNTAIN PEPPER">
               <input type="checkbox" id="ing_19" name="radio-ing" class="filter-blck by_ingredient" data-value="MOUNTAIN PEPPER" value="mountain-pepper">
               <label for="ing_19">MOUNTAIN PEPPER</label>
            </p>
            <p class="ΑΜΥΓΔΑΛΟ &amp; ΛΙΝΑΡΙ">
               <input type="checkbox" id="ing_20" name="radio-ing" class="filter-blck by_ingredient" data-value="ΑΜΥΓΔΑΛΟ &amp; ΛΙΝΑΡΙ" value="αμυγδαλο-λιναρι">
               <label for="ing_20">ΑΜΥΓΔΑΛΟ &amp; ΛΙΝΑΡΙ</label>
            </p>
            <p class="ΤΖΙΝΤΖΕΡ ΜΟΣΧΟΛΕΜΟΝΟ">
               <input type="checkbox" id="ing_21" name="radio-ing" class="filter-blck by_ingredient" data-value="ΤΖΙΝΤΖΕΡ ΜΟΣΧΟΛΕΜΟΝΟ" value="τζιντζερ-μοσχολεμονο">
               <label for="ing_21">ΤΖΙΝΤΖΕΡ ΜΟΣΧΟΛΕΜΟΝΟ</label>
            </p>
            <p class="VOLCANIC MINERALS">
               <input type="checkbox" id="ing_22" name="radio-ing" class="filter-blck by_ingredient" data-value="VOLCANIC MINERALS" value="volcanic-minerals">
               <label for="ing_22">VOLCANIC MINERALS</label>
            </p>
            <p class="ΓΛΥΚΥΡΡΙΖΑ &amp; ΤΣΟΥΚΝΙΔΑ">
               <input type="checkbox" id="ing_23" name="radio-ing" class="filter-blck by_ingredient" data-value="ΓΛΥΚΥΡΡΙΖΑ &amp; ΤΣΟΥΚΝΙΔΑ" value="γλυκυρριζα-τσουκνιδα">
               <label for="ing_23">ΓΛΥΚΥΡΡΙΖΑ &amp; ΤΣΟΥΚΝΙΔΑ</label>
            </p>
            <p class="ΡΟΔΙ">
               <input type="checkbox" id="ing_24" name="radio-ing" class="filter-blck by_ingredient" data-value="ΡΟΔΙ" value="ροδι">
               <label for="ing_24">ΡΟΔΙ</label>
            </p>
            <p class="ΚΥΣΤΙΝΗ &amp; ΓΛΥΚΟΠΡΩΤΕΪΝΕΣ">
               <input type="checkbox" id="ing_25" name="radio-ing" class="filter-blck by_ingredient" data-value="ΚΥΣΤΙΝΗ &amp; ΓΛΥΚΟΠΡΩΤΕΪΝΕΣ" value="κυστινη-γλυκοπρωτεϊνεσ">
               <label for="ing_25">ΚΥΣΤΙΝΗ &amp; ΓΛΥΚΟΠΡΩΤΕΪΝΕΣ</label>
            </p>
         </div>
      </li>
      <div class="fil_button_cover">
         <button type="submit" class="btn-theme-blue button1 hide-from-desktop"> View
         Products
         </button>
         <input type="reset" value="Reset" class="btn-theme-white button2 hide-from-desktop">
      </div>
   </ul>
</div>
{% else %}
<div class="filter_list cu_fll_list">
   <ul>
      <h3 class="filter_list hide-from-desktop">Filters</h3>
      <h2 class="fill_head hide-from-desktop">Filters</h2>
      <h3 class="fill_by hide-from-desktop"> Filters</h3>
      <li class="type-filter fill_desktop by-type hide-from-mobile" data-type="by-type">
         <h2>By Type</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="COLORANTS" value="colorants">
               <label for="type_1">COLORANTS</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="FACE SUNSCREENS" value="face-sunscreens">
               <label for="type_2">FACE SUNSCREENS</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="KID'S HAIR &amp; BODY" value="kids-hair-body">
               <label for="type_3">KID'S HAIR &amp; BODY</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="MOISTURIZERS" value="moisturizers">
               <label for="type_4">MOISTURIZERS</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="SHOWER GELS" value="shower-gels">
               <label for="type_5">SHOWER GELS</label>
            </p>
            <p>
               <input type="checkbox" id="type_6" name="radio-group0" class="hh filter-blck by_need" data-value="BODY CREAMS &amp; OILS &amp; SCRUBS" value="body-creams-oils-scrubs">
               <label for="type_6">BODY CREAMS &amp; OILS &amp; SCRUBS</label>
            </p>
            <p>
               <input type="checkbox" id="type_7" name="radio-group0" class="hh filter-blck by_need" data-value="BODY SUNSCREENS" value="body-sunscreens">
               <label for="type_7">BODY SUNSCREENS</label>
            </p>
            <p>
               <input type="checkbox" id="type_8" name="radio-group0" class="hh filter-blck by_need" data-value="EYES" value="eyes">
               <label for="type_8">EYES</label>
            </p>
            <p>
               <input type="checkbox" id="type_9" name="radio-group0" class="hh filter-blck by_need" data-value="SHAMPOOS" value="shampoos">
               <label for="type_9">SHAMPOOS</label>
            </p>
            <p>
               <input type="checkbox" id="type_10" name="radio-group0" class="hh filter-blck by_need" data-value="BODY MISTS" value="body-mists">
               <label for="type_10">BODY MISTS</label>
            </p>
            <p>
               <input type="checkbox" id="type_11" name="radio-group0" class="hh filter-blck by_need" data-value="CLEANSERS &amp; TONERS" value="cleansers-toners">
               <label for="type_11">CLEANSERS &amp; TONERS</label>
            </p>
            <p>
               <input type="checkbox" id="type_12" name="radio-group0" class="hh filter-blck by_need" data-value="EAU DE TOILETTE" value="eau-de-toilette">
               <label for="type_12">EAU DE TOILETTE</label>
            </p>
            <p>
               <input type="checkbox" id="type_13" name="radio-group0" class="hh filter-blck by_need" data-value="SUPPLEMENTS" value="supplements">
               <label for="type_13">SUPPLEMENTS</label>
            </p>
            <p>
               <input type="checkbox" id="type_14" name="radio-group0" class="hh filter-blck by_need" data-value="INTIMATE" value="intimate">
               <label for="type_14">INTIMATE</label>
            </p>
            <p>
               <input type="checkbox" id="type_15" name="radio-group0" class="hh filter-blck by_need" data-value="ORAL CARE" value="oral-care">
               <label for="type_15">ORAL CARE</label>
            </p>
            <p>
               <input type="checkbox" id="type_16" name="radio-group0" class="hh filter-blck by_need" data-value="ANTI-LICE TREATMENT" value="anti-lice-treatment">
               <label for="type_16">ANTI-LICE TREATMENT</label>
            </p>
            <p>
               <input type="checkbox" id="type_17" name="radio-group0" class="hh filter-blck by_need" data-value="KID'S SUNSCREENS" value="kids-sunscreens">
               <label for="type_17">KID'S SUNSCREENS</label>
            </p>
            <p>
               <input type="checkbox" id="type_18" name="radio-group0" class="hh filter-blck by_need" data-value="MEN'S CARE" value="mens-care">
               <label for="type_18">MEN'S CARE</label>
            </p>
         </div>
      </li>
      <li class="type-filter by-type hide-from-desktop overlay" data-type="by-type">
         <h2>By Type</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="COLORANTS" value="colorants">
               <label for="type_1">COLORANTS</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="FACE SUNSCREENS" value="face-sunscreens">
               <label for="type_2">FACE SUNSCREENS</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="KID'S HAIR &amp; BODY" value="kids-hair-body">
               <label for="type_3">KID'S HAIR &amp; BODY</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="MOISTURIZERS" value="moisturizers">
               <label for="type_4">MOISTURIZERS</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="SHOWER GELS" value="shower-gels">
               <label for="type_5">SHOWER GELS</label>
            </p>
            <p>
               <input type="checkbox" id="type_6" name="radio-group0" class="hh filter-blck by_need" data-value="BODY CREAMS &amp; OILS &amp; SCRUBS" value="body-creams-oils-scrubs">
               <label for="type_6">BODY CREAMS &amp; OILS &amp; SCRUBS</label>
            </p>
            <p>
               <input type="checkbox" id="type_7" name="radio-group0" class="hh filter-blck by_need" data-value="BODY SUNSCREENS" value="body-sunscreens">
               <label for="type_7">BODY SUNSCREENS</label>
            </p>
            <p>
               <input type="checkbox" id="type_8" name="radio-group0" class="hh filter-blck by_need" data-value="EYES" value="eyes">
               <label for="type_8">EYES</label>
            </p>
            <p>
               <input type="checkbox" id="type_9" name="radio-group0" class="hh filter-blck by_need" data-value="SHAMPOOS" value="shampoos">
               <label for="type_9">SHAMPOOS</label>
            </p>
            <p>
               <input type="checkbox" id="type_10" name="radio-group0" class="hh filter-blck by_need" data-value="BODY MISTS" value="body-mists">
               <label for="type_10">BODY MISTS</label>
            </p>
            <p>
               <input type="checkbox" id="type_11" name="radio-group0" class="hh filter-blck by_need" data-value="CLEANSERS &amp; TONERS" value="cleansers-toners">
               <label for="type_11">CLEANSERS &amp; TONERS</label>
            </p>
            <p>
               <input type="checkbox" id="type_12" name="radio-group0" class="hh filter-blck by_need" data-value="EAU DE TOILETTE" value="eau-de-toilette">
               <label for="type_12">EAU DE TOILETTE</label>
            </p>
            <p>
               <input type="checkbox" id="type_13" name="radio-group0" class="hh filter-blck by_need" data-value="SUPPLEMENTS" value="supplements">
               <label for="type_13">SUPPLEMENTS</label>
            </p>
            <p>
               <input type="checkbox" id="type_14" name="radio-group0" class="hh filter-blck by_need" data-value="INTIMATE" value="intimate">
               <label for="type_14">INTIMATE</label>
            </p>
            <p>
               <input type="checkbox" id="type_15" name="radio-group0" class="hh filter-blck by_need" data-value="ORAL CARE" value="oral-care">
               <label for="type_15">ORAL CARE</label>
            </p>
            <p>
               <input type="checkbox" id="type_16" name="radio-group0" class="hh filter-blck by_need" data-value="ANTI-LICE TREATMENT" value="anti-lice-treatment">
               <label for="type_16">ANTI-LICE TREATMENT</label>
            </p>
            <p>
               <input type="checkbox" id="type_17" name="radio-group0" class="hh filter-blck by_need" data-value="KID'S SUNSCREENS" value="kids-sunscreens">
               <label for="type_17">KID'S SUNSCREENS</label>
            </p>
            <p>
               <input type="checkbox" id="type_18" name="radio-group0" class="hh filter-blck by_need" data-value="MEN'S CARE" value="mens-care">
               <label for="type_18">MEN'S CARE</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-need " data-type="by-need">
         <h2>By Need</h2>
         <div class="list_inner" style="display:none;">
            <p class="INTENSE EYES">
               <input type="checkbox" id="need_1" name="radio-need" class="filter-blck by_ingredient" value="intense-eyes">
               <label for="need_1">INTENSE EYES</label>
            </p>
            <p class="CLEANSING">
               <input type="checkbox" id="need_2" name="radio-need" class="filter-blck by_ingredient" value="cleansing">
               <label for="need_2">CLEANSING</label>
            </p>
            <p class="COLOURED HAIR">
               <input type="checkbox" id="need_3" name="radio-need" class="filter-blck by_ingredient" value="coloured-hair">
               <label for="need_3">COLOURED HAIR</label>
            </p>
            <p class="FLORAL">
               <input type="checkbox" id="need_4" name="radio-need" class="filter-blck by_ingredient" value="floral">
               <label for="need_4">FLORAL</label>
            </p>
            <p class="SENSITIVE SKIN">
               <input type="checkbox" id="need_5" name="radio-need" class="filter-blck by_ingredient" value="sensitive-skin">
               <label for="need_5">SENSITIVE SKIN</label>
            </p>
            <p class="EVERYDAY HYDRATION">
               <input type="checkbox" id="need_6" name="radio-need" class="filter-blck by_ingredient" value="everyday-hydration">
               <label for="need_6">EVERYDAY HYDRATION</label>
            </p>
            <p class="FRESH">
               <input type="checkbox" id="need_7" name="radio-need" class="filter-blck by_ingredient" value="fresh">
               <label for="need_7">FRESH</label>
            </p>
            <p class="NORMAL HAIR">
               <input type="checkbox" id="need_8" name="radio-need" class="filter-blck by_ingredient" value="normal-hair">
               <label for="need_8">NORMAL HAIR</label>
            </p>
            <p class="FACE HYDRATION">
               <input type="checkbox" id="need_9" name="radio-need" class="filter-blck by_ingredient" value="face-hydration">
               <label for="need_9">FACE HYDRATION</label>
            </p>
            <p class="THIN/WEAK HAIR">
               <input type="checkbox" id="need_10" name="radio-need" class="filter-blck by_ingredient" value="thin-weak-hair">
               <label for="need_10">THIN/WEAK HAIR</label>
            </p>
            <p class="DRY/DAMAGED HAIR">
               <input type="checkbox" id="need_11" name="radio-need" class="filter-blck by_ingredient" value="dry-damaged-hair">
               <label for="need_11">DRY/DAMAGED HAIR</label>
            </p>
            <p class="EARTHY &amp; WOODY">
               <input type="checkbox" id="need_12" name="radio-need" class="filter-blck by_ingredient" value="earthy-woody">
               <label for="need_12">EARTHY &amp; WOODY</label>
            </p>
            <p class="OILY HAIR">
               <input type="checkbox" id="need_13" name="radio-need" class="filter-blck by_ingredient" value="oily-hair">
               <label for="need_13">OILY HAIR</label>
            </p>
            <p class="DANDRUFF">
               <input type="checkbox" id="need_14" name="radio-need" class="filter-blck by_ingredient" value="dandruff">
               <label for="need_14">DANDRUFF</label>
            </p>
            <p class="POST MENOPAUSE">
               <input type="checkbox" id="need_15" name="radio-need" class="filter-blck by_ingredient" value="post-menopause">
               <label for="need_15">POST MENOPAUSE</label>
            </p>
            <p class="HAIR LOSS">
               <input type="checkbox" id="need_16" name="radio-need" class="filter-blck by_ingredient" value="hair-loss">
               <label for="need_16">HAIR LOSS</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-ingredient" data-type="by-ingredient">
         <h2>By Ingredient</h2>
         <div class="list_inner" style="display:none;">
            <p class="ECHINACEA &amp; VITAMIN C">
               <input type="checkbox" id="ing_1" name="radio-ing" class="filter-blck by_ingredient" data-value="ECHINACEA &amp; VITAMIN C" value="echinacea-vitamin-c">
               <label for="ing_1">ECHINACEA &amp; VITAMIN C</label>
            </p>
            <p class="ARGAN OIL">
               <input type="checkbox" id="ing_2" name="radio-ing" class="filter-blck by_ingredient" data-value="ARGAN OIL" value="argan-oil">
               <label for="ing_2">ARGAN OIL</label>
            </p>
            <p class="SANTORINI VINE">
               <input type="checkbox" id="ing_3" name="radio-ing" class="filter-blck by_ingredient" data-value="SANTORINI VINE" value="santorini-vine">
               <label for="ing_3">SANTORINI VINE</label>
            </p>
            <p class="WHITE TEA">
               <input type="checkbox" id="ing_4" name="radio-ing" class="filter-blck by_ingredient" data-value="WHITE TEA" value="white-tea">
               <label for="ing_4">WHITE TEA</label>
            </p>
            <p class="YOGHURT">
               <input type="checkbox" id="ing_5" name="radio-ing" class="filter-blck by_ingredient" data-value="YOGHURT" value="yoghurt">
               <label for="ing_5">YOGHURT</label>
            </p>
            <p class="ALOE &amp; DITTANY">
               <input type="checkbox" id="ing_6" name="radio-ing" class="filter-blck by_ingredient" data-value="ALOE &amp; DITTANY" value="aloe-dittany">
               <label for="ing_6">ALOE &amp; DITTANY</label>
            </p>
            <p class="CASHMERE KUMQUAT">
               <input type="checkbox" id="ing_7" name="radio-ing" class="filter-blck by_ingredient" data-value="CASHMERE KUMQUAT" value="cashmere-kumquat">
               <label for="ing_7">CASHMERE KUMQUAT</label>
            </p>
            <p class="JASMINE">
               <input type="checkbox" id="ing_8" name="radio-ing" class="filter-blck by_ingredient" data-value="JASMINE" value="jasmine">
               <label for="ing_8">JASMINE</label>
            </p>
            <p class="COCONUT &amp; ALMOND">
               <input type="checkbox" id="ing_9" name="radio-ing" class="filter-blck by_ingredient" data-value="COCONUT &amp; ALMOND" value="coconut-almond">
               <label for="ing_9">COCONUT &amp; ALMOND</label>
            </p>
            <p class="MIDNIGHT DAHLIA">
               <input type="checkbox" id="ing_10" name="radio-ing" class="filter-blck by_ingredient" data-value="MIDNIGHT DAHLIA" value="midnight-dahlia">
               <label for="ing_10">MIDNIGHT DAHLIA</label>
            </p>
            <p class="MINT TEA">
               <input type="checkbox" id="ing_11" name="radio-ing" class="filter-blck by_ingredient" data-value="MINT TEA" value="mint-tea">
               <label for="ing_11">MINT TEA</label>
            </p>
            <p class="RICE PROTEINS &amp; LINDEN">
               <input type="checkbox" id="ing_12" name="radio-ing" class="filter-blck by_ingredient" data-value="RICE PROTEINS &amp; LINDEN" value="rice-proteins-linden">
               <label for="ing_12">RICE PROTEINS &amp; LINDEN</label>
            </p>
            <p class="WHITE PINE">
               <input type="checkbox" id="ing_13" name="radio-ing" class="filter-blck by_ingredient" data-value="WHITE PINE" value="white-pine">
               <label for="ing_13">WHITE PINE</label>
            </p>
            <p class="CITRUS">
               <input type="checkbox" id="ing_14" name="radio-ing" class="filter-blck by_ingredient" data-value="CITRUS" value="citrus">
               <label for="ing_14">CITRUS</label>
            </p>
            <p class="CUCUMBER &amp; HYALURONIC">
               <input type="checkbox" id="ing_15" name="radio-ing" class="filter-blck by_ingredient" data-value="CUCUMBER &amp; HYALURONIC" value="cucumber-hyaluronic">
               <label for="ing_15">CUCUMBER &amp; HYALURONIC</label>
            </p>
            <p class="OCEANIC AMBER">
               <input type="checkbox" id="ing_16" name="radio-ing" class="filter-blck by_ingredient" data-value="OCEANIC AMBER" value="oceanic-amber">
               <label for="ing_16">OCEANIC AMBER</label>
            </p>
            <p class="SUNFLOWER &amp; MOUNTAIN TEA">
               <input type="checkbox" id="ing_17" name="radio-ing" class="filter-blck by_ingredient" data-value="SUNFLOWER &amp; MOUNTAIN TEA" value="sunflower-mountain-tea">
               <label for="ing_17">SUNFLOWER &amp; MOUNTAIN TEA</label>
            </p>
            <p class="ALMOND &amp; LINSEED">
               <input type="checkbox" id="ing_18" name="radio-ing" class="filter-blck by_ingredient" data-value="ALMOND &amp; LINSEED" value="almond-linseed">
               <label for="ing_18">ALMOND &amp; LINSEED</label>
            </p>
            <p class="GINGER LIME">
               <input type="checkbox" id="ing_19" name="radio-ing" class="filter-blck by_ingredient" data-value="GINGER LIME" value="ginger-lime">
               <label for="ing_19">GINGER LIME</label>
            </p>
            <p class="GINSENG &amp; HYALURONIC">
               <input type="checkbox" id="ing_20" name="radio-ing" class="filter-blck by_ingredient" data-value="GINSENG &amp; HYALURONIC" value="ginseng-hyaluronic">
               <label for="ing_20">GINSENG &amp; HYALURONIC</label>
            </p>
            <p class="MOUNTAIN PEPPER">
               <input type="checkbox" id="ing_21" name="radio-ing" class="filter-blck by_ingredient" data-value="MOUNTAIN PEPPER" value="mountain-pepper">
               <label for="ing_21">MOUNTAIN PEPPER</label>
            </p>
            <p class="LIQUORICE &amp; URTICA">
               <input type="checkbox" id="ing_22" name="radio-ing" class="filter-blck by_ingredient" data-value="LIQUORICE &amp; URTICA" value="liquorice-urtica">
               <label for="ing_22">LIQUORICE &amp; URTICA</label>
            </p>
            <p class="POMEGRANATE">
               <input type="checkbox" id="ing_23" name="radio-ing" class="filter-blck by_ingredient" data-value="POMEGRANATE" value="pomegranate">
               <label for="ing_23">POMEGRANATE</label>
            </p>
            <p class="VOLCANIC MINERALS">
               <input type="checkbox" id="ing_24" name="radio-ing" class="filter-blck by_ingredient" data-value="VOLCANIC MINERALS" value="volcanic-minerals">
               <label for="ing_24">VOLCANIC MINERALS</label>
            </p>
            <p class="CYSTINE &amp; GLYCOPROTEINS">
               <input type="checkbox" id="ing_25" name="radio-ing" class="filter-blck by_ingredient" data-value="CYSTINE &amp; GLYCOPROTEINS" value="cystine-glycoproteins">
               <label for="ing_25">CYSTINE &amp; GLYCOPROTEINS</label>
            </p>
         </div>
      </li>
      <div class="fil_button_cover">
         <button type="submit" class="btn-theme-blue button1 hide-from-desktop"> View
         Products
         </button>
         <input type="reset" value="Reset" class="btn-theme-white button2 hide-from-desktop">
      </div>
   </ul>
</div>
{% endif %}