{% if request.locale.iso_code == 'el' %}
<div class="filter_list cu_fll_list">
   <ul>
      <h3 class="filter_list hide-from-desktop">Φίλτρα</h3>
      <h2 class="fill_head hide-from-desktop">Φίλτρα</h2>
      <h3 class="fill_by hide-from-desktop"> Φίλτρα</h3>
      <li class="type-filter fill_desktop by-type hide-from-mobile" data-type="by-type">
         <h2 data-ly-mutation-count="1">Κατηγορίες Προϊόντων</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΦΡΟΛΟΥΤΡΑ" value="αφρολουτρα">
               <label for="type_1">ΑΦΡΟΛΟΥΤΡΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="ΚΡΕΜΕΣ ΣΩΜΑΤΟΣ, ΑΠΟΛΕΠΙΣΗΣ &amp; ΛΑΔΙΑ" value="κρεμες-σωματος-απολεπισης-λαδια">
               <label for="type_2">ΚΡΕΜΕΣ ΣΩΜΑΤΟΣ, ΑΠΟΛΕΠΙΣΗΣ &amp; ΛΑΔΙΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="BODY MISTS" value="body-mists">
               <label for="type_3">BODY MISTS</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="ΜΠΑΡΕΣ ΣΑΠΟΥΝΙΩΝ" value="μπαρες-σαπουνιων">
               <label for="type_4">ΜΠΑΡΕΣ ΣΑΠΟΥΝΙΩΝ</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="ΕΥΑΙΣΘΗΤΗ ΠΕΡΙΟΧΗ" value="ευαισθητη-περιοχη">
               <label for="type_5">ΕΥΑΙΣΘΗΤΗ ΠΕΡΙΟΧΗ</label>
            </p>
            <p>
               <input type="checkbox" id="type_6" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΠΟΣΜΗΤΙΚΑ" value="αποσμητικα">
               <label for="type_6">ΑΠΟΣΜΗΤΙΚΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_7" name="radio-group0" class="hh filter-blck by_need" data-value="ΠΕΡΙΠΟΙΗΣΗ ΧΕΡΙΩΝ" value="περιποιηση-χεριων">
               <label for="type_7">ΠΕΡΙΠΟΙΗΣΗ ΧΕΡΙΩΝ</label>
            </p>
            <p>
               <input type="checkbox" id="type_8" name="radio-group0" class="hh filter-blck by_need" data-value="ΣΕΙΡΑ ΕΛΑΙΩΝΑΣ ΚΡΗΤΗΣ" value="σειρα-ελαιωνας-κρητης">
               <label for="type_8">ΣΕΙΡΑ ΕΛΑΙΩΝΑΣ ΚΡΗΤΗΣ</label>
            </p>
         </div>
      </li>
      <li class="type-filter by-type hide-from-desktop overlay" data-type="by-type">
         <h2 data-ly-mutation-count="1">Κατηγορίες Προϊόντων</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΦΡΟΛΟΥΤΡΑ" value="αφρολουτρα">
               <label for="type_1">ΑΦΡΟΛΟΥΤΡΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="ΚΡΕΜΕΣ ΣΩΜΑΤΟΣ, ΑΠΟΛΕΠΙΣΗΣ &amp; ΛΑΔΙΑ" value="κρεμες-σωματος-απολεπισης-λαδια">
               <label for="type_2">ΚΡΕΜΕΣ ΣΩΜΑΤΟΣ, ΑΠΟΛΕΠΙΣΗΣ &amp; ΛΑΔΙΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="BODY MISTS" value="body-mists">
               <label for="type_3">BODY MISTS</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="ΜΠΑΡΕΣ ΣΑΠΟΥΝΙΩΝ" value="μπαρες-σαπουνιων">
               <label for="type_4">ΜΠΑΡΕΣ ΣΑΠΟΥΝΙΩΝ</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="ΕΥΑΙΣΘΗΤΗ ΠΕΡΙΟΧΗ" value="ευαισθητη-περιοχη">
               <label for="type_5">ΕΥΑΙΣΘΗΤΗ ΠΕΡΙΟΧΗ</label>
            </p>
            <p>
               <input type="checkbox" id="type_6" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΠΟΣΜΗΤΙΚΑ" value="αποσμητικα">
               <label for="type_6">ΑΠΟΣΜΗΤΙΚΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_7" name="radio-group0" class="hh filter-blck by_need" data-value="ΠΕΡΙΠΟΙΗΣΗ ΧΕΡΙΩΝ" value="περιποιηση-χεριων">
               <label for="type_7">ΠΕΡΙΠΟΙΗΣΗ ΧΕΡΙΩΝ</label>
            </p>
            <p>
               <input type="checkbox" id="type_8" name="radio-group0" class="hh filter-blck by_need" data-value="ΣΕΙΡΑ ΕΛΑΙΩΝΑΣ ΚΡΗΤΗΣ" value="σειρα-ελαιωνας-κρητης">
               <label for="type_8">ΣΕΙΡΑ ΕΛΑΙΩΝΑΣ ΚΡΗΤΗΣ</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-need " data-type="by-need">
         <h2 data-ly-mutation-count="1">Ανάγκες</h2>
         <div class="list_inner" style="display:none;">
            <p class="ΚΑΘΑΡΙΣΜΟΣ">
               <input type="checkbox" id="need_1" name="radio-need" class="filter-blck by_ingredient" value="καθαρισμοσ">
               <label for="need_1">ΚΑΘΑΡΙΣΜΟΣ</label>
            </p>
            <p class="ΚΑΘΗΜΕΡΙΝΗ ΕΝΥΔΑΤΩΣΗ">
               <input type="checkbox" id="need_2" name="radio-need" class="filter-blck by_ingredient" value="καθημερινη-ενυδατωση">
               <label for="need_2">ΚΑΘΗΜΕΡΙΝΗ ΕΝΥΔΑΤΩΣΗ</label>
            </p>
            <p class="ΕΝΙΣΧΥΜΕΝΗ ΕΝΥΔΑΤΩΣΗ">
               <input type="checkbox" id="need_4" name="radio-need" class="filter-blck by_ingredient" value="ενισχυμενη-ενυδατωση">
               <label for="need_4">ΕΝΙΣΧΥΜΕΝΗ ΕΝΥΔΑΤΩΣΗ</label>
            </p>
            <p class="ΣΥΣΦΙΓΞΗ ΣΩΜΑΤΟΣ">
               <input type="checkbox" id="need_6" name="radio-need" class="filter-blck by_ingredient" value="συσφιγξη-σωματοσ">
               <label for="need_6">ΣΥΣΦΙΓΞΗ ΣΩΜΑΤΟΣ</label>
            </p>
            <p class="ΑΠΟΛΕΠΙΣΗ">
               <input type="checkbox" id="need_7" name="radio-need" class="filter-blck by_ingredient" value="απολεπιση">
               <label for="need_7">ΑΠΟΛΕΠΙΣΗ</label>
            </p>
            <p class="ΛΑΜΨΗ">
               <input type="checkbox" id="need_5" name="radio-need" class="filter-blck by_ingredient" value="λαμψη">
               <label for="need_5">ΛΑΜΨΗ</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-ingredient" data-type="by-ingredient">
         <h2 data-ly-mutation-count="1">Συστατικά</h2>
         <div class="list_inner" style="display:none;">
            <p class="ΑΜΠΕΛΙ ΣΑΝΤΟΡΙΝΗΣ">
               <input type="checkbox" id="ing_2" name="radio-ing" class="filter-blck by_ingredient" data-value="ΑΜΠΕΛΙ ΣΑΝΤΟΡΙΝΗΣ" value="αμπελι-σαντορινησ">
               <label for="ing_2">ΑΜΠΕΛΙ ΣΑΝΤΟΡΙΝΗΣ</label>
            </p>
            <p class="ΓΙΑΣΕΜΙ">
               <input type="checkbox" id="ing_3" name="radio-ing" class="filter-blck by_ingredient" data-value="ΓΙΑΣΕΜΙ" value="γιασεμι">
               <label for="ing_3">ΓΙΑΣΕΜΙ</label>
            </p>
            <p class="ΠΡΑΣΙΝΟ ΤΣΑΪ">
               <input type="checkbox" id="ing_4" name="radio-ing" class="filter-blck by_ingredient" data-value="ΠΡΑΣΙΝΟ ΤΣΑΪ" value="πρασινο-τσαϊ">
               <label for="ing_4">ΠΡΑΣΙΝΟ ΤΣΑΪ</label>
            </p>
            <p class="ΚΙΤΡΟ">
               <input type="checkbox" id="ing_6" name="radio-ing" class="filter-blck by_ingredient" data-value="ΚΙΤΡΟ" value="κιτρο">
               <label for="ing_6">ΚΙΤΡΟ</label>
            </p>
            <p class="ΤΖΙΝΤΖΕΡ ΜΟΣΧΟΛΕΜΟΝΟ">
               <input type="checkbox" id="ing_7" name="radio-ing" class="filter-blck by_ingredient" data-value="ΤΖΙΝΤΖΕΡ ΜΟΣΧΟΛΕΜΟΝΟ" value="τζιντζερ-μοσχολεμονο">
               <label for="ing_7">ΤΖΙΝΤΖΕΡ ΜΟΣΧΟΛΕΜΟΝΟ</label>
            </p>
            <p class="ΕΛΙΑ">
               <input type="checkbox" id="ing_8" name="radio-ing" class="filter-blck by_ingredient" data-value="ΕΛΙΑ" value="ελια">
               <label for="ing_8">ΕΛΙΑ</label>
            </p>
         </div>
      </li>
      <div class="fil_button_cover">
         <button type="submit" class="btn-theme-blue button1 hide-from-desktop"> View
         Products
         </button>
         <input type="reset" value="Reset" class="btn-theme-white button2 hide-from-desktop">
      </div>
   </ul>
</div>
{% else %}
<div class="filter_list cu_fll_list">
   <ul>
      <h3 class="filter_list hide-from-desktop">Filters</h3>
      <h2 class="fill_head hide-from-desktop">Filters</h2>
      <h3 class="fill_by hide-from-desktop"> Filters</h3>
      <li class="type-filter fill_desktop by-type hide-from-mobile" data-type="by-type">
         <h2>By Type</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="SHOWER GELS" value="shower-gels">
               <label for="type_1">SHOWER GELS</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="BODY CREAMS, OILS, SCRUBS" value="body-creams-oils-scrubs">
               <label for="type_2">BODY CREAMS, OILS, SCRUBS</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="BODY MISTS" value="body-mists">
               <label for="type_3">BODY MISTS</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="BAR SOAPS" value="bar-soaps">
               <label for="type_4">BAR SOAPS</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="INTIMATE" value="intimate">
               <label for="type_5">INTIMATE</label>
            </p>
            <p>
               <input type="checkbox" id="type_6" name="radio-group0" class="hh filter-blck by_need" data-value="DEODORANTS" value="deodorants">
               <label for="type_6">DEODORANTS</label>
            </p>
            <p>
               <input type="checkbox" id="type_7" name="radio-group0" class="hh filter-blck by_need" data-value="HAND CARE" value="hand-care">
               <label for="type_7">HAND CARE</label>
            </p>
            <p>
               <input type="checkbox" id="type_8" name="radio-group0" class="hh filter-blck by_need" data-value="PURE GREEK OLIVE LINE" value="pure-greek-olive-line">
               <label for="type_8">PURE GREEK OLIVE LINE</label>
            </p>
         </div>
      </li>
      <li class="type-filter by-type hide-from-desktop overlay" data-type="by-type">
         <h2>By Type</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="SHOWER GELS" value="shower-gels">
               <label for="type_1">SHOWER GELS</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="BODY CREAMS, OILS, SCRUBS" value="body-creams-oils-scrubs">
               <label for="type_2">BODY CREAMS, OILS, SCRUBS</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="BODY MISTS" value="body-mists">
               <label for="type_3">BODY MISTS</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="BAR SOAPS" value="bar-soaps">
               <label for="type_4">BAR SOAPS</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="INTIMATE" value="intimate">
               <label for="type_5">INTIMATE</label>
            </p>
            <p>
               <input type="checkbox" id="type_6" name="radio-group0" class="hh filter-blck by_need" data-value="DEODORANTS" value="deodorants">
               <label for="type_6">DEODORANTS</label>
            </p>
            <p>
               <input type="checkbox" id="type_7" name="radio-group0" class="hh filter-blck by_need" data-value="HAND CARE" value="hand-care">
               <label for="type_7">HAND CARE</label>
            </p>
            <p>
               <input type="checkbox" id="type_8" name="radio-group0" class="hh filter-blck by_need" data-value="PURE GREEK OLIVE LINE" value="pure-greek-olive-line">
               <label for="type_8">PURE GREEK OLIVE LINE</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-need " data-type="by-need">
         <h2>By Need</h2>
         <div class="list_inner" style="display:none;">
            <p class="CLEANSING">
               <input type="checkbox" id="need_1" name="radio-need" class="filter-blck by_ingredient" value="cleansing">
               <label for="need_1">CLEANSING</label>
            </p>
            <p class="EVERYDAY HYDRATION">
               <input type="checkbox" id="need_2" name="radio-need" class="filter-blck by_ingredient" value="everyday-hydration">
               <label for="need_2">EVERYDAY HYDRATION</label>
            </p>
            <p class="INTENSIVE HYDRATION">
               <input type="checkbox" id="need_3" name="radio-need" class="filter-blck by_ingredient" value="intensive-hydration">
               <label for="need_3">INTENSIVE HYDRATION</label>
            </p>
            <p class="BODY FIRMING">
               <input type="checkbox" id="need_4" name="radio-need" class="filter-blck by_ingredient" value="body-firming">
               <label for="need_4">BODY FIRMING</label>
            </p>
            <p class="EXFOLIATION">
               <input type="checkbox" id="need_5" name="radio-need" class="filter-blck by_ingredient" value="exfoliation">
               <label for="need_5">EXFOLIATION</label>
            </p>
            <p class="GLOW">
               <input type="checkbox" id="need_6" name="radio-need" class="filter-blck by_ingredient" value="glow">
               <label for="need_6">GLOW</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-ingredient" data-type="by-ingredient">
         <h2>By Ingredient</h2>
         <div class="list_inner" style="display:none;">
            <p class="SANTORINI VINE">
               <input type="checkbox" id="ing_1" name="radio-ing" class="filter-blck by_ingredient" data-value="SANTORINI VINE" value="santorini-vine">
               <label for="ing_1">SANTORINI VINE</label>
            </p>
            <p class="JASMINE">
               <input type="checkbox" id="ing_3" name="radio-ing" class="filter-blck by_ingredient" data-value="JASMINE" value="jasmine">
               <label for="ing_3">JASMINE</label>
            </p>
            <p class="MINT TEA">
               <input type="checkbox" id="ing_4" name="radio-ing" class="filter-blck by_ingredient" data-value="MINT TEA" value="mint-tea">
               <label for="ing_4">MINT TEA</label>
            </p>
            <p class="CITRUS">
               <input type="checkbox" id="ing_5" name="radio-ing" class="filter-blck by_ingredient" data-value="CITRUS" value="citrus">
               <label for="ing_5">CITRUS</label>
            </p>
            <p class="GINGER LIME">
               <input type="checkbox" id="ing_7" name="radio-ing" class="filter-blck by_ingredient" data-value="GINGER LIME" value="ginger-lime">
               <label for="ing_7">GINGER LIME</label>
            </p>
            <p class="OLIVE">
               <input type="checkbox" id="ing_8" name="radio-ing" class="filter-blck by_ingredient" data-value="OLIVE" value="olive">
               <label for="ing_8">OLIVE</label>
            </p>
         </div>
      </li>
      <div class="fil_button_cover">
         <button type="submit" class="btn-theme-blue button1 hide-from-desktop"> View
         Products
         </button>
         <input type="reset" value="Reset" class="btn-theme-white button2 hide-from-desktop">
      </div>
   </ul>
</div>
{% endif %}