{% if request.locale.iso_code == 'el' %}
<div class="filter_list cu_fll_list">
   <ul>
      <h3 class="filter_list hide-from-desktop">Φίλτρα</h3>
      <h2 class="fill_head hide-from-desktop">Φίλτρα</h2>
      <h3 class="fill_by hide-from-desktop"> Φίλτρα</h3>
      <li class="type-filter fill_desktop by-type hide-from-mobile" data-type="by-type">
         <h2 data-ly-mutation-count="1">Κατηγορίες Προϊόντων</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="ΒΑΦΕΣ ΜΑΛΛΙΩΝ" value="βαφεσ-μαλλιων">
               <label for="type_1">ΒΑΦΕΣ ΜΑΛΛΙΩΝ</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="ΣΑΜΠΟΥΑΝ ΜΑΛΛΙΩΝ" value="σαμπουαν-μαλλιων">
               <label for="type_2">ΣΑΜΠΟΥΑΝ ΜΑΛΛΙΩΝ</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="CONDITIONERS ΜΑΛΛΙΩΝ" value="conditioners-μαλλιων">
               <label for="type_3">CONDITIONERS ΜΑΛΛΙΩΝ</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="ΜΑΣΚΑ ΜΑΛΛΙΩΝ" value="μασκα-μαλλιων">
               <label for="type_4">ΜΑΣΚΑ ΜΑΛΛΙΩΝ</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="STYLING ΜΑΛΛΙΩΝ" value="styling-μαλλιων">
               <label for="type_5">STYLING ΜΑΛΛΙΩΝ</label>
            </p>
            <p>
               <input type="checkbox" id="type_6" name="radio-group0" class="hh filter-blck by_need" data-value="ΣΕΙΡΑ ΕΛΑΙΩΝΑΣ ΚΡΗΤΗΣ" value="σειρα-ελαιωνας-κρητης">
               <label for="type_6">ΣΕΙΡΑ ΕΛΑΙΩΝΑΣ ΚΡΗΤΗΣ</label>
            </p>
         </div>
      </li>
      <li class="type-filter by-type hide-from-desktop overlay" data-type="by-type">
         <h2 data-ly-mutation-count="1">Κατηγορίες Προϊόντων</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="ΒΑΦΕΣ ΜΑΛΛΙΩΝ" value="βαφεσ-μαλλιων">
               <label for="type_1">ΒΑΦΕΣ ΜΑΛΛΙΩΝ</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="ΣΑΜΠΟΥΑΝ ΜΑΛΛΙΩΝ" value="σαμπουαν-μαλλιων">
               <label for="type_2">ΣΑΜΠΟΥΑΝ ΜΑΛΛΙΩΝ</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="CONDITIONERS ΜΑΛΛΙΩΝ" value="conditioners-μαλλιων">
               <label for="type_3">CONDITIONERS ΜΑΛΛΙΩΝ</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="ΜΑΣΚΑ ΜΑΛΛΙΩΝ" value="μασκα-μαλλιων">
               <label for="type_4">ΜΑΣΚΑ ΜΑΛΛΙΩΝ</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="STYLING ΜΑΛΛΙΩΝ" value="styling-μαλλιων">
               <label for="type_5">STYLING ΜΑΛΛΙΩΝ</label>
            </p>
            <p>
               <input type="checkbox" id="type_6" name="radio-group0" class="hh filter-blck by_need" data-value="ΣΕΙΡΑ ΕΛΑΙΩΝΑΣ ΚΡΗΤΗΣ" value="σειρα-ελαιωνας-κρητης">
               <label for="type_6">ΣΕΙΡΑ ΕΛΑΙΩΝΑΣ ΚΡΗΤΗΣ</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-need " data-type="by-need">
         <h2 data-ly-mutation-count="1">Ανάγκες</h2>
         <div class="list_inner" style="display:none;">
            <p class="ΒΑΜΜΕΝΑ ΜΑΛΛΙΑ">
               <input type="checkbox" id="need_1" name="radio-need" class="filter-blck by_ingredient" value="βαμμενα-μαλλια">
               <label for="need_1">ΒΑΜΜΕΝΑ ΜΑΛΛΙΑ</label>
            </p>
            <p class="ΚΑΝΟΝΙΚΑ ΜΑΛΛΙΑ">
               <input type="checkbox" id="need_2" name="radio-need" class="filter-blck by_ingredient" value="κανονικα-μαλλια">
               <label for="need_2">ΚΑΝΟΝΙΚΑ ΜΑΛΛΙΑ</label>
            </p>
            <p class="ΛΕΠΤΑ/ΑΔΥΝΑΜΑ ΜΑΛΛΙΑ">
               <input type="checkbox" id="need_3" name="radio-need" class="filter-blck by_ingredient" value="λεπτα-αδυναμα-μαλλια">
               <label for="need_3">ΛΕΠΤΑ/ΑΔΥΝΑΜΑ ΜΑΛΛΙΑ</label>
            </p>
            <p class="ΞΗΡΑ/ΑΦΥΔΑΤΩΜΕΝΑ ΜΑΛΛΙΑ">
               <input type="checkbox" id="need_4" name="radio-need" class="filter-blck by_ingredient" value="ξηρα-αφυδατωμενα-μαλλια">
               <label for="need_4">ΞΗΡΑ/ΑΦΥΔΑΤΩΜΕΝΑ ΜΑΛΛΙΑ</label>
            </p>
            <p class="ΛΙΠΑΡΑ ΜΑΛΛΙΑ">
               <input type="checkbox" id="need_5" name="radio-need" class="filter-blck by_ingredient" value="λιπαρα-μαλλια">
               <label for="need_5">ΛΙΠΑΡΑ ΜΑΛΛΙΑ</label>
            </p>
            <p class="ΠΙΤΥΡΙΔΑ">
               <input type="checkbox" id="need_6" name="radio-need" class="filter-blck by_ingredient" value="πιτυριδα">
               <label for="need_6">ΠΙΤΥΡΙΔΑ</label>
            </p>
            <p class="ΚΑΤΑ ΤΗΣ ΤΡΙΧΟΠΤΩΣΗΣ">
               <input type="checkbox" id="need_7" name="radio-need" class="filter-blck by_ingredient" value="κατα-τησ-τριχοπτωσησ">
               <label for="need_7">ΚΑΤΑ ΤΗΣ ΤΡΙΧΟΠΤΩΣΗΣ</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-ingredient" data-type="by-ingredient">
         <h2 data-ly-mutation-count="1">Συστατικά</h2>
         <div class="list_inner" style="display:none;">
            <p class="ARGAN OIL">
               <input type="checkbox" id="ing_1" name="radio-ing" class="filter-blck by_ingredient" data-value="ARGAN OIL" value="argan-oil">
               <label for="ing_1">ARGAN OIL</label>
            </p>
            <p class="ΑΛΟΗ &amp;  ΔΙΚΤΑΜΟ">
               <input type="checkbox" id="ing_2" name="radio-ing" class="filter-blck by_ingredient" data-value="ΑΛΟΗ &amp;  ΔΙΚΤΑΜΟ" value="αλοη-δικταμο">
               <label for="ing_2">ΑΛΟΗ &amp;  ΔΙΚΤΑΜΟ</label>
            </p>
            <p class="ΠΡΩΤΕΙΝΕΣ ΡΥΖΙΟΥ &amp; ΤΗΛΙΟ">
               <input type="checkbox" id="ing_3" name="radio-ing" class="filter-blck by_ingredient" data-value="ΠΡΩΤΕΙΝΕΣ ΡΥΖΙΟΥ &amp; ΤΗΛΙΟ" value="πρωτεινεσ-ρυζιου-τηλιο">
               <label for="ing_3">ΠΡΩΤΕΙΝΕΣ ΡΥΖΙΟΥ &amp; ΤΗΛΙΟ</label>
            </p>
            <p class="ΗΛΙΑΝΘΟΣ &amp; ΤΣΑΪ ΒΟΥΝΟΥ">
               <input type="checkbox" id="ing_4" name="radio-ing" class="filter-blck by_ingredient" data-value="ΗΛΙΑΝΘΟΣ &amp; ΤΣΑΪ ΒΟΥΝΟΥ" value="ηλιανθοσ-τσαϊ-βουνου">
               <label for="ing_4">ΗΛΙΑΝΘΟΣ &amp; ΤΣΑΪ ΒΟΥΝΟΥ</label>
            </p>
            <p class="ΑΜΥΓΔΑΛΟ &amp; ΛΙΝΑΡΙ">
               <input type="checkbox" id="ing_5" name="radio-ing" class="filter-blck by_ingredient" data-value="ΑΜΥΓΔΑΛΟ &amp; ΛΙΝΑΡΙ" value="αμυγδαλο-λιναρι">
               <label for="ing_5">ΑΜΥΓΔΑΛΟ &amp; ΛΙΝΑΡΙ</label>
            </p>
            <p class="ΓΛΥΚΥΡΡΙΖΑ &amp; ΤΣΟΥΚΝΙΔΑ">
               <input type="checkbox" id="ing_6" name="radio-ing" class="filter-blck by_ingredient" data-value="ΓΛΥΚΥΡΡΙΖΑ &amp; ΤΣΟΥΚΝΙΔΑ" value="γλυκυρριζα-τσουκνιδα">
               <label for="ing_6">ΓΛΥΚΥΡΡΙΖΑ &amp; ΤΣΟΥΚΝΙΔΑ</label>
            </p>
            <p class="ΚΥΣΤΙΝΗ &amp; ΓΛΥΚΟΠΡΩΤΕΪΝΕΣ">
               <input type="checkbox" id="ing_8" name="radio-ing" class="filter-blck by_ingredient" data-value="ΚΥΣΤΙΝΗ &amp; ΓΛΥΚΟΠΡΩΤΕΪΝΕΣ" value="κυστινη-γλυκοπρωτεϊνεσ">
               <label for="ing_8">ΚΥΣΤΙΝΗ &amp; ΓΛΥΚΟΠΡΩΤΕΪΝΕΣ</label>
            </p>
         </div>
      </li>
      <div class="fil_button_cover">
         <button type="submit" class="btn-theme-blue button1 hide-from-desktop"> View
         Products
         </button>
         <input type="reset" value="Reset" class="btn-theme-white button2 hide-from-desktop">
      </div>
   </ul>
</div>
{% else %}
<div class="filter_list cu_fll_list">
   <ul>
      <h3 class="filter_list hide-from-desktop">Filters</h3>
      <h2 class="fill_head hide-from-desktop">Filters</h2>
      <h3 class="fill_by hide-from-desktop"> Filters</h3>
      <li class="type-filter fill_desktop by-type hide-from-mobile" data-type="by-type">
         <h2>By Type</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="COLORANTS" value="colorants">
               <label for="type_1">COLORANTS</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="SHAMPOOS" value="shampoos">
               <label for="type_2">SHAMPOOS</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="CONDITIONERS" value="conditioners">
               <label for="type_3">CONDITIONERS</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="MASKS" value="masks">
               <label for="type_4">MASKS</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="HAIR STYLING" value="hair-styling">
               <label for="type_5">HAIR STYLING</label>
            </p>
            <p>
               <input type="checkbox" id="type_7" name="radio-group0" class="hh filter-blck by_need" data-value="PURE GREEK OLIVE LINE" value="pure-greek-olive-line">
               <label for="type_7">PURE GREEK OLIVE LINE</label>
            </p>
         </div>
      </li>
      <li class="type-filter by-type hide-from-desktop overlay" data-type="by-type">
         <h2>By Type</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="COLORANTS" value="colorants">
               <label for="type_1">COLORANTS</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="SHAMPOOS" value="shampoos">
               <label for="type_2">SHAMPOOS</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="CONDITIONERS" value="conditioners">
               <label for="type_3">CONDITIONERS</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="MASKS" value="masks">
               <label for="type_4">MASKS</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="HAIR STYLING" value="hair-styling">
               <label for="type_5">HAIR STYLING</label>
           </p>
            <p>
               <input type="checkbox" id="type_7" name="radio-group0" class="hh filter-blck by_need" data-value="PURE GREEK OLIVE LINE" value="pure-greek-olive-line">
               <label for="type_7">PURE GREEK OLIVE LINE</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-need " data-type="by-need">
         <h2>By Need</h2>
         <div class="list_inner" style="display:none;">
            <p class="COLOURED HAIR">
               <input type="checkbox" id="need_1" name="radio-need" class="filter-blck by_ingredient" value="coloured-hair">
               <label for="need_1">COLOURED HAIR</label>
            </p>
            <p class="NORMAL HAIR">
               <input type="checkbox" id="need_2" name="radio-need" class="filter-blck by_ingredient" value="normal-hair">
               <label for="need_2">NORMAL HAIR</label>
            </p>
            <p class="THIN/WEAK HAIR">
               <input type="checkbox" id="need_3" name="radio-need" class="filter-blck by_ingredient" value="thin-weak-hair">
               <label for="need_3">THIN/WEAK HAIR</label>
            </p>
            <p class="DRY/DAMAGED HAIR">
               <input type="checkbox" id="need_4" name="radio-need" class="filter-blck by_ingredient" value="dry-damaged-hair">
               <label for="need_4">DRY/DAMAGED HAIR</label>
            </p>
            <p class="OILY HAIR">
               <input type="checkbox" id="need_5" name="radio-need" class="filter-blck by_ingredient" value="oily-hair">
               <label for="need_5">OILY HAIR</label>
            </p>
            <p class="DANDRUFF">
               <input type="checkbox" id="need_6" name="radio-need" class="filter-blck by_ingredient" value="dandruff">
               <label for="need_6">DANDRUFF</label>
            </p>
            <p class="HAIR LOSS">
               <input type="checkbox" id="need_7" name="radio-need" class="filter-blck by_ingredient" value="hair-loss">
               <label for="need_7">HAIR LOSS</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-ingredient" data-type="by-ingredient">
         <h2>By Ingredient</h2>
         <div class="list_inner" style="display:none;">
            <p class="ARGAN OIL">
               <input type="checkbox" id="ing_1" name="radio-ing" class="filter-blck by_ingredient" data-value="ARGAN OIL" value="argan-oil">
               <label for="ing_1">ARGAN OIL</label>
            </p>
            <p class="ALOE &amp; DITTANY">
               <input type="checkbox" id="ing_2" name="radio-ing" class="filter-blck by_ingredient" data-value="ALOE &amp; DITTANY" value="aloe-dittany">
               <label for="ing_2">ALOE &amp; DITTANY</label>
            </p>
            <p class="RICE PROTEINS &amp; LINDEN">
               <input type="checkbox" id="ing_3" name="radio-ing" class="filter-blck by_ingredient" data-value="RICE PROTEINS &amp; LINDEN" value="rice-proteins-linden">
               <label for="ing_3">RICE PROTEINS &amp; LINDEN</label>
            </p>
            <p class="SUNFLOWER &amp; MOUNTAIN TEA">
               <input type="checkbox" id="ing_4" name="radio-ing" class="filter-blck by_ingredient" data-value="SUNFLOWER &amp; MOUNTAIN TEA" value="sunflower-mountain-tea">
               <label for="ing_4">SUNFLOWER &amp; MOUNTAIN TEA</label>
            </p>
            <p class="ALMOND &amp; LINSEED">
               <input type="checkbox" id="ing_5" name="radio-ing" class="filter-blck by_ingredient" data-value="ALMOND &amp; LINSEED" value="almond-linseed">
               <label for="ing_5">ALMOND &amp; LINSEED</label>
            </p>
            <p class="LIQUORICE &amp; URTICA">
               <input type="checkbox" id="ing_6" name="radio-ing" class="filter-blck by_ingredient" data-value="LIQUORICE &amp; URTICA" value="liquorice-urtica">
               <label for="ing_6">LIQUORICE &amp; URTICA</label>
            </p>
            <p class="CYSTINE &amp; GLYCOROTEINS">
               <input type="checkbox" id="ing_8" name="radio-ing" class="filter-blck by_ingredient" data-value="CYSTINE &amp; GLYCOROTEINS" value="cystine-glycoroteins">
               <label for="ing_8">CYSTINE &amp; GLYCOROTEINS</label>
            </p>
         </div>
      </li>
      <div class="fil_button_cover">
         <button type="submit" class="btn-theme-blue button1 hide-from-desktop"> View
         Products
         </button>
         <input type="reset" value="Reset" class="btn-theme-white button2 hide-from-desktop">
      </div>
   </ul>
</div>
{% endif %}