{% if request.locale.iso_code == 'el' %}
<div class="filter_list cu_fll_list">
   <ul>
      <h3 class="filter_list hide-from-desktop">Φίλτρα</h3>
      <h2 class="fill_head hide-from-desktop">Φίλτρα</h2>
      <h3 class="fill_by hide-from-desktop"> Φίλτρα</h3>
      <li class="type-filter fill_desktop by-type hide-from-mobile collapsed" data-type="by-type">
         <h2 data-ly-mutation-count="1">Κατηγορίες Προϊόντων</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="ΜΑΛΛΙΑ &amp; ΣΩΜΑ ΓΙΑ ΠΑΙΔΙΑ" value="μαλλια-σωμα-για-παιδια">
               <label for="type_1">ΜΑΛΛΙΑ &amp; ΣΩΜΑ ΓΙΑ ΠΑΙΔΙΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="ΕΝΤΟΜΟΑΠΩΘΗΤΙΚΑ" value="εντομοαπωθητικα">
               <label for="type_2">ΕΝΤΟΜΟΑΠΩΘΗΤΙΚΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΝΤΙ-ΦΘΕΙΡΙΚΑ" value="αντι-φθειρικα">
               <label for="type_3">ΑΝΤΙ-ΦΘΕΙΡΙΚΑ</label>
            </p>
         </div>
      </li>
      <li class="type-filter by-type hide-from-desktop overlay" data-type="by-type">
         <h2 data-ly-mutation-count="1">Κατηγορίες Προϊόντων</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="ΜΑΛΛΙΑ &amp; ΣΩΜΑ ΓΙΑ ΠΑΙΔΙΑ" value="μαλλια-σωμα-για-παιδια">
               <label for="type_1">ΜΑΛΛΙΑ &amp; ΣΩΜΑ ΓΙΑ ΠΑΙΔΙΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="ΕΝΤΟΜΟΑΠΩΘΗΤΙΚΑ" value="εντομοαπωθητικα">
               <label for="type_2">ΕΝΤΟΜΟΑΠΩΘΗΤΙΚΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΝΤΙ-ΦΘΕΙΡΙΚΑ" value="αντι-φθειρικα">
               <label for="type_3">ΑΝΤΙ-ΦΘΕΙΡΙΚΑ</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="ΠΑΙΔΙΚΑ ΑΝΤΗΛΙΑΚΑ" value="παιδικα-αντηλιακα">
               <label for="type_4">ΠΑΙΔΙΚΑ ΑΝΤΗΛΙΑΚΑ</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-need collapsed" data-type="by-need">
         <h2 data-ly-mutation-count="1">Ανάγκες</h2>
         <div class="list_inner" style="display:none;">
         </div>
      </li>
      <li class="type-filter fill_desktop by-ingredient collapsed" data-type="by-ingredient">
         <h2 data-ly-mutation-count="1">Συστατικά</h2>
         <div class="list_inner" style="display:none;">
         </div>
      </li>
      <div class="fil_button_cover">
         <button type="submit" class="btn-theme-blue button1 hide-from-desktop"> View
         Products
         </button>
         <input type="reset" value="Reset" class="btn-theme-white button2 hide-from-desktop">
      </div>
   </ul>
</div>
{% else %}
<div class="filter_list cu_fll_list">
   <ul>
      <h3 class="filter_list hide-from-desktop">Filters</h3>
      <h2 class="fill_head hide-from-desktop">Filters</h2>
      <h3 class="fill_by hide-from-desktop"> Filters</h3>
      <li class="type-filter fill_desktop by-type hide-from-mobile" data-type="by-type">
         <h2>By Type</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="KID'S HAIR &amp; BODY" value="kids-hair-body">
               <label for="type_1">KID'S HAIR &amp; BODY</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="INSECT REPELLENTS" value="insect-repellents">
               <label for="type_2">INSECT REPELLENTS</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="ANTI-LICE TREATMENT" value="anti-lice-treatment">
               <label for="type_3">ANTI-LICE TREATMENT</label>
            </p>
         </div>
      </li>
      <li class="type-filter by-type hide-from-desktop overlay" data-type="by-type">
         <h2>By Type</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="KID'S HAIR &amp; BODY" value="kids-hair-body">
               <label for="type_1">KID'S HAIR &amp; BODY</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="INSECT REPELLENTS" value="insect-repellents">
               <label for="type_2">INSECT REPELLENTS</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="ANTI-LICE TREATMENT" value="anti-lice-treatment">
               <label for="type_3">ANTI-LICE TREATMENT</label>
            </p>
             <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="KID'S SUNSCREENS" value="kids-sunscreens">
               <label for="type_4">KID'S SUNSCREENS</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-need " data-type="by-need">
         <h2>By Need</h2>
         <div class="list_inner" style="display:none;">
         </div>
      </li>
      <li class="type-filter fill_desktop by-ingredient" data-type="by-ingredient">
         <h2>By Ingredient</h2>
         <div class="list_inner" style="display:none;">
         </div>
      </li>
      <div class="fil_button_cover">
         <button type="submit" class="btn-theme-blue button1 hide-from-desktop"> View
         Products
         </button>
         <input type="reset" value="Reset" class="btn-theme-white button2 hide-from-desktop">
      </div>
   </ul>
</div>
{% endif %}