{% if request.locale.iso_code == 'el' %}
<div class="filter_list cu_fll_list">
   <ul>
      <h3 class="filter_list hide-from-desktop">Φίλτρα</h3>
      <h2 class="fill_head hide-from-desktop">Φίλτρα</h2>
      <h3 class="fill_by hide-from-desktop"> Φίλτρα</h3>
      <li class="type-filter fill_desktop by-type hide-from-mobile" data-type="by-type">
         <h2 data-ly-mutation-count="1">Κατηγορίες Προϊόντων</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="MAKE-UP &amp; CONCEALERS" value="makeup-concealers">
               <label for="type_1">MAKE-UP &amp; CONCEALERS</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="ΜΑΚΙΓΙΑΖ ΜΑΤΙΩΝ" value="μακιγιαζ-ματιων">
               <label for="type_2">ΜΑΚΙΓΙΑΖ ΜΑΤΙΩΝ</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="ΧΕΙΛΗ" value="χειλη">
               <label for="type_3">ΧΕΙΛΗ</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="ΒΕΡΝΙΚΙΑ ΝΥΧΙΩΝ" value="βερνικια-νυχιων">
               <label for="type_4">ΒΕΡΝΙΚΙΑ ΝΥΧΙΩΝ</label>
            </p>
            <p>
               <input type="checkbox" id="type_7" name="radio-group0" class="hh filter-blck by_need" data-value="ΡΟΥΖ & BRONZERS" value="ρουζ-bronzers">
               <label for="type_7">ΡΟΥΖ & BRONZERS</label>
            </p>
            <p>
               <input type="checkbox" id="type_6" name="radio-group0" class="hh filter-blck by_need" data-value="ΠΟΥΔΡΕΣ" value="πουδρες">
               <label for="type_6">ΠΟΥΔΡΕΣ</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΞΕΣΟΥΑΡ ΓΙΑ ΜΑΚΙΓΙΑΖ" value="αξεσουαρ-για-μακιγιαζ">
               <label for="type_5">ΑΞΕΣΟΥΑΡ ΓΙΑ ΜΑΚΙΓΙΑΖ</label>
            </p>
         </div>
      </li>
      <li class="type-filter by-type hide-from-desktop overlay" data-type="by-type">
         <h2 data-ly-mutation-count="1">Κατηγορίες Προϊόντων</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="MAKE-UP &amp; CONCEALERS" value="makeup-concealers">
               <label for="type_1">MAKE-UP &amp; CONCEALERS</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="ΜΑΚΙΓΙΑΖ ΜΑΤΙΩΝ" value="μακιγιαζ-ματιων">
               <label for="type_2">ΜΑΚΙΓΙΑΖ ΜΑΤΙΩΝ</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="ΧΕΙΛΗ" value="χειλη">
               <label for="type_3">ΧΕΙΛΗ</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="ΒΕΡΝΙΚΙΑ ΝΥΧΙΩΝ" value="βερνικια-νυχιων">
               <label for="type_4">ΒΕΡΝΙΚΙΑ ΝΥΧΙΩΝ</label>
            </p>
               <p>
               <input type="checkbox" id="type_7" name="radio-group0" class="hh filter-blck by_need" data-value="ΡΟΥΖ & BRONZERS" value="ρουζ-bronzers">
               <label for="type_7">ΡΟΥΖ & BRONZERS</label>
            </p>
            <p>
               <input type="checkbox" id="type_6" name="radio-group0" class="hh filter-blck by_need" data-value="ΠΟΥΔΡΕΣ" value="πουδρες">
               <label for="type_6">ΠΟΥΔΡΕΣ</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="ΑΞΕΣΟΥΑΡ ΓΙΑ ΜΑΚΙΓΙΑΖ" value="αξεσουαρ-για-μακιγιαζ">
               <label for="type_5">ΑΞΕΣΟΥΑΡ ΓΙΑ ΜΑΚΙΓΙΑΖ</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-need " data-type="by-need">
         <h2 data-ly-mutation-count="1">Ανάγκες</h2>
         <div class="list_inner" style="display:none;">
            <p class="ΑΝΤΙΓΗΡΑΝΣΗ">
               <input type="checkbox" id="need_2" name="radio-need" class="filter-blck by_ingredient" value="αντιγηρανση">
               <label for="need_2">ΑΝΤΙΓΗΡΑΝΣΗ</label>
            </p>
            <p class="ΕΝΤΟΝΟ ΧΡΩΜΑ">
               <input type="checkbox" id="need_3" name="radio-need" class="filter-blck by_ingredient" value="εντονο-χρωμα">
               <label for="need_3">ΕΝΤΟΝΟ ΧΡΩΜΑ</label>
            </p>
         <p class="ΕΝΤΟΝΟ ΒΛΕΜΜΑ">
               <input type="checkbox" id="need_4" name="radio-need" class="filter-blck by_ingredient" value="λιπαρο-δερμα-με-ατελειες">
               <label for="need_4">ΛΙΠΑΡΟ ΔΕΡΜΑ ΜΕ ΑΤΕΛΕΙΕΣ</label>
            </p>
            <p class="ΕΝΤΟΝΟ ΒΛΕΜΜΑ">
               <input type="checkbox" id="need_5" name="radio-need" class="filter-blck by_ingredient" value="φυσικη-καλυψη-λαμψη">
               <label for="need_5">ΦΥΣΙΚΗ ΚΑΛΥΨΗ &amp; ΛΑΜΨΗ</label>
            </p>
         
             <p class="ΕΝΤΟΝΟ ΒΛΕΜΜΑ">
               <input type="checkbox" id="need_1" name="radio-need" class="filter-blck by_ingredient" value="εντονο-βλεμμα">
               <label for="need_1">ΕΝΤΟΝΟ ΒΛΕΜΜΑ</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-ingredient" data-type="by-ingredient">
         <h2 data-ly-mutation-count="1">Συστατικά</h2>
         <div class="list_inner" style="display:none;">
            <p class="ΕΝΕΡΓΟΣ ΑΝΘΡΑΚΑΣ">
               <input type="checkbox" id="ing_1" name="radio-ing" class="filter-blck by_ingredient" data-value="ΕΝΕΡΓΟΣ ΑΝΘΡΑΚΑΣ" value="ενεργοσ-ανθρακασ">
               <label for="ing_1">ΕΝΕΡΓΟΣ ΑΝΘΡΑΚΑΣ</label>
            </p>
            <p class="ΑΓΡΙΟ ΤΡΙΑΝΤΑΦΥΛΛΟ">
               <input type="checkbox" id="ing_3" name="radio-ing" class="filter-blck by_ingredient" data-value="ΑΓΡΙΟ ΤΡΙΑΝΤΑΦΥΛΛΟ" value="αγριο-τριανταφυλλο">
               <label for="ing_3">ΑΓΡΙΟ ΤΡΙΑΝΤΑΦΥΛΛΟ</label>
            </p>
            <p class="MORELLO">
               <input type="checkbox" id="ing_4" name="radio-ing" class="filter-blck by_ingredient" data-value="MORELLO" value="morello">
               <label for="ing_4">MORELLO</label>
            </p>
            <p class="VOLCANIC MINERALS">
               <input type="checkbox" id="ing_5" name="radio-ing" class="filter-blck by_ingredient" data-value="VOLCANIC MINERALS" value="volcanic-minerals">
               <label for="ing_5">VOLCANIC MINERALS</label>
            </p>
            <p class="ΜΑΥΡΗ ΠΕΥΚΗ">
               <input type="checkbox" id="ing_2" name="radio-ing" class="filter-blck by_ingredient" data-value="ΜΑΥΡΗ ΠΕΥΚΗ" value="μαυρη-πευκη">
               <label for="ing_2">ΜΑΥΡΗ ΠΕΥΚΗ</label>
            </p>
         </div>
      </li>
      <div class="fil_button_cover">
         <button type="submit" class="btn-theme-blue button1 hide-from-desktop"> View
         Products
         </button>
         <input type="reset" value="Reset" class="btn-theme-white button2 hide-from-desktop">
      </div>
   </ul>
</div>
{% else %}
<div class="filter_list cu_fll_list">
   <ul>
      <h3 class="filter_list hide-from-desktop">Filters</h3>
      <h2 class="fill_head hide-from-desktop">Filters</h2>
      <h3 class="fill_by hide-from-desktop"> Filters</h3>
      <li class="type-filter fill_desktop by-type hide-from-mobile" data-type="by-type">
         <h2>By Type</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="MAKE-UP &amp; CONCEALERS" value="makeup-concealers">
               <label for="type_1">MAKE-UP &amp; CONCEALERS</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="EYES" value="eyes">
               <label for="type_2">EYES</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="LIPS" value="lips">
               <label for="type_3">LIPS</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="NAILS" value="nails">
               <label for="type_4">NAILS</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="BLUSHES &amp; BRONZERS" value="blushes-bronzers">
               <label for="type_5">BLUSHES &amp; BRONZERS</label>
            </p>
           <p>
               <input type="checkbox" id="type_7" name="radio-group0" class="hh filter-blck by_need" data-value="POWDERS" value="powders">
               <label for="type_7">POWDERS</label>
            </p>
            <p>
               <input type="checkbox" id="type_6" name="radio-group0" class="hh filter-blck by_need" data-value="ACCESSORIES" value="accessories">
               <label for="type_6">ACCESSORIES</label>
            </p>
         </div>
      </li>
      <li class="type-filter by-type hide-from-desktop overlay" data-type="by-type">
         <h2>By Type</h2>
         <div class="list_inner" style="display:none;">
            <p>
               <input type="checkbox" id="type_1" name="radio-group0" class="hh filter-blck by_need" data-value="MAKE-UP &amp; CONCEALERS" value="makeup-concealers">
               <label for="type_1">MAKE-UP &amp; CONCEALERS</label>
            </p>
            <p>
               <input type="checkbox" id="type_2" name="radio-group0" class="hh filter-blck by_need" data-value="EYES" value="eyes">
               <label for="type_2">EYES</label>
            </p>
            <p>
               <input type="checkbox" id="type_3" name="radio-group0" class="hh filter-blck by_need" data-value="LIPS" value="lips">
               <label for="type_3">LIPS</label>
            </p>
            <p>
               <input type="checkbox" id="type_4" name="radio-group0" class="hh filter-blck by_need" data-value="NAILS" value="nails">
               <label for="type_4">NAILS</label>
            </p>
            <p>
               <input type="checkbox" id="type_5" name="radio-group0" class="hh filter-blck by_need" data-value="BLUSHES &amp; BRONZERS" value="blushes-bronzers">
               <label for="type_5">BLUSHES &amp; BRONZERS</label>
            </p>
            <p>
               <input type="checkbox" id="type_7" name="radio-group0" class="hh filter-blck by_need" data-value="POWDERS" value="powders">
               <label for="type_7">POWDERS</label>
            </p>
            <p>
               <input type="checkbox" id="type_6" name="radio-group0" class="hh filter-blck by_need" data-value="ACCESSORIES" value="accessories">
               <label for="type_6">ACCESSORIES</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-need " data-type="by-need">
         <h2>By Need</h2>
         <div class="list_inner" style="display:none;">
            <p class="ANTIAGEING">
               <input type="checkbox" id="need_2" name="radio-need" class="filter-blck by_ingredient" value="antiageing">
               <label for="need_2">ANTIAGEING</label>
            </p>
            <p class="FULL COLOUR">
               <input type="checkbox" id="need_3" name="radio-need" class="filter-blck by_ingredient" value="full-colour">
               <label for="need_3">FULL COLOUR</label>
            </p>
            <p class="FULL COLOUR">
               <input type="checkbox" id="need_4" name="radio-need" class="filter-blck by_ingredient" value="oily-skin-with-imperfections">
               <label for="need_4">OILY SKIN WITH IMPERFECTIONS</label>
            </p>
            <p class="FULL COLOUR">
               <input type="checkbox" id="need_5" name="radio-need" class="filter-blck by_ingredient" value="natural-coverage-glow">
               <label for="need_5">NATURAL COVERAGE &amp; GLOW</label>
            </p>
            <p class="INTENSE EYES">
               <input type="checkbox" id="need_1" name="radio-need" class="filter-blck by_ingredient" value="intense-eyes">
               <label for="need_1">INTENSE EYES</label>
            </p>
         </div>
      </li>
      <li class="type-filter fill_desktop by-ingredient" data-type="by-ingredient">
         <h2>By Ingredient</h2>
         <div class="list_inner" style="display:none;">
            <p class="ACTIVATED CHARCOAL">
               <input type="checkbox" id="ing_1" name="radio-ing" class="filter-blck by_ingredient" data-value="ACTIVATED CHARCOAL" value="activated-charcoal">
               <label for="ing_1">ACTIVATED CHARCOAL</label>
            </p>
            <p class="WILD ROSE">
               <input type="checkbox" id="ing_3" name="radio-ing" class="filter-blck by_ingredient" data-value="WILD ROSE" value="wild-rose">
               <label for="ing_3">WILD ROSE</label>
            </p>
            <p class="MORELLO">
               <input type="checkbox" id="ing_4" name="radio-ing" class="filter-blck by_ingredient" data-value="MORELLO" value="morello">
               <label for="ing_4">MORELLO</label>
            </p>
            <p class="VOLCANIC MINERALS">
               <input type="checkbox" id="ing_5" name="radio-ing" class="filter-blck by_ingredient" data-value="VOLCANIC MINERALS" value="volcanic-minerals">
               <label for="ing_5">VOLCANIC MINERALS</label>
            </p>
            <p class="BLACK PINE">
               <input type="checkbox" id="ing_2" name="radio-ing" class="filter-blck by_ingredient" data-value="BLACK PINE" value="black-pine">
               <label for="ing_2">BLACK PINE</label>
            </p>
         </div>
      </li>
      <div class="fil_button_cover">
         <button type="submit" class="btn-theme-blue button1 hide-from-desktop"> View
         Products
         </button>
         <input type="reset" value="Reset" class="btn-theme-white button2 hide-from-desktop">
      </div>
   </ul>
</div>
{% endif %} 