<span class="cart-svg">
<svg xmlns="http://www.w3.org/2000/svg" width="17.56" height="17.047" viewBox="0 0 17.56 17.047">
  <g id="Group_2962" data-name="Group 2962" transform="translate(0.5 0.5)">
    <g id="Group_89" data-name="Group 89" transform="translate(5.346)">
      <path id="Path_40" data-name="Path 40" d="M4157.489,112.63l.04,2.088h-5.867l.041-2.088a1.9,1.9,0,0,1,1.848-1.443h2.091A1.9,1.9,0,0,1,4157.489,112.63Z" transform="translate(-4151.661 -111.187)" fill="none" stroke="#231f20" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"></path>
    </g>
    <path id="Path_41" data-name="Path 41" d="M4162,127.809h-16.56l.333-12.517h15.894Z" transform="translate(-4145.445 -111.762)" fill="none" stroke="#231f20" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"></path>
  </g>
</svg>
<span class="items-count">{{ cart.item_count }}</span>
</span>