<section id="collection-page-custom">
         
        <div class="main-box">
            <div class="section-box1">
                <div class="content-box">
                    <a href="/collections/suncare">
                        <div class="img-box">
                            <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/suncare-korrac.jpg?v=1612278451" class="image-fit" alt="suncare image of Korres">
                        </div>
                        <div class="title-box">
                            <p>Suncare</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="section-box2">
                <div class="main-box">
                    <div class="section-box2-child">
                        <div class="main-box">
                            <div class="section-top-child">
                                <div class="content-box">
                                    <a href="/collections/skincare">
                                        <div class="img-box">
                                            <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/skincare-korrac.jpg?v=1612278450" class="image-fit" alt="suncare image of Korres">
                                        </div>
                                        <div class="title-box">
                                            <p>Skincare</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="section-top-child">
                                <div class="main-box">
                                    <div class="section-middle-child">
                                        <div class="content-box">
                                            <a href="/collections/hair-1">
                                                <div class="img-box">
                                                    <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/hair-korrac.jpg?v=1612278449" class="image-fit" alt="suncare image of Korres">
                                                </div>
                                                <div class="title-box">
                                                    <p>Hair</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="section-middle-child">
                                        <div class="content-box">
                                            <a href="/collections/kits">
                                                <div class="img-box">
                                                    <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/gift-korrac.jpg?v=1612278449" class="image-fit" alt="suncare image of Korres">
                                                </div>
                                                <div class="title-box">
                                                    <p>Gift</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-top-child">
                                <div class="content-box">
                                    <a href="/collections/makeup">
                                        <div class="img-box">
                                            <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/makeup_korrace.jpg?v=1612278451" class="image-fit" alt="suncare image of Korres">
                                        </div>
                                        <div class="title-box">
                                            <p>Make up</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-box2-child">
                        <div class="main-box">
                            <div class="section-bottom-child">
                                <div class="content-box">
                                    <a href="/collections/body-care">
                                        <div class="img-box">
                                            <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/Body_care.jpg?v=1612278449" class="image-fit" alt="suncare image of Korres">
                                        </div>
                                        <div class="title-box">
                                            <p>Bodycare</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="section-bottom-child">
                                <div class="content-box">
                                    <a href="/collections/fragrance">
                                        <div class="img-box">
                                            <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/fragrance.jpg?v=1612278449" class="image-fit" alt="suncare image of Korres">
                                        </div>
                                        <div class="title-box">
                                            <p>Fragrance</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
  </div>
   </section>
	<section id="collection-page-custom-mob">
          <div class="main-box">
          <div class="row">  
            <div class="section-box1 col-xs-7">
                <div class="content-box">
                    <a href="/collections/suncare">
                        <div class="img-box">
                            <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/Component_32_1_2x_a5255209-8e57-4ec5-80ca-07556a02f913.png?v=1630675654" class="image-fit" alt="suncare image of Korres">
                        </div>
                    </a>
                </div>
                      <div class="section-bottom-child">
                                <div class="content-box">
                                    <a href="/collections/body-care">
                                        <div class="img-box">
                                            <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/Component_38_1_2x_164e39ea-49ec-4bec-8c2e-5e72ca0cd2d6.png?v=1630675713" class="image-fit" alt="suncare image of Korres">
                                        </div>
                                </a>
                </div>
              </div>
            </div>
     
            <div class="section-box2 col-xs-5">
                <div class="main-box">
                    <div class="section-box2-child">
                        <div class="main-box">
                         
                            <div class="section-top-child">
                                <div class="main-box">
                                    <div class="section-middle-child1">
                                        <div class="content-box">
                                            <a href="/collections/hair-1">
                                                <div class="img-box">
                                                    <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/Component_34_1_2x_9bf8bc14-3415-472b-bb41-6793b8510b6f.png?v=1630675776" class="image-fit" alt="suncare image of Korres">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="section-middle-child">
                                        <div class="content-box">
                                            <a href="/collections/kits">
                                                <div class="img-box">
                                                    <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/Component_36_1_2x_ceba29e1-d10e-40f7-86c9-a852a6d1e9e0.png?v=1630675776" class="image-fit" alt="suncare image of Korres">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                     <div class="section-bottom-child">
                                <div class="content-box">
                                    <a href="/collections/skincare">
                                        <div class="img-box">
                                            <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/Component_33_1_2x_4934625d-df55-48ad-8bb6-2661e59ce0f8.png?v=1630675855" class="image-fit" alt="suncare image of Korres">
                                        </div>
                                    </a>
                                </div>
                            </div>
                                </div>
                            </div>
                      
                        </div>
                    </div>
                </div>
            </div></div>
            <div class="row">
              <div class="section-box3 col-xs-6">
                      <div class="section-top-child">
                                <div class="content-box">
                                    <a href="/collections/makeup">
                                        <div class="img-box">
                                            <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/Component_35_1_2x_326a35db-5de1-43c4-ab7a-ec339a1b14f8.png?v=1630675855" class="image-fit" alt="suncare image of Korres">
                                        </div>
                                    </a>
                                </div>
                            </div>
                </div>
                       <div class="section-box4 col-xs-6">
                                <div class="content-box">
                                    <a href="/collections/fragrance">
                                        <div class="img-box">
                                            <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/Component_37_1_2x_c0bcaf76-1d0b-426d-baa5-31c57298a09a.png?v=1630675855" class="image-fit" alt="suncare image of Korres">
                                        </div>
                                    </a>
                                </div>
                            </div>
            
            </div></div>
    </section>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

<style>
  @media all and (max-width:750px){
    #collection-page-custom-mob {
    padding: 0 15px;
      margin: 0 15px;
}
.section-box1 img {
    max-width: 100%;
}
.section-middle-child {
    padding-top: 10px;
}
.section-bottom-child {
    padding-top: 10px;
}
.section-box1.col-xs-7 {
    padding: 0 5px 0 0;
}
.section-box2.col-xs-5 {
    padding: 0 0 0 5px;
}
.section-box3 img {
    max-width: 100%;
}
.section-box3 {
    margin-top: 10px;
}
.section-box3.col-xs-6 {
    padding: 0 5px 0 0;
}
.section-box4 img {
    max-width: 100%;
     height: 100%; 
}
.section-box4 {
    margin-top: 10px;
}
.section-box4.col-xs-6 {
    padding: 0 0 0 5px;
}
.section-box4 .content-box {
    width: 100%;
    height: 100%;
}
.img-box {
    width: 100%;
    height: 100%;
}
.main-box {
    width: 100%;
    height: 100%;
}
.section-box2-child {
    width: 100%;
    height: 100%;
}
.section-bottom-child img {
    height: 55%;
    object-fit: fill;
}
.section-box2 img {
    max-width: 100%;
    height: 100%;
}
.section-top-child {
    width: 100%;
    height: 100%;
}
    .section-box2 .section-bottom-child {
    height: 57%;
}
    .section-box2 .content-box {
    height: 100%;
  
}
    section#collection-page-custom {
    display: none;
}
  }
  @media all and (min-width:768px){
    section#collection-page-custom-mob{
     display:none; 
    }
  }
</style>
