<div class="container" id="extractionn">
 <div class="row first-image">
   <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 pd-xs-0">
	<img class="lazy-load" data-src="{{section.settings.section-image| img_url:'large'}}">
   </div>
   <div class="col-md-7 col-lg-7 col-sm-6 col-xs-12 pd-xs-0">
     <img src="{{section.settings.extraction-lab-image-1 | img_url:'large'}}">
   </div>
   <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 blossom-text">
     {{section.settings.extraction-lab-text-1}}
   </div>
 </div>
  
  <div class="row second-image">
   <div class="col-md-10 col-lg-10 col-sm-10 col-xs-12 pd-xs-0">
      {{section.settings.video-link}}
     
   </div>
 </div>
  
  
</div>
{% schema %}
  {
    "name": "Extraction Lab Section",
	"class":"section-margin",
    "settings": [
		{
	"type": "html",
    "id"  : "heading",
	"label": "Heading"
	},
			{
	"type": "text",
    "id"  : "sec-heading",
	"label": "Mobile Section Heading"
	},
	{
	"type": "text",
    "id"  : "farmer",
	"label": "Farmer"
	},
	{
	"type": "text",
    "id"  : "place",
	"label": "Place"
	},
	{
	"type": "image_picker",
    "id"  : "section-image",
	"label": "Section Image"
	},
	{
	"type": "image_picker",
    "id"  : "extraction-lab-image-1",
	"label": "Extraction Lab Image 1"
	},
	{
	"type": "html",
    "id"  : "extraction-lab-text-1",
	"label": "Extraction Lab Text 1"
	},
	{
	"type": "html",
    "id"  : "video-link",
	"label": "Video"
	}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
