<div class="shopify-section-menu-bar-inner width-1784 cu_menu_bar">
    <button class="hamburger" type="button">
        {% render 'icon-hamburger' %}
    </button>
    <div class="logo outerlogo">
        <a href="{{ routes.root_url }}">{% render 'icon-korres' %}</a>
    </div>
    {% if request.locale.iso_code == 'el' %}
   <ul class="main-nav__desktop">
   <li data-key="shop" class="shop">
      <a class="" href="/el/collections/all-products">Shop</a>
      <div class="submenu-wrap main_cate">
         <ul class="width-1784">
            <li class="show_subwrap">
               <a href="/el/collections/all-products">Shop All</a>
            </li>
            <li class="show_subwrap">
               <a href="/el/collections/skincare">Πρόσωπο</a>
               <div class="submenu-content">
                  <div class="width-1784 submenu-content-inner">
                     <div class="submenu-left">
                        <ul>
							<li class="li-korres-circle">
								<a href="/el/pages/mycircle-marketing-page">
									<span>KORRES Circle</span>
									<span class="join-now">Join now</span>
								</a>
							</li>
                           <li>
                              <a href="/el/collections/new">New</a>
                           </li>
                           <li>
                              <a href="/el/collections/best-seller-1">Best
                              Sellers</a>
                           </li>
                           <li>
                              <a href="/el/collections/promos">Promos</a>
                           </li>
                        </ul>
                     </div>
                     <div class="submenu-right">
                        <div class="menus-content 2">
                           <ul class="bytype">
                              <p class="heading" data-ly-mutation-count="1">Κατηγορίες Προϊόντων</p>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/skincare/κρεμεσ-προσωπου">ΚΡΕΜΕΣ ΠΡΟΣΩΠΟΥ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/skincare/serums-προσωπου">SERUMS ΠΡΟΣΩΠΟΥ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/skincare/καθαρισμοσ-τονωση">ΚΑΘΑΡΙΣΜΟΣ &amp; ΤΟΝΩΣΗ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/skincare/μασκες-scrubs-προσωπου">ΜΑΣΚΕΣ &amp; SCRUBS ΠΡΟΣΩΠΟΥ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/skincare/περιποιηση-ματιων">ΠΕΡΙΠΟΙΗΣΗ ΜΑΤΙΩΝ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/skincare/περιποιηση-χειλιων">ΠΕΡΙΠΟΙΗΣΗ ΧΕΙΛΙΩΝ</a>
                              </li>
                               <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/skincare/ανδρικη-περιποιηση">ΑΝΔΡΙΚΗ ΠΕΡΙΠΟΙΗΣΗ</a>
                              </li>
                           </ul>
                           <ul class="byneed tit_">
                              <p class="heading" data-ly-mutation-count="1">Ανάγκες</p>
                              <li class="1|ΚΑΘΑΡΙΣΜΟΣ">
                                 <a href="/el/collections/skincare/καθαρισμοσ">ΚΑΘΑΡΙΣΜΟΣ</a>
                              </li>
                              <li class="2|ΡΥΘΜΙΣΗ ΛΙΠΑΡΟΤΗΤΑΣ">
                                 <a href="/el/collections/skincare/ρυθμιση-λιπαροτητασ">ΡΥΘΜΙΣΗ ΛΙΠΑΡΟΤΗΤΑΣ</a>
                              </li>
                              <li class="3|ΕΝΥΔΑΤΩΣΗ ΠΡΟΣΩΠΟΥ">
                                 <a href="/el/collections/skincare/ενυδατωση-προσωπου">ΕΝΥΔΑΤΩΣΗ ΠΡΟΣΩΠΟΥ</a>
                              </li>
                              <li class="4|ΛΑΜΨΗ">
                                 <a href="/el/collections/skincare/λαμψη">ΛΑΜΨΗ</a>
                              </li>
                              <li class="5|ΣΥΣΦΙΓΞΗ + LIFTING">
                                 <a href="/el/collections/skincare/συσφιγξη-lifting">ΣΥΣΦΙΓΞΗ + LIFTING</a>
                              </li>
                              <li class="6|ΜΕΤΑ ΤΗΝ ΕΜΜΗΝΟΠΑΥΣΗ">
                                 <a href="/el/collections/skincare/μετα-την-εμμηνοπαυση">ΜΕΤΑ ΤΗΝ ΕΜΜΗΝΟΠΑΥΣΗ</a>
                              </li>
                              <li class="7|ΑΝΤΙΓΗΡΑΝΣΗ">
                                 <a href="/el/collections/skincare/αντιγηρανση">ΑΝΤΙΓΗΡΑΝΣΗ</a>
                              </li>
                           </ul>
                           <ul class="byingredient ">
                              <p class="heading" data-ly-mutation-count="1">Συστατικά</p>
                              <li>
                                 <a href="/el/collections/skincare/ελληνικο-γιαουρτι">ΕΛΛΗΝΙΚΟ ΓΙΑΟΥΡΤΙ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/skincare/μαυρη-πευκη">ΜΑΥΡΗ ΠΕΥΚΗ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/skincare/λευκη-πευκη">ΛΕΥΚΗ ΠΕΥΚΗ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/skincare/αγριο-τριανταφυλλο">ΑΓΡΙΟ ΤΡΙΑΝΤΑΦΥΛΛΟ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/skincare/χρυσοσ-κροκοσ">ΧΡΥΣΟΣ ΚΡΟΚΟΣ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/skincare/ροδι">ΡΟΔΙ</a>
                              </li>
                           </ul>
                        </div>
                        <div class="btn-wrap">
                           <a href="/el/collections/skincare/" class="all_prod btn-theme">All Products</a>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="show_subwrap">
               <a href="/el/collections/suncare">Αντηλιακά</a>
               <div class="submenu-content">
                  <div class="width-1784 submenu-content-inner">
                     <div class="submenu-left">
						 <ul>
							 <li class="li-korres-circle">
								 <a href="/el/pages/mycircle-marketing-page">
									 <span>KORRES Circle</span>
									 <span class="join-now">Join now</span>
								 </a>
							 </li>
							 <li>
								 <a href="/el/collections/new">New</a>
							 </li>
							 <li>
								 <a href="/el/collections/best-seller-1">
									 Best Sellers
								 </a>
							 </li>
							 <li>
								 <a href="/el/collections/promos">Promos</a>
							 </li>
						 </ul>
                     </div>
                     <div class="submenu-right">
                        <div class="menus-content 2">
                           <ul class="bytype">
                              <p class="heading" data-ly-mutation-count="1">Κατηγορίες Προϊόντων</p>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/suncare/αντηλιακα-προσωπου">ΑΝΤΗΛΙΑΚΑ ΠΡΟΣΩΠΟΥ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/suncare/αντηλιακα-σωματοσ">ΑΝΤΗΛΙΑΚΑ ΣΩΜΑΤΟΣ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/suncare/λαδια-μαυρισματος">ΛΑΔΙΑ ΜΑΥΡΙΣΜΑΤΟΣ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/suncare/after-sun">AFTER SUN</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/suncare/αντηλιακα-μαλλιων">ΑΝΤΗΛΙΑΚΑ ΜΑΛΛΙΩΝ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/suncare/βρεφικα-αντηλιακα">ΒΡΕΦΙΚΑ ΑΝΤΗΛΙΑΚΑ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/suncare/παιδικα-αντηλιακα">ΠΑΙΔΙΚΑ ΑΝΤΗΛΙΑΚΑ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/suncare/self-tanning">SELF TANNING</a>
                              </li>
                           </ul>
                           <ul class="byneed tit_">
                              <p class="heading" data-ly-mutation-count="1">Ανάγκες</p>
                              <li class="1|ΕΥΑΙΣΘΗΤΟ ΔΕΡΜΑ">
                                 <a href="/el/collections/suncare/ευαισθητο-δερμα">ΕΥΑΙΣΘΗΤΟ ΔΕΡΜΑ</a>
                              </li>
                              <li class="2|ΑΝΤΙΓΗΡΑΝΣΗ/ΠΑΝΑΔΕΣ">
                                 <a href="/el/collections/suncare/αντιγηρανση-παναδεσ">ΑΝΤΙΓΗΡΑΝΣΗ/ΠΑΝΑΔΕΣ</a>
                              </li>
                              <li class="3|ΕΝΥΔΑΤΩΣΗ ΠΡΟΣΩΠΟΥ">
                                 <a href="/el/collections/suncare/ενυδατωση">ΕΝΥΔΑΤΩΣΗ</a>
                              </li>
                              <li class="4|ΜΑΥΡΙΣΜΑ">
                                 <a href="/el/collections/suncare/μαυρισμα">ΜΑΥΡΙΣΜΑ</a>
                              </li>
                              <li class="5|SELF TAN">
                                 <a href="/el/collections/suncare/self-tan">SELF TAN</a>
                              </li>
                           </ul>
                           <ul class="byingredient ">
                              <p class="heading" data-ly-mutation-count="1">Συστατικά</p>
                              <li>
                                 <a href="/el/collections/suncare/γιαουρτι">ΓΙΑΟΥΡΤΙ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/suncare/κοκκινο-σταφυλι">ΚΟΚΚΙΝΟ ΣΤΑΦΥΛΙ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/suncare/καρυδα-αμυγδαλο">ΚΑΡΥΔΑ &amp; ΑΜΥΓΔΑΛΟ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/suncare/αγγουρι-υαλουρονικο">ΑΓΓΟΥΡΙ &amp; ΥΑΛΟΥΡΟΝΙΚΟ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/suncare/ginseng-υαλουρονικο">GINSENG &amp; ΥΑΛΟΥΡΟΝΙΚΟ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/suncare/καρυδια-καρυδα">ΚΑΡΥΔΙΑ &amp; ΚΑΡΥΔΑ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/suncare/αλοη">ΑΛΟΗ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/suncare/κοκκινο-αμπελι">ΚΟΚΚΙΝΟ ΑΜΠΕΛΙ</a>
                              </li>
                           </ul>
                        </div>
                        <div class="btn-wrap">
                           <a href="/el/collections/suncare/" class="all_prod btn-theme">All Products</a>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="show_subwrap">
               <a href="/el/collections/body-care">Σώμα</a>
               <div class="submenu-content">
                  <div class="width-1784 submenu-content-inner">
                     <div class="submenu-left">
						 <ul>
							 <li class="li-korres-circle">
								 <a href="/el/pages/mycircle-marketing-page">
									 <span>KORRES Circle</span>
									 <span class="join-now">Join now</span>
								 </a>
							 </li>
							 <li>
								 <a href="/el/collections/new">New</a>
							 </li>
							 <li>
								 <a href="/el/collections/best-seller-1">
									 Best Sellers
								 </a>
							 </li>
							 <li>
								 <a href="/el/collections/promos">Promos</a>
							 </li>
						 </ul>
                     </div>
                     <div class="submenu-right">
                        <div class="menus-content 2">
                           <ul class="bytype">
                              <p class="heading" data-ly-mutation-count="1">Κατηγορίες Προϊόντων</p>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/body-care/αφρολουτρα">ΑΦΡΟΛΟΥΤΡΑ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/body-care/κρεμες-σωματος-απολεπισης-λαδια">ΚΡΕΜΕΣ ΣΩΜΑΤΟΣ, ΑΠΟΛΕΠΙΣΗΣ &amp; ΛΑΔΙΑ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/body-care/body-mists">BODY MISTS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/body-care/μπαρες-σαπουνιων">ΜΠΑΡΕΣ ΣΑΠΟΥΝΙΩΝ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/body-care/ευαισθητη-περιοχη">ΕΥΑΙΣΘΗΤΗ ΠΕΡΙΟΧΗ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/body-care/αποσμητικα">ΑΠΟΣΜΗΤΙΚΑ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/body-care/περιποιηση-χεριων">ΠΕΡΙΠΟΙΗΣΗ ΧΕΡΙΩΝ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/body-care/σειρα-ελαιωνας-κρητης">ΣΕΙΡΑ ΕΛΑΙΩΝΑΣ ΚΡΗΤΗΣ</a>
                              </li>
                           </ul>
                           <ul class="byneed tit_">
                              <p class="heading" data-ly-mutation-count="1">Ανάγκες</p>
                              <li class="1|ΚΑΘΑΡΙΣΜΟΣ">
                                 <a href="/el/collections/body-care/καθαρισμοσ">ΚΑΘΑΡΙΣΜΟΣ</a>
                              </li>
                              <li class="2|ΚΑΘΗΜΕΡΙΝΗ ΕΝΥΔΑΤΩΣΗ">
                                 <a href="/el/collections/body-care/καθημερινη-ενυδατωση">ΚΑΘΗΜΕΡΙΝΗ ΕΝΥΔΑΤΩΣΗ</a>
                              </li>
                              <li class="2|ΡΥΘΜΙΣΗ ΛΙΠΑΡΟΤΗΤΑΣ">
                                 <a href="/el/collections/body-care/ενισχυμενη-ενυδατωση">ΕΝΙΣΧΥΜΕΝΗ ΕΝΥΔΑΤΩΣΗ</a>
                              </li>
                              <li class="4|ΣΥΣΦΙΓΞΗ ΣΩΜΑΤΟΣ">
                                 <a href="/el/collections/body-care/συσφιγξη-σωματοσ">ΣΥΣΦΙΓΞΗ ΣΩΜΑΤΟΣ</a>
                              </li>
                              <li class="5|ΑΠΟΛΕΠΙΣΗ">
                                 <a href="/el/collections/body-care/απολεπιση">ΑΠΟΛΕΠΙΣΗ</a>
                              </li>
                              <li class="4|ΛΑΜΨΗ">
                                 <a href="/el/collections/body-care/λαμψη">ΛΑΜΨΗ</a>
                              </li>
                           </ul>
                           <ul class="byingredient ">
                              <p class="heading" data-ly-mutation-count="1">Συστατικά</p>
                              <li>
                                 <a href="/el/collections/body-care/αμπελι-σαντορινησ">ΑΜΠΕΛΙ ΣΑΝΤΟΡΙΝΗΣ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/body-care/γιασεμι">ΓΙΑΣΕΜΙ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/body-care/πρασινο-τσαϊ">ΠΡΑΣΙΝΟ ΤΣΑΪ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/body-care/κιτρο">ΚΙΤΡΟ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/body-care/τζιντζερ-μοσχολεμονο">ΤΖΙΝΤΖΕΡ ΜΟΣΧΟΛΕΜΟΝΟ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/body-care/ελια">ΕΛΙΑ</a>
                              </li>
                           </ul>
                        </div>
                        <div class="btn-wrap">
                           <a href="/el/collections/body-care/" class="all_prod btn-theme">All Products</a>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="show_subwrap">
               <a href="/el/collections/hair">Μαλλιά</a>
               <div class="submenu-content">
                  <div class="width-1784 submenu-content-inner">
                     <div class="submenu-left">
						 <ul>
							 <li class="li-korres-circle">
								 <a href="/el/pages/mycircle-marketing-page">
									 <span>KORRES Circle</span>
									 <span class="join-now">Join now</span>
								 </a>
							 </li>
							 <li>
								 <a href="/el/collections/new">New</a>
							 </li>
							 <li>
								 <a href="/el/collections/best-seller-1">
									 Best Sellers
								 </a>
							 </li>
							 <li>
								 <a href="/el/collections/promos">Promos</a>
							 </li>
						 </ul>
                     </div>
                     <div class="submenu-right">
                        <div class="menus-content 2">
                           <ul class="bytype">
                              <p class="heading" data-ly-mutation-count="1">Κατηγορίες Προϊόντων</p>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/hair/βαφεσ-μαλλιων">ΒΑΦΕΣ ΜΑΛΛΙΩΝ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/hair/σαμπουαν-μαλλιων">ΣΑΜΠΟΥΑΝ ΜΑΛΛΙΩΝ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/hair/conditioners-μαλλιων">CONDITIONERS ΜΑΛΛΙΩΝ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/hair/μασκα-μαλλιων">ΜΑΣΚΑ ΜΑΛΛΙΩΝ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/hair/styling-μαλλιων">STYLING ΜΑΛΛΙΩΝ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/hair/σειρα-ελαιωνας-κρητης">ΣΕΙΡΑ ΕΛΑΙΩΝΑΣ ΚΡΗΤΗΣ</a>
                              </li>
                           </ul>
                           <ul class="byneed tit_">
                              <p class="heading" data-ly-mutation-count="1">Ανάγκες</p>
                              <li class="1|ΒΑΜΜΕΝΑ ΜΑΛΛΙΑ">
                                 <a href="/el/collections/hair/βαμμενα-μαλλια">ΒΑΜΜΕΝΑ ΜΑΛΛΙΑ</a>
                              </li>
                              <li class="2|ΚΑΝΟΝΙΚΑ ΜΑΛΛΙΑ">
                                 <a href="/el/collections/hair/κανονικα-μαλλια">ΚΑΝΟΝΙΚΑ ΜΑΛΛΙΑ</a>
                              </li>
                              <li class="3|ΛΕΠΤΑ/ΑΔΥΝΑΜΑ ΜΑΛΛΙΑ">
                                 <a href="/el/collections/hair/λεπτα-αδυναμα-μαλλια">ΛΕΠΤΑ/ΑΔΥΝΑΜΑ ΜΑΛΛΙΑ</a>
                              </li>
                              <li class="4|ΞΗΡΑ/ΑΦΥΔΑΤΩΜΕΝΑ ΜΑΛΛΙΑ">
                                 <a href="/el/collections/hair/ξηρα-αφυδατωμενα-μαλλια">ΞΗΡΑ/ΑΦΥΔΑΤΩΜΕΝΑ ΜΑΛΛΙΑ</a>
                              </li>
                              <li class="5|ΛΙΠΑΡΑ ΜΑΛΛΙΑ">
                                 <a href="/el/collections/hair/λιπαρα-μαλλια">ΛΙΠΑΡΑ ΜΑΛΛΙΑ</a>
                              </li>
                              <li class="6|ΠΙΤΥΡΙΔΑ">
                                 <a href="/el/collections/hair/πιτυριδα">ΠΙΤΥΡΙΔΑ</a>
                              </li>
                              <li class="7|ΚΑΤΑ ΤΗΣ ΤΡΙΧΟΠΤΩΣΗΣ">
                                 <a href="/el/collections/hair/κατα-τησ-τριχοπτωσησ">ΚΑΤΑ ΤΗΣ ΤΡΙΧΟΠΤΩΣΗΣ</a>
                              </li>
                           </ul>
                           <ul class="byingredient ">
                              <p class="heading" data-ly-mutation-count="1">Συστατικά</p>
                              <li>
                                 <a href="/el/collections/hair/argan-oil">ARGAN OIL</a>
                              </li>
                              <li>
                                 <a href="/el/collections/hair/αλοη-δικταμο">ΑΛΟΗ &amp;  ΔΙΚΤΑΜΟ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/hair/πρωτεινεσ-ρυζιου-τηλιο">ΠΡΩΤΕΙΝΕΣ ΡΥΖΙΟΥ &amp; ΤΗΛΙΟ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/hair/ηλιανθοσ-τσαϊ-βουνου">ΗΛΙΑΝΘΟΣ &amp; ΤΣΑΪ ΒΟΥΝΟΥ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/hair/αμυγδαλο-λιναρι">ΑΜΥΓΔΑΛΟ &amp; ΛΙΝΑΡΙ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/hair/γλυκυρριζα-τσουκνιδα">ΓΛΥΚΥΡΡΙΖΑ &amp; ΤΣΟΥΚΝΙΔΑ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/hair/κυστινη-γλυκοπρωτεϊνεσ">ΚΥΣΤΙΝΗ &amp; ΓΛΥΚΟΠΡΩΤΕΪΝΕΣ</a>
                              </li>
                           </ul>
                        </div>
                        <div class="btn-wrap">
                           <a href="/el/collections/hair/" class="all_prod btn-theme">All Products</a>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="show_subwrap">
               <a href="/el/collections/makeup">Μακιγιάζ</a>
               <div class="submenu-content">
                  <div class="width-1784 submenu-content-inner">
                     <div class="submenu-left">
						 <ul>
							 <li class="li-korres-circle">
								 <a href="/el/pages/mycircle-marketing-page">
									 <span>KORRES Circle</span>
									 <span class="join-now">Join now</span>
								 </a>
							 </li>
							 <li>
								 <a href="/el/collections/new">New</a>
							 </li>
							 <li>
								 <a href="/el/collections/best-seller-1">
									 Best Sellers
								 </a>
							 </li>
							 <li>
								 <a href="/el/collections/promos">Promos</a>
							 </li>
						 </ul>
                     </div>
                     <div class="submenu-right">
                        <div class="menus-content 2">
                           <ul class="bytype">
                              <p class="heading" data-ly-mutation-count="1">Κατηγορίες Προϊόντων</p>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/makeup/makeup-concealers">MAKE-UP &amp; CONCEALERS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/makeup/μακιγιαζ-ματιων">ΜΑΚΙΓΙΑΖ ΜΑΤΙΩΝ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/makeup/χειλη">ΧΕΙΛΗ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/makeup/βερνικια-νυχιων">ΒΕΡΝΙΚΙΑ ΝΥΧΙΩΝ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/makeup/ρουζ-bronzers">ΡΟΥΖ & BRONZERS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/makeup/πουδρες">ΠΟΥΔΡΕΣ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/makeup/αξεσουαρ-για-μακιγιαζ">ΑΞΕΣΟΥΑΡ ΓΙΑ ΜΑΚΙΓΙΑΖ</a>
                              </li>
                           </ul>
                           <ul class="byneed tit_">
                              <p class="heading" data-ly-mutation-count="1">Ανάγκες</p>
                              <li class="7|ΑΝΤΙΓΗΡΑΝΣΗ">
                                 <a href="/el/collections/makeup/αντιγηρανση">ΑΝΤΙΓΗΡΑΝΣΗ</a>
                              </li>
                              <li class="8|ΕΝΤΟΝΟ ΧΡΩΜΑ">
                                 <a href="/el/collections/makeup/εντονο-χρωμα">ΕΝΤΟΝΟ ΧΡΩΜΑ</a>
                              </li>
                              <li class="9|ΕΝΤΟΝΟ ΧΡΩΜΑ">
                                 <a href="/el/collections/makeup/λιπαρο-δερμα-με-ατελειες">ΛΙΠΑΡΟ ΔΕΡΜΑ ΜΕ ΑΤΕΛΕΙΕΣ</a>
                              </li>
                              <li class="10|ΕΝΤΟΝΟ ΧΡΩΜΑ">
                                 <a href="/el/collections/makeup/φυσικη-καλυψη-λαμψη">ΦΥΣΙΚΗ ΚΑΛΥΨΗ &amp; ΛΑΜΨΗ</a>
                              </li>
                              <li class="11|ΕΝΤΟΝΟ ΒΛΕΜΜΑ">
                                 <a href="/el/collections/makeup/εντονο-βλεμμα">ΕΝΤΟΝΟ ΒΛΕΜΜΑ</a>
                              </li>
                           </ul>
                           <ul class="byingredient ">
                              <p class="heading" data-ly-mutation-count="1">Συστατικά</p>
                              <li>
                                 <a href="/el/collections/makeup/ενεργοσ-ανθρακασ">ΕΝΕΡΓΟΣ ΑΝΘΡΑΚΑΣ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/makeup/αγριο-τριανταφυλλο">ΑΓΡΙΟ ΤΡΙΑΝΤΑΦΥΛΛΟ</a>
                              </li>
                              <li>
                                 <a href="/el/collections/makeup/morello">MORELLO</a>
                              </li>
                              <li>
                                 <a href="/el/collections/makeup/volcanic-minerals">VOLCANIC MINERALS</a>
                              </li>
                              <li>
                                 <a href="/el/collections/makeup/μαυρη-πευκη">ΜΑΥΡΗ ΠΕΥΚΗ</a>
                              </li>
                           </ul>
                        </div>
                        <div class="btn-wrap">
                           <a href="/el/collections/makeup/" class="all_prod btn-theme">All Products</a>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="show_subwrap">
               <a href="/el/collections/fragrance">Αρώματα</a>
               <div class="submenu-content">
                  <div class="width-1784 submenu-content-inner">
                     <div class="submenu-left">
						 <ul>
							 <li class="li-korres-circle">
								 <a href="/el/pages/mycircle-marketing-page">
									 <span>KORRES Circle</span>
									 <span class="join-now">Join now</span>
								 </a>
							 </li>
							 <li>
								 <a href="/el/collections/new">New</a>
							 </li>
							 <li>
								 <a href="/el/collections/best-seller-1">
									 Best Sellers
								 </a>
							 </li>
							 <li>
								 <a href="/el/collections/promos">Promos</a>
							 </li>
						 </ul>
                     </div>
                     <div class="submenu-right">
                        <div class="menus-content 2">
                           <ul class="bytype">
                              <p class="heading" data-ly-mutation-count="1">Κατηγορίες Προϊόντων</p>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/fragrance/eau-de-toilette">EAU DE TOILETTE</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/fragrance/eau-de-parfum">EAU DE PARFUM</a>
                              </li>
                           </ul>
                           <ul class="byneed tit_">
                              <p class="heading">By Scent</p>
                              <li class="1|FLORAL">
                                 <a href="/el/collections/fragrance/floral">FLORAL</a>
                              </li>
                              <li class="2|FOUGERE">
                                 <a href="/el/collections/fragrance/fresh">FRESH</a>
                              </li>
                              <li class="3|WARM &amp; ORIENTAL">
                                 <a href="/el/collections/fragrance/warm-oriental">WARM &amp; ORIENTAL</a>
                              </li>
                              <li class="4|EARTHY &amp; WOODY">
                                 <a href="/el/collections/fragrance/earthy-woody">EARTHY &amp; WOODY</a>
                              </li>
                           </ul>
                           <ul class="byingredient ">
                              <p class="heading" data-ly-mutation-count="1">Συστατικά</p>
                              <li>
                                 <a href="/el/collections/fragrance/white-tea">WHITE TEA</a>
                              </li>
                              <li>
                                 <a href="/el/collections/fragrance/cashmere-cumquat">CASHMERE CUMQUAT</a>
                              </li>
                              <li>
                                 <a href="/el/collections/fragrance/midnight-dahlia">MIDNIGHT DAHLIA</a>
                              </li>   
                              <li>
                                 <a href="/el/collections/fragrance/oceanic-amber">OCEANIC AMBER</a>
                              </li>
                              <li>
                                 <a href="/el/collections/fragrance/mountain-pepper">MOUNTAIN PEPPER</a>
                              </li>
                           </ul>
                        </div>
                        <div class="btn-wrap">
                           <a href="/el/collections/fragrance/" class="all_prod btn-theme">All Products</a>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="show_subwrap">
               <a href="/el/collections/apothecary">Φαρμακείο</a>
               <div class="submenu-content">
                  <div class="width-1784 submenu-content-inner">
                     <div class="submenu-left">
						 <ul>
							 <li class="li-korres-circle">
								 <a href="/el/pages/mycircle-marketing-page">
									 <span>KORRES Circle</span>
									 <span class="join-now">Join now</span>
								 </a>
							 </li>
							 <li>
								 <a href="/el/collections/new">New</a>
							 </li>
							 <li>
								 <a href="/el/collections/best-seller-1">
									 Best Sellers
								 </a>
							 </li>
							 <li>
								 <a href="/el/collections/promos">Promos</a>
							 </li>
						 </ul>
                     </div>
                     <div class="submenu-right">
                        <div class="menus-content 2">
                           <ul class="bytype">
                              <p class="heading" data-ly-mutation-count="1">Κατηγορίες Προϊόντων</p>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/apothecary/σιροπι">ΣΙΡΟΠΙ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/apothecary/καραμελεσ">ΚΑΡΑΜΕΛΕΣ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/apothecary/ροφημα">ΡΟΦΗΜΑ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/apothecary/συμπληρωματα">ΣΥΜΠΛΗΡΩΜΑΤΑ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/apothecary/οδοντοκρεμεσ">ΟΔΟΝΤΟΚΡΕΜΕΣ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/apothecary/εντομοαπωθητικα">ΕΝΤΟΜΟΑΠΩΘΗΤΙΚΑ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/apothecary/αντι-φθειρικα">ΑΝΤΙ-ΦΘΕΙΡΙΚΑ</a>
                              </li>
                           </ul>
                           <ul class="byneed tit_">
                           </ul>
                           <ul class="byingredient ">
                           </ul>
                        </div>
                        <div class="btn-wrap">
                           <a href="/el/collections/apothecary/" class="all_prod btn-theme">All Products</a>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="show_subwrap">
               <a href="/el/collections/baby-care">Βρεφικά</a>
               <div class="submenu-content">
                  <div class="width-1784 submenu-content-inner">
                     <div class="submenu-left">
						 <ul>
							 <li class="li-korres-circle">
								 <a href="/el/pages/mycircle-marketing-page">
									 <span>KORRES Circle</span>
									 <span class="join-now">Join now</span>
								 </a>
							 </li>
							 <li>
								 <a href="/el/collections/new">New</a>
							 </li>
							 <li>
								 <a href="/el/collections/best-seller-1">
									 Best Sellers
								 </a>
							 </li>
							 <li>
								 <a href="/el/collections/promos">Promos</a>
							 </li>
						 </ul>
                     </div>
                     <div class="submenu-right">
                        <div class="menus-content 2">
                           <ul class="bytype">
                              <p class="heading" data-ly-mutation-count="1">Κατηγορίες Προϊόντων</p>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/baby-care/βρεφικα-βιολογικα-γαλατα">ΒΡΕΦΙΚΑ ΒΙΟΛΟΓΙΚΑ ΓΑΛΑΤΑ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/baby-care/καθαρισμοσ-φροντιδα">ΚΑΘΑΡΙΣΜΟΣ &amp; ΦΡΟΝΤΙΔΑ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/baby-care/κρεμες-αλλαγησ-πανασ">ΚΡΕΜΕΣ ΑΛΛΑΓΗΣ ΠΑΝΑΣ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/baby-care/μπιμπερο-θηλεσ">ΜΠΙΜΠΕΡΟ &amp; ΘΗΛΕΣ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/baby-care/βρεφικα-ρουχα-αξεσουαρ">ΒΡΕΦΙΚΑ ΡΟΥΧΑ & ΑΞΕΣΟΥΑΡ</a>
                              </li>
                           </ul>
                           <ul class="byneed tit_">
                           </ul>
                           <ul class="byingredient ">
                           </ul>
                        </div>
                        <div class="btn-wrap">
                           <a href="/el/collections/baby-care/" class="all_prod btn-theme">All Products</a>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="show_subwrap">
               <a href="/el/collections/kids-care">Παιδικά</a>
               <div class="submenu-content">
                  <div class="width-1784 submenu-content-inner">
                     <div class="submenu-left">
						 <ul>
							 <li class="li-korres-circle">
								 <a href="/el/pages/mycircle-marketing-page">
									 <span>KORRES Circle</span>
									 <span class="join-now">Join now</span>
								 </a>
							 </li>
							 <li>
								 <a href="/el/collections/new">New</a>
							 </li>
							 <li>
								 <a href="/el/collections/best-seller-1">
									 Best Sellers
								 </a>
							 </li>
							 <li>
								 <a href="/el/collections/promos">Promos</a>
							 </li>
						 </ul>
                     </div>
                     <div class="submenu-right">
                        <div class="menus-content 2">
                           <ul class="bytype">
                              <p class="heading" data-ly-mutation-count="1">Κατηγορίες Προϊόντων</p>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/kids-care/μαλλια-σωμα-για-παιδια">ΜΑΛΛΙΑ &amp; ΣΩΜΑ ΓΙΑ ΠΑΙΔΙΑ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/kids-care/εντομοαπωθητικα">ΕΝΤΟΜΟΑΠΩΘΗΤΙΚΑ</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/el/collections/kids-care/αντι-φθειρικα">ΑΝΤΙ-ΦΘΕΙΡΙΚΑ</a>
                              </li>
                           </ul>
                           <ul class="byneed tit_">
                           </ul>
                           <ul class="byingredient ">
                           </ul>
                        </div>
                        <div class="btn-wrap">
                           <a href="/el/collections/kids-care/" class="all_prod btn-theme">All Products</a>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </li>
   <li data-key="giorgos-lena" class="giorgos-lena">
      <a class="" href="/el/pages/giorgos-and-lena">Giorgos &amp; Lena</a>
   </li>   
   <li data-key="full-circle" class="full-circle">
      <a class="" href="/el/pages/full-circle">Sustainability Circle</a>
      <div class="submenu-wrap submenu-wrap-full-circle main_cate">
         <ul class="width-1784">
            <li data-key="soil-lab" class="show_subwrap active">
               <a href="/el/pages/full-circle-soil-lab">Soil Lab</a>
            </li>
            <li data-key="extraction-lab" class="show_subwrap ">
               <a href="/el/pages/full-circle-extraction-lab">Extraction Lab</a>
            </li>
            <li data-key="molecular-lab" class="show_subwrap ">
               <a href="/el/pages/full-circle-molecular-lab">Molecular Lab</a>
            </li>
            <li data-key="formulation-lab" class="show_subwrap ">
               <a href="/el/pages/full-circle-formulation-lab">Formulation Lab</a>
            </li>
            <li data-key="design-lab" class="show_subwrap ">
               <a href="/el/pages/full-circle-design-lab">Design Lab</a>
            </li>
            <li data-key="recycle-lab" class="show_subwrap ">
               <a href="/el/pages/full-circle-recycle-lab">Recycle Lab</a>
            </li>
         </ul>
      </div>
   </li>
   <li data-key="greece" class="greece">
      <a class="" href="/el/pages/greece">Greece</a>
   </li>
</ul>
    {% else %}
    <ul class="main-nav__desktop">
   <li data-key="shop" class="shop">
      <a class="" href="/collections/all-products">Shop</a>
      <div class="submenu-wrap main_cate">
         <ul class="width-1784">
            <li class="show_subwrap">
               <a href="/collections/all-products">Shop All</a>
            </li>
            <li class="show_subwrap">
               <a href="/collections/skincare">Skincare</a>
               <div class="submenu-content">
                  <div class="width-1784 submenu-content-inner">
                     <div class="submenu-left">
                        <ul>
							<li class="li-korres-circle">
								<a href="/pages/mycircle-marketing-page">
									<span>KORRES Circle</span>
									<span class="join-now">Join now</span>
								</a>
							</li>
                           <li>
                              <a href="/collections/new">New</a>
                           </li>
                           <li>
                              <a href="/collections/best-seller-1">Best
                              Sellers</a>
                           </li>
                           <li>
                              <a href="/collections/promos">Promos</a>
                           </li>
                        </ul>
                     </div>
                     <div class="submenu-right">
                        <div class="menus-content 2">
                           <ul class="bytype">
                              <p class="heading">By Type</p>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/skincare/moisturizers">MOISTURIZERS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/skincare/serums">SERUMS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/skincare/cleansers-toners">CLEANSERS &amp; TONERS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/skincare/masks-scrubs">MASKS &amp; SCRUBS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/skincare/eye-care">EYE CARE</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/skincare/lip-care">LIP CARE</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/skincare/mens-care">MEN'S CARE</a>
                              </li>
                           </ul>
                           <ul class="byneed tit_">
                              <p class="heading">By Need</p>
                              <li class="1|CLEANSING">
                                 <a href="/collections/skincare/cleansing">CLEANSING</a>
                              </li>
                              <li class="2|OIL &amp; PORE CONTROL">
                                 <a href="/collections/skincare/oil-pore-control">OIL &amp; PORE CONTROL</a>
                              </li>
                              <li class="3|FACE HYDRATION">
                                 <a href="/collections/skincare/face-hydration">FACE HYDRATION</a>
                              </li>
                              <li class="4|BRIGHTENING">
                                 <a href="/collections/skincare/brightening">BRIGHTENING</a>
                              </li>
                              <li class="5|FIRMING + LIFTING">
                                 <a href="/collections/skincare/firming-lifting">FIRMING + LIFTING</a>
                              </li>
                              <li class="6|POST MENOPAUSE">
                                 <a href="/collections/skincare/post-menopause">POST MENOPAUSE</a>
                              </li>
                              <li class="7|ANTIAGEING">
                                 <a href="/collections/skincare/antiageing">ANTIAGEING</a>
                              </li>
                           </ul>
                           <ul class="byingredient ">
                              <p class="heading">By Ingredient</p>
                              <li>
                                 <a href="/collections/skincare/greek-yoghurt">GREEK YOGHURT</a>
                              </li>
                              <li>
                                 <a href="/collections/skincare/black-pine">BLACK PINE</a>
                              </li>
                              <li>
                                 <a href="/collections/skincare/white-pine">WHITE PINE</a>
                              </li>
                              <li>
                                 <a href="/collections/skincare/wild-rose">WILD ROSE</a>
                              </li>
                              <li>
                                 <a href="/collections/skincare/golden-krocus">GOLDEN KROCUS</a>
                              </li>
                              <li>
                                 <a href="/collections/skincare/pomegranate">POMEGRANATE</a>
                              </li>
                           </ul>
                        </div>
                        <div class="btn-wrap">
                           <a href="/collections/skincare/" class="all_prod btn-theme">All Products</a>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="show_subwrap">
               <a href="/collections/suncare">Suncare</a>
               <div class="submenu-content">
                  <div class="width-1784 submenu-content-inner">
                     <div class="submenu-left">
						 <ul>
							 <li class="li-korres-circle">
								 <a href="/pages/mycircle-marketing-page">
									 <span>KORRES Circle</span>
									 <span class="join-now">Join now</span>
								 </a>
							 </li>
							 <li>
								 <a href="/collections/new">New</a>
							 </li>
							 <li>
								 <a href="/collections/best-seller-1">
									 Best
									 Sellers
								 </a>
							 </li>
							 <li>
								 <a href="/collections/promos">Promos</a>
							 </li>
						 </ul>
                     </div>
                     <div class="submenu-right">
                        <div class="menus-content 2">
                           <ul class="bytype">
                              <p class="heading">By Type</p>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/suncare/face-sunscreens">FACE SUNSCREENS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/suncare/body-sunscreens">BODY SUNSCREENS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/suncare/sun-tan-oils">SUN TAN OILS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/suncare/after-sun">AFTER SUN</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/suncare/hair-sun-spray">HAIR SUN SPRAY</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/suncare/baby-sunscreens">BABY SUNSCREENS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/suncare/kids-sunscreens">KID'S SUNSCREENS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/suncare/self-tanning">SELF TANNING</a>
                              </li>
                           </ul>
                           <ul class="byneed tit_">
                              <p class="heading">By Need</p>
                              <li class="1|SENSITIVE SKIN">
                                 <a href="/collections/suncare/sensitive-skin">SENSITIVE SKIN</a>
                              </li>
                              <li class="2|ANTIAGEING/ANTISPOT">
                                 <a href="/collections/suncare/antiageing-antispot">ANTIAGEING/ANTISPOT</a>
                              </li>
                              <li class="3|FACE HYDRATION">
                                 <a href="/collections/suncare/hydration">HYDRATION</a>
                              </li>
                              <li class="4|SUN TAN">
                                 <a href="/collections/suncare/sun-tan">SUN TAN</a>
                              </li>
                              <li class="5|SELF TAN">
                                 <a href="/collections/suncare/self-tan">SELF TAN</a>
                              </li>
                           </ul>
                           <ul class="byingredient ">
                              <p class="heading">By Ingredient</p>
                              <li>
                                 <a href="/collections/suncare/yoghurt">YOGHURT</a>
                              </li>
                              <li>
                                 <a href="/collections/suncare/red-grape">RED GRAPE</a>
                              </li>
                              <li>
                                 <a href="/collections/suncare/coconut-almond">COCONUT &amp; ALMOND</a>
                              </li>
                              <li>
                                 <a href="/collections/suncare/cucumber-hyaluronic">CUCUMBER &amp; HYALURONIC</a>
                              </li>
                              <li>
                                 <a href="/collections/suncare/ginseng-hyaluronic">GINSENG &amp; HYALURONIC</a>
                              </li>
                              <li>
                                 <a href="/collections/suncare/walnut-coconut">WALNUT &amp; COCONUT</a>
                              </li>
                              <li>
                                 <a href="/collections/suncare/aloe-vera">ALOE VERA</a>
                              </li>
                              <li>
                                 <a href="/collections/suncare/red-vine">RED VINE</a>
                              </li>
                           </ul>
                        </div>
                        <div class="btn-wrap">
                           <a href="/collections/suncare/" class="all_prod btn-theme">All Products</a>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="show_subwrap">
               <a href="/collections/body-care">Body</a>
               <div class="submenu-content">
                  <div class="width-1784 submenu-content-inner">
                     <div class="submenu-left">
						 <ul>
							 <li class="li-korres-circle">
								 <a href="/pages/mycircle-marketing-page">
									 <span>KORRES Circle</span>
									 <span class="join-now">Join now</span>
								 </a>
							 </li>
							 <li>
								 <a href="/collections/new">New</a>
							 </li>
							 <li>
								 <a href="/collections/best-seller-1">
									 Best
									 Sellers
								 </a>
							 </li>
							 <li>
								 <a href="/collections/promos">Promos</a>
							 </li>
						 </ul>
                     </div>
                     <div class="submenu-right">
                        <div class="menus-content 2">
                           <ul class="bytype">
                              <p class="heading">By Type</p>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/body-care/shower-gels">SHOWER GELS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/body-care/body-creams-oils-scrubs">BODY CREAMS, OILS, SCRUBS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/body-care/body-mists">BODY MISTS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/body-care/bar-soaps">BAR SOAPS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/body-care/intimate">INTIMATE</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/body-care/deodorants">DEODORANTS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/body-care/hand-care">HAND CARE</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/body-care/pure-greek-olive-line">PURE GREEK OLIVE LINE</a>
                              </li>
                           </ul>
                           <ul class="byneed tit_">
                              <p class="heading">By Need</p>
                              <li class="1|CLEANSING">
                                 <a href="/collections/body-care/cleansing">CLEANSING</a>
                              </li>
                              <li class="2|EVERYDAY HYDRATION">
                                 <a href="/collections/body-care/everyday-hydration">EVERYDAY HYDRATION</a>
                              </li>
                              <li class="3|INTENSIVE HYDRATION">
                                 <a href="/collections/body-care/intensive-hydration">INTENSIVE HYDRATION</a>
                              </li>
                              <li class="4|BODY FIRMING">
                                 <a href="/collections/body-care/body-firming">BODY FIRMING</a>
                              </li>
                              <li class="5|EXFOLIATION">
                                 <a href="/collections/body-care/exfoliation">EXFOLIATION</a>
                              </li>
                              <li class="6|GLOW">
                                 <a href="/collections/body-care/glow">GLOW</a>
                              </li>
                           </ul>
                           <ul class="byingredient ">
                              <p class="heading">By Ingredient</p>
                              <li>
                                 <a href="/collections/body-care/santorini-vine">SANTORINI VINE</a>
                              </li> 
                              <li>
                                 <a href="/collections/body-care/jasmine">JASMINE</a>
                              </li>
                              <li>
                                 <a href="/collections/body-care/mint-tea">MINT TEA</a>
                              </li>
                              <li>
                                 <a href="/collections/body-care/citrus">CITRUS</a>
                              </li>
                              <li>
                                 <a href="/collections/body-care/ginger-lime">GINGER LIME</a>
                              </li>
                              <li>
                                 <a href="/collections/body-care/olive">OLIVE</a>
                              </li>
                           </ul>
                        </div>
                        <div class="btn-wrap">
                           <a href="/collections/body-care/" class="all_prod btn-theme">All Products</a>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="show_subwrap">
               <a href="/collections/hair">Hair</a>
               <div class="submenu-content">
                  <div class="width-1784 submenu-content-inner">
                     <div class="submenu-left">
						 <ul>
							 <li class="li-korres-circle">
								 <a href="/pages/mycircle-marketing-page">
									 <span>KORRES Circle</span>
									 <span class="join-now">Join now</span>
								 </a>
							 </li>
							 <li>
								 <a href="/collections/new">New</a>
							 </li>
							 <li>
								 <a href="/collections/best-seller-1">
									 Best
									 Sellers
								 </a>
							 </li>
							 <li>
								 <a href="/collections/promos">Promos</a>
							 </li>
						 </ul>
                     </div>
                     <div class="submenu-right">
                        <div class="menus-content 2">
                           <ul class="bytype">
                              <p class="heading">By Type</p>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/hair/colorants">COLORANTS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/hair/shampoos">SHAMPOOS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/hair/conditioners">CONDITIONERS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/hair/masks">MASKS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/hair/hair-styling">HAIR STYLING</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/hair/pure-greek-olive-line">PURE GREEK OLIVE LINE</a>
                              </li>
                           </ul>
                           <ul class="byneed tit_">
                              <p class="heading">By Need</p>
                              <li class="1|COLOURED HAIR">
                                 <a href="/collections/hair/coloured-hair">COLOURED HAIR</a>
                              </li>
                              <li class="2|NORMAL HAIR">
                                 <a href="/collections/hair/normal-hair">NORMAL HAIR</a>
                              </li>
                              <li class="3|THIN/WEAK HAIR">
                                 <a href="/collections/hair/thin-weak-hair">THIN/WEAK HAIR</a>
                              </li>
                              <li class="4|DRY/DAMAGED HAIR">
                                 <a href="/collections/hair/dry-damaged-hair">DRY/DAMAGED HAIR</a>
                              </li>
                              <li class="5|OILY HAIR">
                                 <a href="/collections/hair/oily-hair">OILY HAIR</a>
                              </li>
                              <li class="6|DANDRUFF">
                                 <a href="/collections/hair/dandruff">DANDRUFF</a>
                              </li>
                              <li class="7|HAIR LOSS">
                                 <a href="/collections/hair/hair-loss">HAIR LOSS</a>
                              </li>
                           </ul>
                           <ul class="byingredient ">
                              <p class="heading">By Ingredient</p>
                              <li>
                                 <a href="/collections/hair/argan-oil">ARGAN OIL</a>
                              </li>
                              <li>
                                 <a href="/collections/hair/aloe-dittany">ALOE &amp; DITTANY</a>
                              </li>
                              <li>
                                 <a href="/collections/hair/rice-proteins-linden">RICE PROTEINS &amp; LINDEN</a>
                              </li>
                              <li>
                                 <a href="/collections/hair/sunflower-mountain-tea">SUNFLOWER &amp; MOUNTAIN TEA</a>
                              </li>
                              <li>
                                 <a href="/collections/hair/almond-linseed">ALMOND &amp; LINSEED</a>
                              </li>
                              <li>
                                 <a href="/collections/hair/liquorice-urtica">LIQUORICE &amp; URTICA</a>
                              </li>
                              <li>
                                 <a href="/collections/hair/cystine-glycoroteins">CYSTINE &amp; GLYCOROTEINS</a>
                              </li>
                           </ul>
                        </div>
                        <div class="btn-wrap">
                           <a href="/collections/hair/" class="all_prod btn-theme">All Products</a>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="show_subwrap">
               <a href="/collections/makeup">Makeup</a>
               <div class="submenu-content">
                  <div class="width-1784 submenu-content-inner">
                     <div class="submenu-left">
						 <ul>
							 <li class="li-korres-circle">
								 <a href="/pages/mycircle-marketing-page">
									 <span>KORRES Circle</span>
									 <span class="join-now">Join now</span>
								 </a>
							 </li>
							 <li>
								 <a href="/collections/new">New</a>
							 </li>
							 <li>
								 <a href="/collections/best-seller-1">
									 Best
									 Sellers
								 </a>
							 </li>
							 <li>
								 <a href="/collections/promos">Promos</a>
							 </li>
						 </ul>
                     </div>
                     <div class="submenu-right">
                        <div class="menus-content 2">
                           <ul class="bytype">
                              <p class="heading">By Type</p>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/makeup/makeup-concealers">MAKE-UP &amp; CONCEALERS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/makeup/eyes">EYES</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/makeup/lips">LIPS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/makeup/nails">NAILS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/makeup/blushes-bronzers">BLUSHES &amp; BRONZERS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/makeup/powders">POWDERS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/makeup/accessories">ACCESSORIES</a>
                              </li>
                           </ul>
                           <ul class="byneed tit_">
                              <p class="heading">By Need</p>
                              <li class="7|ANTIAGEING">
                                 <a href="/collections/makeup/antiageing">ANTIAGEING</a>
                              </li>
                              <li class="8|FULL COLOUR">
                                 <a href="/collections/makeup/full-colour">FULL COLOUR</a>
                              </li>
                                 <li class="9|FULL COLOUR">
                                 <a href="/collections/makeup/oily-skin-with-imperfections">OILY SKIN WITH IMPERFECTIONS</a>
                              </li>
                              <li class="10|FULL COLOUR">
                                 <a href="/collections/makeup/natural-coverage-glow">NATURAL COVERAGE &amp; GLOW</a>
                              </li>
                              <li class="11|INTENSE EYES">
                                 <a href="/collections/makeup/intense-eyes">INTENSE EYES</a>
                              </li>
                           </ul>
                           <ul class="byingredient ">
                              <p class="heading">By Ingredient</p>
                              <li>
                                 <a href="/collections/makeup/activated-charcoal">ACTIVATED CHARCOAL</a>
                              </li>
                              <li>
                                 <a href="/collections/makeup/wild-rose">WILD ROSE</a>
                              </li>
                              <li>
                                 <a href="/collections/makeup/morello">MORELLO</a>
                              </li>
                              <li>
                                 <a href="/collections/makeup/volcanic-minerals">VOLCANIC MINERALS</a>
                              </li>
                              <li>
                                 <a href="/collections/makeup/black-pine">BLACK PINE</a>
                              </li>
                           </ul>
                        </div>
                        <div class="btn-wrap">
                           <a href="/collections/makeup/" class="all_prod btn-theme">All Products</a>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="show_subwrap">
               <a href="/collections/fragrance">Fragrance</a>
               <div class="submenu-content">
                  <div class="width-1784 submenu-content-inner">
                     <div class="submenu-left">
						 <ul>
							 <li class="li-korres-circle">
								 <a href="/pages/mycircle-marketing-page">
									 <span>KORRES Circle</span>
									 <span class="join-now">Join now</span>
								 </a>
							 </li>
							 <li>
								 <a href="/collections/new">New</a>
							 </li>
							 <li>
								 <a href="/collections/best-seller-1">
									 Best
									 Sellers
								 </a>
							 </li>
							 <li>
								 <a href="/collections/promos">Promos</a>
							 </li>
						 </ul>
                     </div>
                     <div class="submenu-right">
                        <div class="menus-content 2">
                           <ul class="bytype">
                              <p class="heading">By Type</p>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/fragrance/eau-de-toilette">EAU DE TOILETTE</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/fragrance/eau-de-parfum">EAU DE PARFUM</a>
                              </li>
                           </ul>
                           <ul class="byneed tit_">
                              <p class="heading">By Scent</p>
                              <li class="1|FLORAL">
                                 <a href="/collections/fragrance/floral">FLORAL</a>
                              </li>
                              <li class="2|FRESH">
                                 <a href="/collections/fragrance/fresh">FRESH</a>
                              </li>
                              <li class="3|WARM &amp; ORIENTAL">
                                 <a href="/collections/fragrance/warm-oriental">WARM &amp; ORIENTAL</a>
                              </li>
                              <li class="4|EARTHY &amp; WOODY">
                                 <a href="/collections/fragrance/earthy-woody">EARTHY &amp; WOODY</a>
                              </li>
                           </ul>
                           <ul class="byingredient ">
                              <p class="heading">By Ingredient</p>
                              <li>
                                 <a href="/collections/fragrance/white-tea">WHITE TEA</a>
                              </li>
                              <li>
                                 <a href="/collections/fragrance/cashmere-cumquat">CASHMERE CUMQUAT</a>
                              </li>
                              <li>
                                 <a href="/collections/fragrance/midnight-dahlia">MIDNIGHT DAHLIA</a>
                              </li>
                              <li>
                                 <a href="/collections/fragrance/oceanic-amber">OCEANIC AMBER</a>
                              </li>
                              <li>
                                 <a href="/collections/fragrance/mountain-pepper">MOUNTAIN PEPPER</a>
                              </li>
                           </ul>
                        </div>
                        <div class="btn-wrap">
                           <a href="/collections/fragrance/" class="all_prod btn-theme">All Products</a>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="show_subwrap">
               <a href="/collections/apothecary">Apothecary</a>
               <div class="submenu-content">
                  <div class="width-1784 submenu-content-inner">
                     <div class="submenu-left">
						 <ul>
							 <li class="li-korres-circle">
								 <a href="/pages/mycircle-marketing-page">
									 <span>KORRES Circle</span>
									 <span class="join-now">Join now</span>
								 </a>
							 </li>
							 <li>
								 <a href="/collections/new">New</a>
							 </li>
							 <li>
								 <a href="/collections/best-seller-1">
									 Best
									 Sellers
								 </a>
							 </li>
							 <li>
								 <a href="/collections/promos">Promos</a>
							 </li>
						 </ul>
                     </div>
                     <div class="submenu-right">
                        <div class="menus-content 2">
                           <ul class="bytype">
                              <p class="heading">By Type</p>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/apothecary/syrup">SYRUP</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/apothecary/pastilles">PASTILLES</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/apothecary/beverage">BEVERAGE</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/apothecary/supplements">SUPPLEMENTS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/apothecary/oral-care">ORAL CARE</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/apothecary/insect-repellents">INSECT REPELLENTS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/apothecary/anti-lice-treatment">ANTI-LICE TREATMENT</a>
                              </li>
                           </ul>
                           <ul class="byneed tit_">
                           </ul>
                           <ul class="byingredient ">
                           </ul>
                        </div>
                        <div class="btn-wrap">
                           <a href="/collections/apothecary/" class="all_prod btn-theme">All Products</a>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="show_subwrap">
               <a href="/collections/baby-care">Baby Care</a>
               <div class="submenu-content">
                  <div class="width-1784 submenu-content-inner">
                     <div class="submenu-left">
						 <ul>
							 <li class="li-korres-circle">
								 <a href="/pages/mycircle-marketing-page">
									 <span>KORRES Circle</span>
									 <span class="join-now">Join now</span>
								 </a>
							 </li>
							 <li>
								 <a href="/collections/new">New</a>
							 </li>
							 <li>
								 <a href="/collections/best-seller-1">
									 Best
									 Sellers
								 </a>
							 </li>
							 <li>
								 <a href="/collections/promos">Promos</a>
							 </li>
						 </ul>
                     </div>
                     <div class="submenu-right">
                        <div class="menus-content 2">
                           <ul class="bytype">
                              <p class="heading">By Type</p>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/baby-care/baby-bio-milks">BABY BIO MILKS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/baby-care/cleansing-care">CLEANSING &amp; CARE</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/baby-care/nappy-change-cream">NAPPY CHANGE CREAM</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/baby-care/feeding-bottles-teats">FEEDING BOTTLES &amp; TEATS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/baby-care/clothes-accessories">CLOTHES & ACCESSORIES</a>
                              </li>
                           </ul>
                           <ul class="byneed tit_">
                           </ul>
                           <ul class="byingredient ">
                           </ul>
                        </div>
                        <div class="btn-wrap">
                           <a href="/collections/baby-care/" class="all_prod btn-theme">All Products</a>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="show_subwrap">
               <a href="/collections/kids-care">Kid’s Care</a>
               <div class="submenu-content">
                  <div class="width-1784 submenu-content-inner">
                     <div class="submenu-left">
						 <ul>
							 <li class="li-korres-circle">
								 <a href="/pages/mycircle-marketing-page">
									 <span>KORRES Circle</span>
									 <span class="join-now">Join now</span>
								 </a>
							 </li>
							 <li>
								 <a href="/collections/new">New</a>
							 </li>
							 <li>
								 <a href="/collections/best-seller-1">
									 Best
									 Sellers
								 </a>
							 </li>
							 <li>
								 <a href="/collections/promos">Promos</a>
							 </li>
						 </ul>
                     </div>
                     <div class="submenu-right">
                        <div class="menus-content 2">
                           <ul class="bytype">
                              <p class="heading">By Type</p>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/kids-care/kids-hair-body">KID'S HAIR &amp; BODY</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/kids-care/insect-repellents">INSECT REPELLENTS</a>
                              </li>
                              <li data-type="BABY BODY MILK ">
                                 <a href="/collections/kids-care/anti-lice-treatment">ANTI-LICE TREATMENT</a>
                              </li>
                           </ul>
                           <ul class="byneed tit_">
                           </ul>
                           <ul class="byingredient ">
                           </ul>
                        </div>
                        <div class="btn-wrap">
                           <a href="/collections/kids-care/" class="all_prod btn-theme">All Products</a>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </li>
   <li data-key="giorgos-lena" class="giorgos-lena">
      <a class="" href="/pages/giorgos-and-lena">Giorgos &amp; Lena</a>
   </li>   
   <li data-key="full-circle" class="full-circle">
      <a class="" href="/pages/full-circle">Sustainability Circle</a>
      <div class="submenu-wrap submenu-wrap-full-circle main_cate">
         <ul class="width-1784">
            <li data-key="soil-lab" class="show_subwrap active">
               <a href="/pages/full-circle-soil-lab">Soil Lab</a>
            </li>
            <li data-key="extraction-lab" class="show_subwrap ">
               <a href="/pages/full-circle-extraction-lab">Extraction Lab</a>
            </li>
            <li data-key="molecular-lab" class="show_subwrap ">
               <a href="/pages/full-circle-molecular-lab">Molecular Lab</a>
            </li>
            <li data-key="formulation-lab" class="show_subwrap ">
               <a href="/pages/full-circle-formulation-lab">Formulation Lab</a>
            </li>
            <li data-key="design-lab" class="show_subwrap ">
               <a href="/pages/full-circle-design-lab">Design Lab</a>
            </li>
            <li data-key="recycle-lab" class="show_subwrap ">
               <a href="/pages/full-circle-recycle-lab">Recycle Lab</a>
            </li>
         </ul>
      </div>
   </li>
   <li data-key="greece" class="greece">
      <a class="" href="/pages/greece">Greece</a>
   </li>
</ul>
    {% endif %}
    <ul class="bm-nav">
        {% if customer %}
          {% assign class_icon = 'js-call-user-icon-popup'  %} 
        {% else %} 
          {% assign class_icon = 'js-call-popup-login1' %} 
        {% endif %}
        <li class="user-icon {{ class_icon }} ">
            <a {% unless customer %} href="{% if request.locale.iso_code == 'el' %}/el{% endif %}/account/login?return_url=/" {% endunless %} class="img">
              <span class="d-none d-sm-block">My Circle </span>
              <span class="d-block d-sm-none">{% render 'icon-user' %}</span></a>
        </li>
        {% include 'logout_pop' %}
        <li class="fdad search">{% render 'icon-search' %}</li>
        <li class="wishlist">
            {% if template.suffix == "wishlist" %}
                <a class="active" href="{% if request.locale.iso_code == 'el' %}/el{% endif %}/pages/wishlist">
                    {% render 'icon-wishlist-active' %}
                </a>
            {% else %}
                <a class="inactive" href="{% if request.locale.iso_code == 'el' %}/el{% endif %}/pages/wishlist">
                    {% render 'icon-wishlist' %}
                </a>
            {% endif %}
        </li>
        <li class="cart border-0 web-flex">{% render 'icon-cart' %}</li>
        <li class="cart border-0 mobile-flex">
          <a href="{% if request.locale.iso_code == 'el' %}/el{% endif %}/cart">{% render 'icon-cart' %}</a>
        </li>
        <li class="lang border-0">
            <span class="ly-custom-1000"></span>
        </li>
    </ul>

    {% include 'mobile-nav' %}
    {% render 'search-drawer' %}
</div>
{% if template contains 'collection' or template contains 'product' or template contains 'page.wishlist' or template contains 'page.lottery' or template contains 'page.event-gift' %}


<div class="no-bag-message hide">

  <div class="no-bag-content"><p>{{ 'general.notification.message' | t:message}}&nbsp;</p><p><a href="/pages/my-settings">{{ 'general.notification.redirection_message' | t:redirection_message}} </a></p><span class="close1">x</span></div>

</div>
{% endif %}


{% schema %}
{
"name": "Header menu",
"settings": [],
"blocks":[
{
"name": "Sub menu title",
"type": "sub-menu-title",
"settings": [
{
"type": "text",
"id": "menu_title",
"label": "Menu title [Eng]",
"info": "add child menu title text"
},
{
"type": "text",
"id": "menu_title_grk",
"label": "Menu title [Grk]",
"info": "add child menu title text"
},
{
"type": "text",
"id": "by_type",
"label": "By type title",
"default": "By Type"
},
{
"type": "text",
"id": "by_need",
"label": "By need title",
"default": "By Need"
},
{
"type": "text",
"id": "by_ingredient",
"label": "By ingredient title", 
"default": "By Ingredient"
}
]
}
]
}

{% endschema %}