body {
  font-family: 'Roboto', sans-serif;
  color: #32322D; }

/* General Classes */
/* end of General Classes */
h2, h3, h4 {
  font-family: 'Roboto', sans-serif; }
.section.section--contact-information {
    padding-bottom: 42px;
    border-bottom: 1px #e6e6e6 solid;
}
 .order-summary__section--discount,.payment-due-label__taxes{
   display:none; 
  }
.section.section--shipping-address .section {
    border-top: 1px #e6e6e6 solid;
    margin-top: 3rem;
}
.dynamic-checkout {
  margin-top: 1em; }

.breadcrumb li.breadcrumb__item {
  padding-bottom: 12px; }
.breadcrumb li.breadcrumb__item a, .breadcrumb li.breadcrumb__item span {
  padding: 0 0;
  display: inline-block; }
.breadcrumb li.breadcrumb__item a:before, .breadcrumb li.breadcrumb__item span:before {
  border: 1px solid #050F96;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #050F96;
  line-height: 20px;
  display: inline-block;
  margin-right: 5px; }
.breadcrumb li.breadcrumb__item a:after, .breadcrumb li.breadcrumb__item span:after {
  content: "";
  background: #050F96;
  width: 64px;
  height: 1px;
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 4px;
  display: inline-block; }
.breadcrumb li.breadcrumb__item svg {
  display: none; }
.breadcrumb li.breadcrumb__item.breadcrumb__item--completed {
  color: #050F96; }
.breadcrumb li.breadcrumb__item.breadcrumb__item--completed a {
  color: #050F96; }
.breadcrumb li.breadcrumb__item.breadcrumb__item--current span, .breadcrumb li.breadcrumb__item.breadcrumb__item--current a {
  font-weight: 700;
  color: #050F96; }
.breadcrumb li.breadcrumb__item.breadcrumb__item--blank span {
  color: #B9B9B9; }
.breadcrumb li.breadcrumb__item.breadcrumb__item--blank span:before {
  border: 1px solid #B9B9B9;
  color: #B9B9B9; }
.breadcrumb li.breadcrumb__item.breadcrumb__item--blank span:after {
  background: #B9B9B9; }
.breadcrumb li.breadcrumb__item:first-child a:before, .breadcrumb li.breadcrumb__item:first-child span:before {
  content: "1"; }
.breadcrumb li.breadcrumb__item:nth-child(2) a:before, .breadcrumb li.breadcrumb__item:nth-child(2) span:before {
  content: "2"; }
.breadcrumb li.breadcrumb__item:nth-child(3) a:before, .breadcrumb li.breadcrumb__item:nth-child(3) span:before {
  content: "3"; }
.breadcrumb li.breadcrumb__item:nth-child(4) a:before, .breadcrumb li.breadcrumb__item:nth-child(4) span:before {
  content: "4"; }
.breadcrumb li.breadcrumb__item:nth-child(4) a:after, .breadcrumb li.breadcrumb__item:nth-child(4) span:after {
  content: "";
  border: 0;
  width: 0;
  margin-right: 0; }

.floating-labels .content .field__label {
  position: static;
  color: #32322D;
  font-size: 18px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 500;
  padding-left: 10px;
/*   padding-right: 10px; */
  padding: 0;
  opacity: 1; }

.floating-labels .field--show-floating-label .field__input {
  padding-bottom: 0.9285714286em;
  padding-top: 0.9285714286em;
}

.content .field__input {
  background: #ffffff;
  border: 1px solid #E6E6E6;
  color: #32322D;
  font-family: 'Roboto', sans-serif !important;
  font-size: 18px;
  font-weight: 300; }
.content .field__input::-webkit-input-placeholder {
  color: transparent !important; }
.content .field__input::-moz-placeholder {
  color: transparent !important; }
.content .field__input:-ms-input-placeholder {
  color: transparent !important; }
.content .field__input:-moz-placeholder {
  color: transparent !important; }

.field__caret {
  top: 80%;
  -webkit-transform: translate(0%, -80%);
  -ms-transform: translate(0%, -80%);
  transform: translate(0%, -80%); }

.total-line__name {
  color: #32322D; }

.order-summary__sections {
  box-shadow: 0px 0px 12px #00000029;
  background-color: #fff;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  height: auto; }
.order-summary__sections .order-summary__section.order-summary__section--product-list {
  background-color: transparent;

  padding: 40px 30px;
  margin-bottom: 0;
  padding-bottom:0;

}
.order-summary__section__content{
  border-bottom: 1px solid #dedede;
  padding-bottom: 15px;
}
.order-summary__sections .order-summary__section.order-summary__section--product-list table.product-table {
  margin-bottom: 0; }
.order-summary__sections .order-summary__section.order-summary__section--product-list table.product-table caption.visually-hidden {
  border: 0;
  clip: auto;
  height: 100%;
  margin: 0;
  overflow: visible;
  padding: 0;
  position: static;
  width: 100%;
  text-align: left;
  font-family: "Roboto", sans-serif !important;
  font-size: 22px;
  font-weight: 500;
  color: #32322D;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede; }
.order-summary__sections .order-summary__section.order-summary__section--product-list table.product-table .product-table__header {
  display: none; }
.order-summary__sections .order-summary__section.order-summary__section--product-list table.product-table tbody:after {
  /*content: "<a href='https://korresshop-greece.myshopify.com/cart'>Edit</a>";
  color:$blue;*/ }
.order-summary__sections .order-summary__section.order-summary__section--product-list table.product-table tbody tr.product {
  border-bottom: 1px solid #E6E6E6; }
.order-summary__sections .order-summary__section.order-summary__section--product-list table.product-table tbody tr.product:first-child td, .order-summary__sections .order-summary__section.order-summary__section--product-list table.product-table tbody tr.product:first-child th.product__description {
  padding-top: 24px;
  padding-bottom: 12px; }
.order-summary__sections .order-summary__section.order-summary__section--product-list table.product-table tbody tr.product:last-child {
  border-bottom: 0; }
.order-summary__sections .order-summary__section.order-summary__section--product-list table.product-table tbody tr.product td {
  padding-bottom: 12px; }
.order-summary__sections .order-summary__section.order-summary__section--product-list table.product-table tbody tr.product td.product__image .product-thumbnail .product-thumbnail__quantity {
  visibility: hidden; }
.order-summary__sections .order-summary__section.order-summary__section--product-list table.product-table tbody tr.product td.product__quantity {
  color: #32322D; }
.order-summary__sections .order-summary__section.order-summary__section--product-list table.product-table tbody tr.product td.product__quantity .visually-hidden {
  border: 0;
  clip: auto;
  height: 100%;
  margin: 0;
  overflow: visible;
  padding: 0;
  position: static;
  width: 100%; }
.order-summary__sections .order-summary__section.order-summary__section--product-list table.product-table tbody tr.product td.product__price .order-summary__emphasis {
  color: #32322D;
  font-weight: 700; }
.order-summary__sections .order-summary__section.order-summary__section--product-list table.product-table tbody tr.product th.product__description .product__description__name.order-summary__emphasis {
  color: #32322D; }
.order-summary__sections .order-summary__section.order-summary__section--total-lines {
  padding: 40px 30px;
  padding-top:0;
}
.order-summary__sections .order-summary__section.order-summary__section--total-lines table.total-line-table th, .order-summary__sections .order-summary__section.order-summary__section--total-lines table.total-line-table td span {
  font-size: 16px;
  font-weight: 300; }
.order-summary__sections .order-summary__section.order-summary__section--total-lines table.total-line-table th, .order-summary__sections .order-summary__section.order-summary__section--total-lines table.total-line-table td {
  padding-top: 1rem;
  padding-bottom: 1rem; }
.order-summary__sections .order-summary__section.order-summary__section--total-lines table.total-line-table thead {
  display: none; }
.order-summary__sections .order-summary__section.order-summary__section--total-lines table.total-line-table tbody tr {
  border-bottom: 1px solid #E6E6E6;
  font-size: 16px;
  font-weight: 300; }
.order-summary__sections .order-summary__section.order-summary__section--total-lines table.total-line-table tfoot th {
  
  padding-bottom: 0; }
.order-summary__sections .order-summary__section.order-summary__section--total-lines table.total-line-table tfoot td.total-line__price.payment-due {
 
  padding-bottom: 0; }
.order-summary__sections .order-summary__section.order-summary__section--total-lines table.total-line-table tfoot td.total-line__price.payment-due .payment-due__price.skeleton-while-loading--lg {
  color: #050F96;
  font-size: 24px;
  font-weight: 700; }
tfoot.total-line-table__footer .total-line__name {
  padding-top: 30px !important;
}
tfoot.total-line-table__footer .total-line__name span{
  font-size:22px; 
  font-weight: 400;

}
tfoot.total-line-table__footer .total-line__price{
  padding-top: 30px !important;
}
tfoot.total-line-table__footer .total-line__price span{
  font-size:28px; 
  
}

.order-summary__section--product-list::after {
  background-color: transparent;
  bottom: 0; }

.sidebar .total-line-table__tbody + .total-line-table__tbody .total-line:first-child th::before, .sidebar .total-line-table__tbody + .total-line-table__tbody .total-line:first-child td::before, .sidebar .total-line-table__tbody + .total-line-table__footer .total-line:first-child th::before, .sidebar .total-line-table__tbody + .total-line-table__footer .total-line:first-child td::before {
  background-color: transparent; }

.sidebar::after {
  box-shadow: none; }
.anyflexbox .content{
  background:#fff; 
}
.section__header h2 {
  color: #050F96;
  font-size: 25px;
  font-weight: 500; }

.section--contact-information .section__header p {
  font-family: 'Roboto', sans-serif;
  color: #32322D;
  display: none;
  visibility: hidden; }

.section--contact-information .logged-in-customer-information .logged-in-customer-information__paragraph a {
  font-family: 'Roboto', sans-serif; }

.step__footer button {
  font-family: 'Roboto', sans-serif !important;
  border: 1px solid #32322D !important;
  color: #32322D !important;
  padding: 1rem 3rem;
  font-weight: 300 !important;
  text-decoration: none !important;
  font-weight: 300 !important;
  font-size: 18px !important;
  background-color: #ffffff !important;
  white-space: nowrap; }
.step__footer button:hover {
  border: 1px solid #B9B9B9 !important;
  text-decoration: none !important;
  color: #32322D !important;
  background-color: #ffffff !important; }
.step__footer button:focus, .step__footer button:active {
  border: 1px solid #32322D !important;
  background: #32322D !important;
  color: #F0F0F0 !important;
  text-decoration: none !important; }

.step__footer__previous-link > span {
  font-family: 'Roboto', sans-serif !important; }

.main .content-box .review-block ~ .review-block, .main .content-box .content-box__row ~ .content-box__row {
  border-color: #E6E6E6; }

.radio__label__primary, .content-box__emphasis, .content-box, .review-block__content, .notice {
  color: #32322D; }

.main .content-box .input-radio:checked {
  box-shadow: 0 0 0 8px #050F96 inset;
  border-width: 1px; }

[data-step="contact_information"] .step__sections .section .content-box {
  background-color: transparent;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  padding: 0;
  display: flex;
  border: 0; }
.main .content-box .content-box__row{
  padding:0; 
  border:0;
}
.step__sections .section .content-box .review-block__link a span {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
  font-weight: 500;
  color: #32322D; }

.main__content {
  padding-bottom: 2em; }

.main__footer .policy-list .policy-list__item a {
  color: #32322D; }

@media screen and (max-width: 768px) {
  /*.breadcrumb {
  li {
  &.breadcrumb__item {
  padding-bottom:8px;

  &:after {
  width: 5px;

}
}
}
}*/
  .step__footer button {
    border-radius: 40px; }
  .breadcrumb {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #ffffff;
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    z-index: 999;
    left: 0;
    border-top: 2px solid #f0f0f0; }
  .breadcrumb li.breadcrumb__item {
    padding-bottom: 0;
    flex-direction: column; }
  .breadcrumb li.breadcrumb__item a:before, .breadcrumb li.breadcrumb__item span:before {
    display: block;
    margin: 0 auto; }
  .breadcrumb li.breadcrumb__item a:after, .breadcrumb li.breadcrumb__item span:after {
    content: "";
    background: transparent;
    width: 0;
    height: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0; }
  .breadcrumb li.breadcrumb__item.breadcrumb__item--completed a:before {
    color: #ffffff;
    background: #050F96; }
  .breadcrumb li.breadcrumb__item.breadcrumb__item--current span:before, .breadcrumb li.breadcrumb__item.breadcrumb__item--current a:before {
    color: #ffffff;
    background: #050F96; } }
.page--logo-main .breadcrumb{
	margin-top:20px;
}

[data-step="contact_information"] .content-box__row {
    box-shadow: 0 0 12px #00000029;
    padding: 10px !important;
    margin-right: 20px;
    border-radius: 8px !important;
}
.edit_checkout .step__footer #continue_button{
  background-color: #050f96!important;
  color: #fff!important;
  border-radius: 10px;
}
.edit_checkout .step__footer #continue_button:hover{
  border: 1px solid #32322d!important;
  color: #32322d!important;
  color:#FFF!important;
}