#reset_password input {
  padding: 10px;
  height: 50px;
  font-size: 16px;
  background: transparent;
  border: 1px solid #E6E7E8;
  margin: 0;
  color: #404041;
  font-weight: 400 !important;
}
#reset_password label b {
  color: #050f96;
  margin-left: 3px;
}
#reset_password .field-icon {
  position: absolute;
  top: 60px;
  left: auto;
  right: 15px;
}
.reset_botton.disabled {
  background: #DCDCDC !important;
  color: #b9b9b9 !important;
  border-color: #dcdcdc;
  opacity: 1;
}
.reset_botton {
  width: 100%;
  border: 1px solid #050F96;
  background: #050F96;
  color: #fff;
  font-weight: 400 !important;
  display: block;
  text-align: center;
  padding: 10px 0;
}
.Reset_page{
  padding: 25px !important;
  margin-top: 130px !important;
  margin-bottom: 130px !important;
  box-shadow: 0px 0px 25px #00000040;
  border-radius: 25px;
  opacity: 1;
}
.mainbg h3 {
  color: #404041;
  font-size:28px;
}
.customers-reset_password main h3{
  font-family:  'Roboto', sans-serif !important; 
  color: #404041 !important;
  font-weight:300;
}
main.Reset_page {
  height: 494px;
  max-width: 636px;
  width: 100%;
}

.customers-reset_password main p{
  font-family:  'Roboto', sans-serif !important; 
  font-size:18px;

  color: #32322D;
}

input#login_password, input#con_login_password {
  border: 1px solid #E6E7E8;
  background: transparent;
}
p.passtext{
  text-align:left !important;
  color: #2D2A26  !important;
  font-size: 14px  !important;
  margin-bottom: 0px !important;
  font-weight: 400;
}

#login_password-error, #con_login_password-error {
  color: #FA4664;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.11px;
}

.btncheckon{
  border: 1px solid #050F96 !important;
  text-decoration: none !important;
  color: white !important;
  background: #050F96 !important;

}
.border_class{
  border: 1px solid #32322D !important;
}
.redborder_class{
  border: 1px solid red !important;
}