h1, h2, h3, h4, h5, h6 {
  font-family: Roboto !important; }

strong, b {
  font-weight: 400; }

h3 {
  color: #2D2A26;
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
  margin: 0 auto 0 auto; }
  h3 p {
    color: #2D2A26;
    font-size: 34px;
    font-weight: 300;
    line-height: 40px;
    margin: 0 auto 0 auto; }

.desktop {
  display: block;
  visibility: visible;
  opacity: 1; }

.mobile {
  display: none;
  visibility: hidden;
  opacity: 0; }

.mycircle-marketing-page-container {
  margin: 150px 0 0 0; }
  .mycircle-marketing-page-container hr {
    border-top: 1px solid #E2E2E2;
    width: 100%;
    max-width: 1444px;
    height: 2px;
    margin: 6rem auto; }

/* Top Content */
.top-content {
  display: flex;
  align-items: center;
  max-width: 1312px;
  margin: 0 auto 6rem auto; }
  .top-content .row {
    align-items: center; }
  .top-content .right {
    max-width: 600px; }
  .top-content h1 {
    color: #180E96;
    font-size: 45px;
    font-weight: 300;
    line-height: 50px;
    max-width: 558px;
    margin: 0 0 34px 0; }
    .top-content h1 p {
      color: #180E96;
      font-size: 45px;
      font-weight: 300;
      line-height: 50px;
      max-width: 558px;
      margin: 0 0 34px 0; }
    .top-content h1 span {
      font-weight: 400; }
  .top-content p {
    color: #32322D;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin: 0 0 20px 0; }
    .top-content p strong {
      font-weight: 400; }
    .top-content p a {
      text-decoration: underline;
      color: #050F96;
      font-size: 18px;
      font-weight: 300;
      line-height: 40px; }
    .top-content p.info {
      font-size: 18px;
      line-height: 20px;
      margin: 0; }
  .top-content .btn {
    margin: 0 0 34px 0;
    width: auto;
    border: 1px solid #050F96;
    border-radius: 10px;
    width: 100%;
    max-width: 280px;
    height: 44px;
    color: #050F96;
    font-size: 18px;
    font-weight: 300;
    line-height: 44px;
    background: #ffffff;
    padding: 0 44px; }
    .top-content .btn:hover {
      background: #050F96;
      color: #ffffff; }

/* end of Top Content */
/* korres Circle Container */
.korres-circle-container {
  max-width: 1428px;
  margin: 0 auto; }
  .korres-circle-container h3 {
    color: #2D2A26;
    font-size: 34px;
    font-weight: 300;
    line-height: 40px;
    margin: 0 auto 88px auto;
    text-align: center; }
    .korres-circle-container h3 p {
      color: #2D2A26;
      font-size: 34px;
      font-weight: 300;
      line-height: 40px;
      margin: 0 auto 88px auto;
      text-align: center; }
  .korres-circle-container .inner {
    display: flex;
    flex-direction: row; }
    .korres-circle-container .inner .circle-item {
      margin: 0 auto;
      text-align: center; }
      .korres-circle-container .inner .circle-item .img-container {
        position: relative;
        margin: 0 auto 34px auto;
        max-width: 150px;
        max-height: 150px; }
        .korres-circle-container .inner .circle-item .img-container .circle {
          /*width: 150px;
                    height: 150px;
                    background: #F3F6FB;*/
          color: #050F96;
          font-size: 40px;
          font-weight: 300;
          line-height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          position: absolute;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          top: 50%;
          left: 0;
          right: 0; }
      .korres-circle-container .inner .circle-item span {
        color: #050F96;
        font-size: 25px;
        font-weight: 300;
        line-height: 38px; }

/* end of korres Circle Container */
/* korres Points Container */
.korres-points-container {
  max-width: 1100px;
  margin: 0 auto; }
  .korres-points-container h3 {
    margin: 0 auto 90px auto;
    text-align: center; }
  .korres-points-container .tabs-nav {
    max-width: 1100px;
    margin: 0 auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #B9B9B9; }
    .korres-points-container .tabs-nav li {
      width: 32%;
      text-align: center; }
      .korres-points-container .tabs-nav li.tab-active {
        border-bottom: 1px solid #2D2A26; }
        .korres-points-container .tabs-nav li.tab-active a {
          color: #32322D; }
      .korres-points-container .tabs-nav li a {
        text-decoration: none;
        color: #B9B9B9;
        font-size: 24px;
        font-weight: 300;
        line-height: 55px; }
  .korres-points-container .tabs-stage .tab-container:first-child {
    display: block; }
  .korres-points-container .tab-container {
    display: none; }
  .korres-points-container .korres-circe {
    padding: 3rem 0 0 0; }
    .korres-points-container .korres-circe.olive-circle {
      color: #656635; }
      .korres-points-container .korres-circe.olive-circle .bg-box {
        background: #656635;
        color: #ffffff; }
      .korres-points-container .korres-circe.olive-circle .boxes-container {
        max-width: 880px; }
        .korres-points-container .korres-circe.olive-circle .boxes-container .box {
          background: #F4F4EC; }
          .korres-points-container .korres-circe.olive-circle .boxes-container .box h6 {
            color: #656635; }
    .korres-points-container .korres-circe.brown-circle {
      color: #63513D; }
      .korres-points-container .korres-circe.brown-circle .bg-box {
        background: #63513D;
        color: #ffffff; }
      .korres-points-container .korres-circe.brown-circle .boxes-container {
        max-width: 670px; }
        .korres-points-container .korres-circe.brown-circle .boxes-container .box {
          background: #F8F3ED; }
          .korres-points-container .korres-circe.brown-circle .boxes-container .box h6 {
            color: #63513D; }
    .korres-points-container .korres-circe.white-circle {
      color: #32322D; }
      .korres-points-container .korres-circe.white-circle h2 {
        color: #B4BCD3; }
      .korres-points-container .korres-circe.white-circle .bg-box {
        background: #F9F9FB;
        color: #32322D; }
      .korres-points-container .korres-circe.white-circle .boxes-container {
        max-width: 670px; }
        .korres-points-container .korres-circe.white-circle .boxes-container .box {
          background: #F9F9FB; }
          .korres-points-container .korres-circe.white-circle .boxes-container .box h6 {
            color: #32322D; }
    .korres-points-container .korres-circe.blue-circle {
      color: #050F96; }
      .korres-points-container .korres-circe.blue-circle .bg-box {
        background: #180E96;
        color: #ffffff; }
      .korres-points-container .korres-circe.blue-circle .boxes-container {
        max-width: 670px; }
        .korres-points-container .korres-circe.blue-circle .boxes-container .box {
          background: #F5F6FF; }
          .korres-points-container .korres-circe.blue-circle .boxes-container .box h6 {
            color: #050F96; }
    .korres-points-container .korres-circe img {
      display: block;
      margin: 0 auto; }
    .korres-points-container .korres-circe h2 {
      font-size: 50px;
      font-weight: 300;
      line-height: 54px;
      text-align: center; }
    .korres-points-container .korres-circe .bg-box {
      max-width: 350px;
      height: 40px;
      text-align: center;
      font-size: 20px;
      font-weight: 300;
      line-height: 40px;
      border-radius: 10px;
      margin: 0 auto 20px auto; }
      .korres-points-container .korres-circe .bg-box p {
        font-size: 20px;
        font-weight: 300;
        line-height: 40px;
        margin: 0; }
    .korres-points-container .korres-circe .boxes-container {
      display: flex;
      margin: 0 auto; }
    .korres-points-container .korres-circe .box {
      width: 208px;
      height: 160px;
      border-radius: 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 7px 14px 7px; }
      .korres-points-container .korres-circe .box h6 {
        font-size: 40px;
        font-weight: 400;
        line-height: 40px;
        margin: 0 auto 10px auto; }
      .korres-points-container .korres-circe .box p {
        font-size: 18px;
        font-weight: 300;
        line-height: 23px;
        max-width: 132px;
        margin: 0; }
        .korres-points-container .korres-circe .box p.w-100 {
          max-width: 100%; }
        .korres-points-container .korres-circe .box p.w-146 {
          max-width: 146px; }
        .korres-points-container .korres-circe .box p.w-160 {
          max-width: 160px; }

/* end of korres Points Container */
/* KORRES Circle Members Section */
.members-section-container {
  max-width: 1460px;
  margin: 0 auto 100px auto; }
  .members-section-container h3 {
    color: #2D2A26;
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    margin: 0 auto 60px auto;
    text-align: center; }
  .members-section-container [class*='col-']:nth-child(odd) .bg-img {
    margin: 0 15px 30px 0; }
    .members-section-container [class*='col-']:nth-child(odd) .bg-img.bg-img-7 {
      margin: 0 auto 0 auto; }
  .members-section-container [class*='col-']:nth-child(even) .bg-img {
    margin: 0 0 30px 15px; }
  .members-section-container .bg-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    margin: 0 auto 30px auto;
    background-color: rgba(0, 0, 0, 0.45); }
    .members-section-container .bg-img img {
      opacity: .5; }
    .members-section-container .bg-img p {
      color: #ffffff;
      font-size: 35px;
      font-weight: 300;
      line-height: 49px;
      margin: 0 auto;
      position: absolute;
      z-index: 999; }
      .members-section-container .bg-img p.w-400 {
        max-width: 400px; }
      .members-section-container .bg-img p.w-540 {
        max-width: 540px; }
      .members-section-container .bg-img p.w-780 {
        max-width: 780px; }

/* end of KORRES Circle Members Section */
/* Store Search Content */
.store-search-container {
  max-width: 738px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
  text-align: center; }
  .store-search-container .map-icon {
    background: #050F96;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    margin: 0 auto 40px auto;
    display: flex;
    align-items: center;
    justify-content: center; }
  .store-search-container h6 {
    color: #2D2A26;
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    margin: 0 auto 40px auto; }
  .store-search-container p {
    color: #2D2A26;
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    margin: 0 auto 0 auto;
    /*&.space-bot {
            margin: 0 auto 30px auto;
        }*/ }
  .store-search-container .btn {
    border: 1px solid #050F96;
    border-radius: 10px;
    width: 100%;
    max-width: 368px;
    height: 44px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 44px;
    background: #050F96;
    color: #ffffff;
    padding: 0 78px;
    display: block;
    margin: 30px auto 0 auto; }
    .store-search-container .btn:hover {
      background: #ffffff;
      color: #050F96; }

/* end of Store Search Content */
/* Korres Gifts Content */
.korres-gifts-container {
  margin: 0 auto 100px auto;
  max-width: 1458px; }
  .korres-gifts-container h3 {
    color: #2D2A26;
    font-size: 34px;
    font-weight: 300;
    line-height: 50px;
    margin: 0 auto 70px auto;
    text-align: center; }
    .korres-gifts-container h3.strong {
      font-weight: 400; }
  .korres-gifts-container .main-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1458px;
    height: 420px; }
    .korres-gifts-container .main-carousel .flickity-viewport {
      width: 100%;
      max-width: 1458px; }
  .korres-gifts-container .gift-item {
    width: 327px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 20px; }
    .korres-gifts-container .gift-item .inner {
      position: relative; }
    .korres-gifts-container .gift-item .text {
      color: #ffffff;
      font-size: 26px;
      line-height: 72px;
      font-weight: 300;
      width: 100%;
      max-width: 327px;
      height: 72px;
      text-align: center;
      position: absolute;
      bottom: 0;
      background: #32322D;
      opacity: 0.5;
      display: flex;
      align-content: center;
      justify-content: center; }
      .korres-gifts-container .gift-item .text p {
        margin: 0;
        font-size: 26px;
        line-height: 72px;
        font-weight: 300; }
      .korres-gifts-container .gift-item .text img {
        display: inline-block;
        margin: 0 10px; }

/* end of Korres Gifts Content */
/* Download Korres Circle */
.download-korres-container {
  position: relative;
  margin: 0 auto 56px auto;
  max-width: 1458px; }
  .download-korres-container .text-container {
    position: absolute;
    right: 120px;
    top: 154px;
    max-width: 340px;
    text-align: left; }
    .download-korres-container .text-container h3 {
      color: #050F96;
      font-size: 40px;
      font-weight: 300;
      line-height: 40px;
      margin: 0 0 20px 0; }
      .download-korres-container .text-container h3 p {
        color: #050F96;
        font-size: 40px;
        font-weight: 300;
        line-height: 40px;
        margin: 0 0 20px 0; }
      .download-korres-container .text-container h3.strong {
        font-weight: 400; }
    .download-korres-container .text-container .subtitle p {
      color: #32322D;
      font-size: 20px;
      font-weight: 300;
      line-height: 30px; }
      .download-korres-container .text-container .subtitle p.strong {
        font-weight: 400; }
    .download-korres-container .text-container .btn-container {
      margin: 40px 0 0 0;
      display: flex; }
      .download-korres-container .text-container .btn-container a:first-child {
        margin: 0 10px 0 0; }
      .download-korres-container .text-container .btn-container a img {
        width: 140px;
        height: 40px; }

/* end of Download Korres Circle */
/* FAQ Conatiner */
.faq-container {
  -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.55);
  box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  width: 100%;
  max-width: 1458px;
  margin: 0 auto 60px auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column; }
  .faq-container .faq-header {
    cursor: pointer; }
    .faq-container .faq-header.active h3 {
      color: #050F96; }
    .faq-container .faq-header h3 {
      color: #32322D;
      font-size: 20px;
      line-height: 50px;
      font-weight: 300;
      margin: 0 0;
      display: inline-block; }
    .faq-container .faq-header span {
      display: inline-block;
      float: right;
      margin: 20px 0 0 0; }
  .faq-container .faq-content .item {
    border-top: 1px solid #E2E2E2;
    padding: 24px 0 12px 0;
    max-width: 100%;
    margin: 0 auto; }
  .faq-container .faq-content h6 {
    color: #050F96;
    font-size: 18px;
    line-height: 35px;
    font-weight: 300; }
    .faq-container .faq-content h6 p {
      color: #050F96;
      font-size: 18px;
      line-height: 35px;
      font-weight: 300; }
  .faq-container .faq-content p {
    color: #32322D;
    font-size: 16px;
    line-height: 35px;
    font-weight: 300;
    margin: 0 0 12px 0; }
  .faq-container .faq-content a {
    color: #32322D;
    font-size: 16px;
    line-height: 35px;
    font-weight: 300;
    text-decoration: none; }

.slideup, .slidedown {
  overflow-y: hidden;
  -webkit-transition: max-height 0.8s ease-in-out;
  -moz-transition: max-height 0.8s ease-in-out;
  -o-transition: max-height 0.8s ease-in-out;
  transition: max-height 0.8s ease-in-out; }

.slideup {
  max-height: 0;
  height: 0px; }

.slidedown {
  max-height: 100%;
  height: 100%; }

.arrow {
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  border-style: solid;
  position: static;
  color: #32322D;
  width: auto;
  height: auto; }
  .arrow.black {
    border-color: #32322D; }
  .arrow.blue {
    border-color: #050F96; }

/*.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}*/
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg); }

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }

/* end of FAQ Conatiner */
@media (max-width: 1458px) {
  .faq-container {
    max-width: 90%; }
  .korres-gifts-container, .download-korres-container {
    width: 100%; } }

@media (max-width: 1428px) {
  .korres-circle-container {
    max-width: 90%; } }

@media (max-width: 1300px) {
  /* Download Korres Circle */
  .download-korres-container .text-container {
    right: 2%;
    top: 20%; }
  /* end of Download Korres Circle */ }

@media (max-width: 1200px) {
  .members-section-container .bg-img p {
    font-size: 30px;
    line-height: 44px; }
  .korres-circle-container .inner {
    flex-wrap: wrap;
    justify-content: center; }
    .korres-circle-container .inner .circle-item {
      flex: 2 0 30%; }
      .korres-circle-container .inner .circle-item:first-child, .korres-circle-container .inner .circle-item:nth-child(2), .korres-circle-container .inner .circle-item:nth-child(2) {
        margin: 0 0 2rem 0; } }

@media (max-width: 910px) {
  .korres-points-container .korres-circe .box {
    width: 180px;
    height: 160px; } }

@media (max-width: 960px) {
  /* Download Korres Circle */
  .download-korres-container .text-container {
    max-width: 312px; }
    .download-korres-container .text-container h3 {
      font-size: 30px;
      line-height: 30px;
      margin: 0 auto 10px auto; }
      .download-korres-container .text-container h3 p {
        font-size: 30px;
        line-height: 30px;
        margin: 0 auto 10px auto; }
    .download-korres-container .text-container .subtitle p {
      font-size: 18px;
      line-height: 28px; }
  /* end of Download Korres Circle */ }

@media (max-width: 992px) {
  /* Top Content */
  .top-content {
    max-width: 100%;
    text-align: center;
    margin: 0 auto 0 auto; }
    .top-content .korres-circle {
      max-width: 278px; }
    .top-content .right {
      max-width: 100%; }
    .top-content h1 {
      font-size: 24px;
      line-height: 30px;
      max-width: 100%;
      margin: 0 auto 20px auto;
      max-width: 298px; }
      .top-content h1 p {
        font-size: 24px;
        line-height: 30px;
        max-width: 100%;
        margin: 0 auto 20px auto;
        max-width: 298px; }
    .top-content p {
      font-size: 14px;
      line-height: 22px;
      margin: 0 auto 20px auto;
      max-width: 328px; }
      .top-content p.last {
        max-width: 250px; }
      .top-content p a {
        font-size: 14px;
        line-height: 40px; }
      .top-content p.info {
        font-size: 14px;
        line-height: 40px;
        margin: 0 auto; }
    .top-content .btn {
      margin: 0 auto 28px auto;
      max-width: 240px;
      height: 35px;
      font-size: 16px;
      line-height: 35px;
      padding: 0 34px; }
  /* end of Top Content */ }

@media (max-width: 768px) {
  .desktop {
    display: none;
    visibility: hidden;
    opacity: 0; }
  .mobile {
    display: block;
    visibility: visible;
    opacity: 1; }
  h3 {
    font-size: 20px;
    line-height: 25px;
    margin: 0 auto 0 auto; }
    h3 p {
      font-size: 20px;
      line-height: 25px;
      margin: 0 auto 0 auto; }
  hr {
    max-width: 90%;
    margin: 2rem auto; }
  .mycircle-marketing-page-container {
    margin: 42px 0 0 0; }
    .mycircle-marketing-page-container hr {
      margin: 2rem auto; }
  /* Top Content */
  /* end of Top Content */
  /* korres Circle Container */
  .korres-circle-container {
    max-width: 100%; }
    .korres-circle-container h3 {
      font-size: 20px;
      line-height: 25px;
      margin: 0 auto 40px auto;
      max-width: 200px; }
      .korres-circle-container h3 p {
        font-size: 20px;
        line-height: 25px;
        margin: 0 auto 40px auto;
        max-width: 200px; }
    .korres-circle-container .inner {
      flex-direction: column; }
      .korres-circle-container .inner .circle-item {
        margin: 0 auto 40px auto;
        text-align: center;
        flex: unset; }
        .korres-circle-container .inner .circle-item:first-child, .korres-circle-container .inner .circle-item:nth-child(2), .korres-circle-container .inner .circle-item:nth-child(2) {
          margin: 0 auto 40px auto; }
        .korres-circle-container .inner .circle-item .img-container {
          margin: 0 auto 12px auto;
          max-width: 80px;
          max-height: 80px; }
          .korres-circle-container .inner .circle-item .img-container .circle {
            width: 80px;
            height: 80px;
            font-size: 24px;
            line-height: 80px;
            margin: 0 auto 10px auto; }
        .korres-circle-container .inner .circle-item.item-5 {
          max-width: 172px;
          margin: 0 auto 0 auto; }
        .korres-circle-container .inner .circle-item span {
          font-size: 14px;
          line-height: 20px; }
  /* end of korres Circle Container */
  /* korres Points Container */
  .korres-points-container {
    max-width: 100%; }
    .korres-points-container h3 {
      margin: 0 auto 46px auto; }
    .korres-points-container .tabs-nav {
      max-width: 90%;
      margin: 0 auto; }
      .korres-points-container .tabs-nav li {
        width: 32%; }
        .korres-points-container .tabs-nav li a {
          font-size: 16px;
          line-height: 34px; }
    .korres-points-container .korres-circe {
      padding: 1rem 0 0; }
      .korres-points-container .korres-circe.brown-circle .boxes-container {
        max-width: 100%; }
      .korres-points-container .korres-circe img {
        max-width: 260px; }
      .korres-points-container .korres-circe h2 {
        font-size: 28px;
        line-height: 40px; }
      .korres-points-container .korres-circe .bg-box {
        max-width: 244px;
        height: 30px;
        font-size: 14px;
        line-height: 30px;
        padding: 0 20px;
        margin: 0 auto 30px auto; }
        .korres-points-container .korres-circe .bg-box p {
          font-size: 14px;
          line-height: 30px;
          margin: 0; }
      .korres-points-container .korres-circe .boxes-container .row [class*='col-']:nth-child(odd) {
        display: flex;
        justify-content: end; }
      .korres-points-container .korres-circe .box {
        width: 162px;
        height: 126px;
        margin: 0 7px 14px 7px; }
        .korres-points-container .korres-circe .box h6 {
          font-size: 28px;
          line-height: 28px; }
        .korres-points-container .korres-circe .box p {
          font-size: 14px;
          line-height: 16px;
          max-width: 104px; }
  /* end of korres Points Container */
  /* KORRES Circle Members Section */
  .members-section-container {
    max-width: 100%;
    margin: 0 auto 0 auto; }
    .members-section-container h3 {
      font-size: 20px;
      line-height: 25px;
      margin: 0 auto 30px auto;
      max-width: 254px; }
    .members-section-container [class*='col-']:nth-child(odd) .bg-img {
      margin: 0 auto 15px auto; }
    .members-section-container [class*='col-']:nth-child(even) .bg-img {
      margin: 0 auto 15px auto; }
    .members-section-container .bg-img {
      width: 90%;
      max-width: 340px; }
      .members-section-container .bg-img img {
        width: 100%;
        height: 115px;
        margin: 0 auto; }
      .members-section-container .bg-img p {
        font-size: 16px;
        line-height: 22px; }
        .members-section-container .bg-img p.w-400 {
          max-width: 182px; }
        .members-section-container .bg-img p.w-540 {
          max-width: 248px; }
        .members-section-container .bg-img p.w-780 {
          max-width: 244px; }
      .members-section-container .bg-img.bg-img-7 {
        margin: 0 auto 0 auto; }
  /* end of KORRES Circle Members Section */
  /* Store Search Content */
  .store-search-container {
    max-width: 90%; }
    .store-search-container .map-icon {
      margin: 0 auto 28px auto; }
    .store-search-container h6 {
      font-size: 20px;
      line-height: 25px;
      margin: 0 auto 38px auto;
      max-width: 220px; }
    .store-search-container p {
      font-size: 16px;
      line-height: 22px;
      margin: 0 auto 20px auto;
      max-width: 290px; }
      .store-search-container p.last {
        max-width: 338px; }
    .store-search-container .btn {
      margin: 0 auto 0 auto;
      max-width: 240px;
      height: 36px;
      font-size: 16px;
      line-height: 36px;
      padding: 0 40px; }
  /* end of Store Search Content */
  /* Korres Gifts Content */
  .korres-gifts-container {
    margin: 0 auto 66px auto;
    max-width: 100%; }
    .korres-gifts-container h3 {
      font-size: 20px;
      line-height: 25px;
      margin: 0 auto 36px auto; }
    .korres-gifts-container .main-carousel {
      height: 214px;
      width: 100%;
      max-width: 100%; }
      .korres-gifts-container .main-carousel .flickity-viewport {
        width: 100%;
        max-width: 100%; }
    .korres-gifts-container .gift-item {
      width: 166px;
      height: 214px;
      margin: 0 10px 0 10px; }
      .korres-gifts-container .gift-item .text {
        font-size: 12px;
        line-height: 38px;
        width: 100%;
        height: 38px; }
        .korres-gifts-container .gift-item .text p {
          font-size: 12px;
          line-height: 38px; }
        .korres-gifts-container .gift-item .text img {
          display: inline-block;
          margin: 0 10px; }
  /* end of Korres Gifts Content */
  /* Download Korres Circle */
  .download-korres-container {
    margin: 0 auto 34px auto; }
    .download-korres-container .text-container {
      left: 0;
      right: 0;
      bottom: 0px;
      max-width: 340px;
      text-align: center;
      top: auto;
      margin: 0 auto; }
      .download-korres-container .text-container h3 {
        font-size: 20px;
        line-height: 20px;
        margin: 0 auto 10px auto;
        max-width: 190px; }
        .download-korres-container .text-container h3 p {
          font-size: 20px;
          line-height: 20px;
          margin: 0 auto 10px auto;
          max-width: 190px; }
      .download-korres-container .text-container .subtitle {
        max-width: 238px;
        margin: 0 auto; }
        .download-korres-container .text-container .subtitle p {
          font-size: 14px;
          line-height: 20px;
          margin: 0 auto;
          max-width: 236px; }
      .download-korres-container .text-container .btn-container {
        margin: 24px 0 38px 0;
        justify-content: center; }
        .download-korres-container .text-container .btn-container a:first-child {
          margin: 0 8px 0 0; }
        .download-korres-container .text-container .btn-container a img {
          width: 98px;
          height: 30px; }
  /* end of Download Korres Circle */ }
