.container-table {
    font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    padding: 0;
    margin: 0;
    width: 750px;
    max-width: 750px;
    min-width: 750px;
    margin: 0 auto;
    padding: 0;
}

table td {
    padding: 0;
}

.email-header {
    width: 400px;
    text-align: left;
    display: block;
    color: #32322D;
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    margin: 0 auto;
    font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

    .email-header span {
        display: inline-block;
        font-size: 14px;
        line-height: 14px;
        font-weight: 300;
        margin: 0 auto;
        font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    }

    .email-header.error {
        color: #FA4664;
    }

.input-email {
    width: 400px;
    height: 50px;
    margin: 5px auto 5px auto;
    display: block;
    font-size: 16px;
    line-height: 50px;
    font-weight: 300;
    border: 1px solid #E6E7E8;
    border-radius: 0;
    padding: 0 0 0 12px;
}

    .input-email.error {
        border: 1px solid #FA4664;
    }

    .input-email:focus {
        outline: none;
    }

.error-message {
    font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    width: 400px;
    height: 14px;
    margin: 0 auto 0 auto;
    display: block;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    color: #FA4664;
    display: none;
    font-weight: 300;
}

.btn-unsubscribe {
    font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    width: 400px;
    height: 50px;
    margin: 0 auto;
    display: block;
    font-size: 18px;
    line-height: 50px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #050F96;
    border-radius: 10px;
    background-color: #050F96;
    color: #fff;
}

.btn-unsubscribe:hover {
    background-color: #fff;
    color: #050F96;
}

    .btn-unsubscribe:disabled,
    .btn-unsubscribe[disabled] {
        background-color: #F0F0F0;
        color: #B9B9B9;
      border:1px solid #F0F0F0;
    }

.step-1, .step-2 {
    width: 750px;
    max-width: 750px;
    min-width: 750px;
    margin: 0 auto;
}

.step-2 {
    display: none;
}

.v-middle {
    vertical-align: middle;
}

.inner-container-table {
 
    width: 750px;
    max-width: 750px;
    min-width: 750px;
    margin: 0 auto;
    padding: 0;
}

.inner-container-td {    
    width: 750px;
    max-width: 750px;
    min-width: 750px;
}

.border-div {
  padding: 86px 0 162px 0;
  border: 2px solid #DCDCDC;
    border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

.logo-unsubscribe-container {
    vertical-align: top;
    padding: 0 0 76px 0;
}

.logo-unsubscribe {
    display: block;
    margin: 0 auto;
}

.unsubscribe-header {
    vertical-align: top;
    padding: 0 0 30px 0;
}

    .unsubscribe-header h2 {
        text-align: center;
        display: block;
        color: #050F96;
        font-size: 28px;
        line-height: 28px;
        font-weight: 300;
        margin: 0 auto;
        font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    }

    .unsubscribe-header p {
        text-align: center;
        display: block;
        color: #32322D;
        font-size: 14px;
        line-height: 14px;
        font-weight: 300;
        margin: 6px auto 0 auto;
        font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    }

        .unsubscribe-header p.message {
            width: 430px;
            max-width: 430px;
            min-width: 430px;
            text-align: center;
            display: block;
            color: #32322D;
            font-size: 14px;
            line-height: 25px;
            font-weight: 300;
            margin: 35px auto 0 auto;
            font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
        }

.btn-site {
   font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    width: 192px;
    height: 50px;
    margin: 0 auto;
    display: block;
    text-align:center;
    font-size: 18px;
    line-height: 50px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #050F96;
    border-radius: 10px;
    background-color: #050F96;
    color: #fff;
    text-decoration:none;
}

.btn-site:hover {
    background-color: #fff;
    color: #050F96;
    text-decoration:none;
}

.nevermind-link-td {
    vertical-align: top;
    padding: 0 0 0 0;
}

.nevermind-link {
    text-decoration: none;
    text-align: center;
    display: block;
    color: #050F96;
    font-size: 18px;
    line-height: 18px;
    font-weight: 300;
    margin: 0 auto;
    font-family: 'Roboto','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.header-step-2 {
    vertical-align: top;
    padding: 0 0 102px 0;
}

.btn-unsubscribe-td {
    vertical-align: top;
    padding: 21px 0 28px 0;
}

.email-td {
    vertical-align: top;
    padding: 0 0 0 0;
}
.msg-bold{display:none; font-weight:bold; margin: 20px auto; text-align: center;}