body {
}


//Colors
$blue: #050F96;
$theme-black: #32322D;
$black: #32322D;
$white: #ffffff;
$pink: #F5E6E6;
$svg: #2E2A25;
$grey1: #F0F0F0;
$grey2: #E6E6E6;
$grey3: #DCDCDC;
$grey4: #B9B9B9;

.cart-drawer-container .cart-container .items--no-links > *:not(.line-item--gift-link) a {
    pointer-events: auto;
}

/*.cart-drawer-container.cart-drawer-container--ajax .cart-container .items {
    flex-grow: 1;
    margin-top: 45px;
}

.cart-drawer-container.cart-drawer-container--ajax .cart-container {
    margin: 0 1vw 50px 1vw !important;
}*/


/* Check Out - My Cart */
button.primary, .primary-btn, .shopify-challenge__button {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h3 {
    &.cart-title {
        font-size: 42px;
        line-height: 42px;
        font-weight: 300;
        color: #32322D;
        text-align: center;
        margin: 160px 0 0 0;
    }
}

.bottom_instruct {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: $black;
    margin: 0 auto 50px auto;

    span {
        font-weight: 400;
    }

    a {
        color: #180E96;
        font-weight: 400;
    }
}

.cart-drawer-container {
    padding-top: 60px !important;
    max-width: 1384px;
    margin: 0 auto !important;
    //left
    .cart-container {
        //margin: 0 4vw 50px 10vw !important;
        margin: 0 0 50px 0 !important;
        width: 100% !important;

        .items {

            .line-item {
                border-bottom: 1px solid #E2E3E4;
                width: 100%;
                max-width: 754px;
                display: flex;
                padding: 16px 0;

                &:first-child {
                    margin: 40px 0 0 0;
                }

                &:last-child {
                    margin: 0 0 170px 0;
                    //border-bottom: 0px;
                }

                .inner {
                    display: flex;
                    width: 100%;

                    .img-container {
                        min-width: 134px;
                        width: 134px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        a {
                            img {
                                width: auto;
                                height: auto;
                                margin: 0 auto;
                                display: block;
                            }
                        }
                    }

                    .details {
                        margin: 14px 0 0 0;
                        width: 100%;
                        justify-content: space-between;

                        .product-title {
                            font-size: 20px;
                            line-height: 21px;
                            font-weight: 400;
                            color: #2C2C28;
                            width: 80%;
                            margin: unset;
                            text-align: left;

                            a {
                                font-size: 20px;
                                line-height: 21px;
                                font-weight: 400;
                                color: #2C2C28;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                            }
                        }

                        .adjust-quantity {
                            border: 1px solid #B9B9B9;
                            border-radius: 5px;
                            width: 114px;
                            height: 36px;
                            margin: 10px 0 0 0;

                            .minus, .plus {
                                width: 36px;
                                margin: 0;

                                svg {
                                    //width: 11px;
                                }
                            }

                            p {
                                font-size: 20px;
                                line-height: 25px;
                                font-weight: 300;
                                color: #32322D;
                                width: 46px;
                                border-left: 1px solid #B9B9B9;
                                border-right: 1px solid #B9B9B9;
                            }
                        }
                    }

                    .push {
                        /*height: 100%;*/
                        align-items: flex-end;
                        justify-content: space-between;
                        text-align: center;
                        margin: 14px 10px 0 auto;

                        .right-top {
                            display: flex;
                            align-items: center;

                            .product-add-wishlist {

                                .add-to-wishlist {
                                    padding: 0 0 0 0;
                                    width: 18px;
                                    height: 20px;

                                    a {
                                        border: 0;
                                        width: 18px;

                                        svg {
                                            width: 18px !important;
                                        }
                                    }
                                }
                            }
                            //.cart-drawer-container .cart-container .items > div .push button a:after
                            .product-remove {
                                margin: 0 0 0 8px;

                                .removecart {
                                    //margin: 0 0 0 5px;
                                    &:after {
                                        width: 20px;
                                        height: 20px;
                                        font-size: 14px;
                                        line-height: 20px;
                                    }
                                }
                            }
                        }

                        .unit-price {
                            font-size: 22px;
                            line-height: 20px;
                            font-weight: 400;
                            color: #2C2C28;
                            margin: 0 0 0 0;
                        }
                    }
                }
            }

            .empty-cart {
                padding: 0;
                border: 0;

                img {
                    width: 212px;
                    height: 208px;
                }

                h4 {
                    font-size: 28px;
                    line-height: 28px;
                    font-weight: 300;
                    text-align: center;
                    color: #180E96;
                    margin: 44px 0 20px 0;
                }

                p {
                    color: #000000;
                    font-size: 22px;
                    line-height: 25px;
                    font-weight: 300;
                    text-align: center;
                    margin: 0 auto;
                }

                .primary-btn {
                    background-color: #050F96 !important;
                    color: $white;
                    padding:0 10px;
                    width: 100%;
                    max-width: 318px;
                    height: 50px;
                    margin: 32px auto 0 auto;
                    border-radius: 5px;
                    font-size: 18px !important;
                    font-weight: 400 !important;
                    line-height: 50px;
                    display:block;

                    &:hover, &:active, &:focus {
                        background-color: $white !important;
                        color: #050F96;
                    }
                }
            }
        }
    }
    //right
    &.full-page {

        footer {
            width: 100%;
            max-width: 510px;
            margin: 56px 0 170px 0;

            .summary-box {
                padding: 40px 45px !important;
                border-radius: 10px;

                .summary-label {
                    padding-bottom: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h3 {
                        font-family: 'Roboto', sans-serif !important;
                        font-size: 22px;
                        line-height: 22px;
                        font-weight: 400;
                        margin: 0;
                        color: #32322D;
                    }

                    span {
                        font-size: 16px;
                        line-height: 22px;
                        font-weight: 300;
                        color: #32322D;
                    }
                }

                .subtotal, .tax {
                    border-bottom: 0px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h4 {
                        font-size: 16px;
                        line-height: 16px;
                        font-weight: 300;
                        color: #32322D;
                        margin: 0;
                    }

                    p {
                        font-size: 16px;
                        line-height: 16px;
                        font-weight: 400;
                        color: #32322D;
                        margin: 0;

                        strong {
                            font-weight: 400;
                        }
                    }
                }

                .subtotal {
                    margin: 38px 0 0 0;
                }

                .tax {
                    margin: 32px 0 0 0;

                    p {
                        text-align: right;
                    }
                }

                .mycircle_box {
                    width: 100%;
                    display: flex;
                    border-top: 1px solid #F0F0F0;
                    display: flex;
                    flex-direction: column;
                    padding: 34px 0 0 0;
                    margin: 36px 0 0 0;

                    h4 {
                        font-size: 18px;
                        line-height: 18px;
                        font-weight: 400;
                        color: #05119B;
                        margin: 0 0 10px 0;
                    }

                    .my-circle-points {
                        display: flex;
                        width: 100%;
                        align-items: flex-start;
                        justify-content: space-between;

                        p {
                            font-size: 12px;
                            line-height: 20px;
                            font-weight: 300;
                            color: #32322D;
                            max-width: 200px;
                            margin: 0;

                            span {
                                color: #05119B;

                                &.w-100 {
                                    display: block;
                                    width: 100%;
                                    color: #32322D;
                                }
                            }
                        }

                        .right {
                            font-size: 24px;
                            line-height: 28px;
                            font-weight: 400;
                            color: #05119B;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            span {
                                font-size: 12px;
                                line-height: 14px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }

            .total-box {
                padding: 20px 45px !important;
                margin-top: 22px;
                border-radius: 10px;

                .total {
                    display: flex;
                    align-content: center;
                    width: 100%;
                    align-items: center;

                    .left {
                        h4 {
                            font-size: 18px;
                            line-height: 18px;
                            font-weight: 400;
                            color: #2D2A26;
                            margin: 0 0 4px 0;
                        }

                        p {
                            font-size: 12px;
                            line-height: 12px;
                            font-weight: 300;
                            color: #B9B9B9;
                        }
                    }

                    p {
                        font-size: 24px;
                        line-height: 24px;
                        font-weight: 400;
                        color: #050F96;
                    }
                }
            }

            .checkout {
                padding: 0;
                margin: 26px auto 0 auto;
                padding: 0 !important;

                .primary-btn {
                    background: #050F96 !important;
                    border: 1px solid #050F96 !important;
                    font-size: 18px !important;
                    line-height: 50px;
                    font-weight: 300 !important;
                    color: $white;
                    width: 100%;
                    height: 50px;
                    border-radius: 5px;
                    padding: 0;

                    &:hover, &:focus, &:active {
                        border: 1px solid #050F96 !important;
                        background: $white !important;
                        color: #050F96 !important;
                    }
                }
            }
        }
    }
}
/* end of Check Out - My Cart */
@media screen and (max-width: 1500px) {
    .cart-drawer-container {
        max-width: 90%;

        .cart-container {
            .items {
                .line-item {
                    width: 56vw;
                }
            }
        }

        &.full-page {

            footer {
                width: 40vw;

                .summary-box {
                    padding: 40px 20px !important
                }

                .total-box {
                    padding: 20px 20px !important;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    /* Check Out - My Cart  */
    h3 {
        &.cart-title {
            font-size: 24px;
            line-height: 30px;
            margin: 110px 0 0 0;
        }
    }

    .bottom_instruct {
        font-size: 14px;
        line-height: 22px;
        margin: 50px auto 25px auto;
        max-width: 82%;
    }

    .cart-drawer-container {
        padding-top: 44px !important;

        .cart-container {
            margin: 0 !important;

            .items {

                .line-item {
                    border-bottom: 0;
                    width: 100%;
                    max-width: 100%;
                    margin: 0 auto;
                    padding: 18px 0;

                    &:first-child {
                        margin: 0 0 0 0;
                        padding: 0 0 18px 0;
                    }

                    &:last-child {
                        margin: 0 0 0 0;
                        //border-bottom: 0px;
                    }

                    .inner {

                        .img-container {
                            min-width: 82px;
                            width: 82px;

                            a {
                                min-width: 66px;
                                width: 66px;

                                img {
                                    width: 66px;
                                }
                            }
                        }

                        .details {
                            margin: 0 0 0 5px;

                            .product-title {
                                font-size: 14px;
                                line-height: 15px;
                                font-weight: 300;

                                a {
                                    font-size: 14px;
                                    line-height: 15px;
                                    font-weight: 300;
                                }
                            }

                            .adjust-quantity {
                                width: 64px;
                                height: 20px;
                                border-radius: 3px;

                                .minus, .plus {
                                    width: 20px;

                                    svg {
                                        width: 7px;
                                    }
                                }

                                p {
                                    font-size: 9px;
                                    line-height: 20px;
                                    width: 30px;
                                    height: 20px;
                                }
                            }
                        }

                        .push {
                            margin: 2px 0 0 0;

                            .right-top {

                                .product-add-wishlist {

                                    .add-to-wishlist {
                                        width: 18px;
                                        height: 20px;

                                        a {
                                            border: 0;
                                            width: 18px;

                                            svg {
                                                width: 18px !important;
                                            }
                                        }
                                    }
                                }

                                .product-remove {
                                    margin: 0 0 0 6px;

                                    .removecart {
                                    }
                                }
                            }

                            .unit-price {
                                font-size: 20px;
                                line-height: 20px;
                                margin: 0 0 3px 0;
                            }
                        }
                    }
                }

                .empty-cart {
                    padding: 18px 0 0 0;

                    img {
                        width: 131px;
                        height: 128px;
                    }

                    h4 {
                        font-size: 18px;
                        line-height: 25px;
                        margin: 34px 0 10px 0;
                    }

                    p {
                        font-size: 16px;
                        line-height: 25px;
                        max-width: 296px;
                    }

                    .primary-btn {
                        max-width: 186px;

                        &:hover, &:active, &:focus {
                        }
                    }
                }
            }
        }
        //right
        &.full-page {

            footer {
                width: 100%;
                max-width: 100%;
                margin: 60px auto 0 auto;

                .summary-box {
                    padding: 20px 22px 30px 22px !important;

                    .summary-label {

                        h3 {
                            font-size: 18px;
                            line-height: 18px;
                        }

                        span {
                            font-size: 14px;
                            line-height: 14px;
                        }
                    }

                    .subtotal, .tax {

                        h4 {
                            font-size: 14px;
                            line-height: 14px;
                        }

                        p {
                       
                            strong {
                            }
                        }
                    }

                    .subtotal {
                        margin: 14px 0 0 0;
                    }

                    .tax {
                        margin: 25px 0 0 0;

                        p {
                        }
                    }

                    .mycircle_box {
                        padding: 24px 0 0 0;
                        margin: 24px 0 0 0;

                        h4 {
                        }

                        .my-circle-points {


                            p {


                                span {


                                    &.w-100 {
                                    }
                                }
                            }

                            .right {


                                span {
                                }
                            }
                        }
                    }
                }

                .total-box {
                    padding: 18px 22px 20px 22px !important;
                    margin-top: 20px;

                    .total {


                        .left {
                            h4 {
                                font-size: 22px;
                                line-height: 22px;
                            }

                            p {
                            }
                        }

                        p {
                            font-size: 28px;
                            line-height: 28px;
                            font-weight: 500;
                        }
                    }
                }

                .checkout {

                    .primary-btn {
                        width: 100%;
                    }
                }
            }
        }
    }
    /* end of Check Out - My Cart */
}
