div#nav-drawer__mobile .search__mobile {
    display: none;
}

.most-popular-main {
    position: relative;
    top: -20px;
    z-index: -9;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}

.most-popular {
    max-width: 824px;
    position: absolute;
    top: 0px;
    left: 18px;
    margin: 0 auto;
    padding: 25px 0px;
    background: #fff;
    width: 100%;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*border: 1px solid #00000029;
    border-top: 0;*/
    border:0;
    box-shadow: 0px 3px 6px #00000029;
}

.top-search .back-btn {
   opacity:0;
   visibility:hidden;
   display:none;
}


.most-popular h6 {
  text-align: left;
  color: #333;
  margin-bottom: 12px;
  font-size: 14px;
}
.all_prod.btn-theme:hover {
  border-color:#050F96 !important;
  color:#fff !important;
}
#shopify-section-menu-bar .main-nav__desktop li.show_subwrap:hover .submenu-content {
  display:block;
}
#shopify-section-menu-bar .main-nav__desktop li.show_subwrap>a{
  position:relative; 
}
#shopify-section-menu-bar .main-nav__desktop li.show_subwrap:hover>a{
  color:#32322D !important;
}
#shopify-section-menu-bar .main-nav__desktop li.show_subwrap:hover > a:after{
  content: '';
  width: 60%;
  height: 1px;
  position: absolute;
  background: #32322D;
  top: auto;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
header .search-container--desktop .search-field button.clear {
    background-image: url(https://cdn.shopify.com/s/files/1/0515/5785/9489/files/close-search.png?v=1657804855);
    background-repeat: no-repeat;
    background-color:transparent;
    border:0;
    right: 138px;
    width: 16px;
    height: 16px;
    top: 12px;
}
header .search-container--desktop .search-field button.clear svg {
  left: unset;
}
.search-product .item-searchd .price-search{
  text-align: left;
  max-width: 230px;
  margin: 0 auto !important;
  display: block;
  width: 100%;
  font-weight: 600 !important;
  font-size: 24px;
  color: #32322D;
  line-height: 28px;
  visibility: visible;
}
.onlySearch .custom_mobile_nav {
  display: none !important;
}

.submenu-content-inner {
  display: flex;
}

.submenu-left a{
  padding:0 !important; 
}

#shopify-section-menu-bar .bm-nav li.user-icon{
  z-index: 9 !important;
}



.FULL.COLOUR:last-child{
  display: none;
}

.FULL.COLOUR{
  display: block !important;
}

.search-container--desktop {
  display: block;
  position: absolute;
  top: 100%;
  right: 0px;
  left: 0px;
  background: #fff;
}

header .search_form_container .search-container--desktop{
  overflow: initial;	
}

.predictive-search-wrapper.predictive-search-wrapper--drawer {
    max-width: 860px;
    display: flex;
    height: 100%;
    margin: 0 0;
    position: relative;
    top: 0;
}

header .search_form_container .predictive-search {
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
    padding: 15px 0;
    width: 100%;
    max-width: 816px;
    top: -1px;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*border: 1px solid #00000029;
    border-top: 0;*/
    border: 0;
    box-shadow: 0px 3px 6px #00000029;
    margin: 0 auto;
    z-index: -9;
}

header .search_form_container .predictive-search-title__content{
  color: #909090;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  line-height: 25px;
  text-align: left;
  padding: 0 15px;
  margin: 0;
  display: none;
}

.search-form.search-bar__form {
    margin:0 auto;
}

.search-container--desktop {
    padding: 0 30px;
    /* border-top: 2px solid #DCDCDC;
    border-bottom: 2px solid #DCDCDC;
        border-right: none;
    border-left: none;
    */
    /*-webkit-box-shadow: 0px 12px 10px -6px #E6E6E6;
    -moz-box-shadow: 0px 12px 10px -6px #E6E6E6;
    box-shadow: 0px 12px 10px -6px #E6E6E6;*/
    top: 101%;
    -webkit-box-shadow: 0px 1px 6px #0000001A;
    -moz-box-shadow: 0px 1px 6px #0000001A;
    box-shadow: 0px 1px 6px #0000001A;
    background: #F0F0F0;
    border: 0;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-container--desktop .close-drawer-btn {
  float: right;
  padding: 12px 0px;
  border: 0;
  display: none;
  visibility: hidden;
}

.search-container--desktop .close-drawer-btn span {
  display: none;
  visibility: hidden;
}

.search-container--desktop .close-drawer-btn:hover {
  background: transparent;
}

.search-container--desktop .most-searched ul li:last-child {
  padding: 0;
}

.search-container--desktop .close-drawer-btn, .search-container--desktop .most-searched {
  /*display: none;
  visibility: hidden;*/
}

.search-product a {
  color: #2C2C28;
}

.search-product a:hover {
  color: #050F96;
}

.search-product .item-searchd > a {
  height: 300px;
  display: block;
  margin-bottom: 15px;
}

.search-product .item-searchd {
  margin-bottom: 24px;
}

.search-product .item-searchd img {
  object-fit: contain;
  width: 100%;
  height: 300px;
}

.search-container--desktop .search-field {
    margin: 20px auto;
    width: 100%;
    max-width: 980px;
    height: 40px;
}

    .search-container--desktop .search-field input {
        text-align: left;
        font-size: 14px;
        line-height: 40px;
        padding: 6px 18px 6px 43px;
        font-weight: 300;
        border-radius: 5px;
        max-width: 860px;
        width: 100%;
        height: 40px;
        border: 1px solid #00000029;
        box-shadow: 0px 1px 6px #00000029;
        border-radius: 5px;
        background: #fff;
    }


.search-field:before {
    position: absolute;
    content: '';
    display: block;
    background-image: url("https://cdn.shopify.com/s/files/1/0515/5785/9489/files/search-icon-searchbox.svg?v=1658402709");
    background-repeat: no-repeat;
    background-position: center left;
    z-index: 99999;
    width: 14px;
    height: 40px;
    margin: 0 15px 0 14px;
}

.search-container--desktop .search-field input::-webkit-input-placeholder {
  line-height: 40px !important;
  opacity: 1;
  color: #E6E6E6;
  font-weight: 300;
}

.search-container--desktop .search-field input::-moz-placeholder {
  line-height: 40px !important;
  opacity: 1;
  color: #E6E6E6;
  font-weight: 300;
}

.search-container--desktop .search-field input:-ms-input-placeholder {
  line-height: 40px !important;
  opacity: 1;
  color: #E6E6E6;
  font-weight: 300;
}

.search-container--desktop .search-field input:-moz-placeholder {
  line-height: 32px !important;
  opacity: 1;
  color: #E6E6E6;
  font-weight: 300;
}

.search-container--desktop .result a {
  font-family: 'Roboto', sans-serif;
}

.search-container--desktop .result a:hover {
  color: #32322D !important;
}

.search-container--desktop .result a h6 {
  font-family: 'Roboto', sans-serif;
}

.search-container--desktop .result a p.price {
  display: none;
}

.search__mobile input input {
  text-align: left;
}

.search__mobile input input::-webkit-input-placeholder {
  line-height: 30px !important;
  opacity: 1;
}

.search__mobile input input::-moz-placeholder {
  line-height: 30px !important;
  opacity: 1;
}

.search__mobile input input:-ms-input-placeholder {
  line-height: 30px !important;
  opacity: 1;
}

.search__mobile input input:-moz-placeholder {
  line-height: 30px !important;
  opacity: 1;
}

.search__mobile .search {
  width: 14px;
}
header .most-popular .popular-items{
  padding: 15px 25px;
  position: relative;
}
header .most-popular .popular-items:hover{
  background-color: #eee;
}
header .most-popular .popular-items a{
  text-decoration: none;
}
.search-container--desktop {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s,visibility .3s;
}
header .search-container--desktop .search-field button {
  padding: 0;
  display: flex;
  align-items: center;
  right: 0;
  font-size: 16px;
  line-height:40px;
  height: 40px;
  width: 110px;
}

.ajax-search-products {
  width: 100%;
}

.top-search {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

@media screen and (min-width:768px) and (max-width:1070px) {
    .search-container--desktop .search-field input, .most-popular, .predictive-search-wrapper.predictive-search-wrapper--drawer {
        width: 82%;
    }

    .most-popular {
        left:0;
        border-radius:0;
    }

    header .search-container--desktop .search-field button.clear {
        right: 20%;
    }
}

@media all and (max-width:768px) {

    .search-container-main.search_form_container {
        position: fixed;
        z-index: 99;
        top: 0;
        height: 100vh;
    }

    header .search_form_container .search-container--desktop.active {
        position: fixed;
        top: 0;
        left:0;
        height: 110vh;
        background: white;
        box-shadow: none !important;
    }

    /*.search-container-main.search_form_container {
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 9;
    }*/

    .search-field:before {
        margin: 0 8px 0 10px;
        left: 50px;
    }

    .most-popular-main {
        display: block !important;
        height: 90vh;
        top: 0;
    }

    .most-popular {
        box-shadow: none;
        left: 0;
        border-radius:0;
    }

    .top-search {
        padding: 0 18px;
    }

        .top-search .back-btn {
            margin: 0 20px 0 0;
            cursor: pointer;
            opacity: 1;
            visibility: visible;
            display: inline-block;
        }

    header .search-container--desktop .search-field button svg {
        position: relative;
        left: 0px;
    }
    button.search-btn {
      border: none !important;
      background-color: transparent;
    }

  	.search-container--desktop {
  		padding: 0 0;
    }

    .search-container--desktop .search-field input {
        margin: 0 auto;
        padding: 13px 12px 11px 32px;
    }
    .search-container--desktop .search-field {
        position: relative;
        background: #F0F0F0;
        padding: 20px 0;
        margin: 0 auto;
        height: auto;
    }

        header .search-container--desktop .search-field button.clear {
            top: 32px;
            right: 31px;
            position: absolute;
            /*background: #FCF7F1;*/
            border: none;
            padding: 03px;
        }


    .predictive-search-wrapper.predictive-search-wrapper--drawer {
        z-index: 9999;
        top: 21px;
    }

    header .search_form_container .predictive-search {
        width: 100%;
        max-width: 100%;
        box-shadow: none;
        border-radius: 0;
    }

    header .search_form_container .predictive-search {
    }

    .ajax-search-products {
        margin: 0 30px;
    }
    .search-product .item-searchd {
      display: block;
      width: 45%;
      margin: 15px 7px !important;
    }
  	.search-product .item-searchd > a {
  		height: auto;
    }
  	.search-product .item-searchd img {
      height: auto;
    }
  	.search-product .item-searchd {
      height: auto;
    }
}