<div class="error-page w-1440">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6 left">
        <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/recycle-bag_logo.png?v=1641384130" alt="" />
      </div>
      <div class="col-12 col-md-6 col-lg-6 right">
        <h1>404</h1>
        <h6>{{ 'errorpage.title.errorpagetitle' | t: errorpagetitle }}</h6>
        <p>{{ 'errorpage.title.subtitle' | t: subtitle }}</p>
        <a href="/index" class="btn-theme-transparent">{{ 'errorpage.title.btn' | t: btn }}</a>
      </div>
    </div>
  </div>
</div>

