
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>


<div class="container">
<div class="row circle-row">
<div class="col-md-6 col-lg-6 col-sm-12 circle-design">
<svg
   class="progress-circle"
   width="400"
   height="400">
  
  <circle
		class="circle-background"
    stroke="#e5e2d7"
    stroke-width="20"
    fill="transparent"
    r="150"
    cx="50%"
    cy="50%"/>
    
  <circle
    class="progress"
    stroke="#a4bfb8"
    stroke-width="18"
    fill="transparent"
    r="150"
    cx="50%"
    cy="50%"/>
  
  <circle
    class="handle"
    stroke="#fff"
    stroke-width="6"
    fill="#a4bfb8"
    r="20"
    cx="50%"
    cy="50%"/>
<!-- 	
	  <circle
    id="lock-half"
    stroke="#333"
    stroke-width="6"
    fill="#a4bfb8"
    r="15"
    cx="50%"
    cy="7%"/> -->
	
      

<defs>
      <clipPath id="clipPath">
          <circle cx="50%" cy="12%" r="20" />
      </clipPath>
  </defs>
<image xlink:href="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/padlock.png?v=1628429514" width="175" height="175" style="clip-path: url(#clipPath); " />

   
      
 
  <text x="55%" y="55%" 
        class="user-score"
        font-size="48"
        font-family="futura-pt"
        font-weight="bold" 
        fill="#a4bfb8"
        text-anchor="end"
        letter-spacing="-2"
        alignment-baseline="bottom">
    4.2
  </text>
  
  <text x="130" y="170" 
        font-size="48"
        font-family="futura-pt"
        font-weight="bold" 
        fill="#e5e2d7"
        text-anchor="start"
        alignment-baseline="top">
   
  </text>

</svg>

<input
  class="primary-input" 
  value="30"
  type="number"
  step="5"
  min="0"
  max="100"
  placeholder="progress"
>
<input
   class="sec-input"    
  value="30"
  type="number"
  step="5"
  min="0"
  max="100"
  placeholder="progress"
>

<div class="coords"></div>
</div>
<div class="col-md-6 col-lg-6 col-sm-12 circle-content">
<h1>My White Circle</h1>
<p class="joining-date">Joined 05/06/2021</p>
<h6><b>900 more points</b> till your next gift</h6>
<a href="#" class="circle-btn">Back to shop</a>
</div>
</div>

<div class="row">
<div class="col-12 slider-content">
<h6>Earn & Unlock</h6>
<p>Exlpore your gifts by earning points</p>
</div>
<div class="col-12"> 
<div class="slick-circle">
  <div class="element element-1">
    </div>
  <div class="element element-2">
  <span class="lock-image"><i class="fa fa-lock" aria-hidden="true"></i><p> Digital</p>
    </span>
  </div>
  <div class="element element-3 border-olive">
    <span class="lock-image"><i class="fa fa-lock" aria-hidden="true"></i><p> Surprise</p>
    </span>
  </div>
  <div class="element element-4 border-olive"> 
  <span class="lock-image"><i class="fa fa-lock" aria-hidden="true"></i><p> Redeem</p>
    </span>
  </div>
  <div class="element element-5 border-olive">
  <span class="lock-image"><i class="fa fa-lock" aria-hidden="true"></i><p> Upgrade</p>
    </span>
  </div>
  <div class="element element-6 border-olive">
  <span class="lock-image"><i class="fa fa-lock" aria-hidden="true"></i><p> Surprise</p>
    </span>
  </div>
  <div class="element element-7 border-blue">
  <span class="lock-image"><i class="fa fa-lock" aria-hidden="true"></i><p> Digital</p>
    </span>
  </div>
  <div class="element element-8 border-blue">
  <span class="lock-image"><i class="fa fa-lock" aria-hidden="true"></i><p> Surprise</p>
    </span>
  </div>
  <div class="element element-9 border-blue">
  <span class="lock-image"><i class="fa fa-lock" aria-hidden="true"></i><p> Upgrade</p>
    </span>
  </div>
  <div class="element element-10 border-blue">
  <span class="lock-image"><i class="fa fa-lock" aria-hidden="true"></i>
    </span>
  </div>
</div>
</div>
</div> 
</div>


<style>


circle.progress {
  transform: rotate(120deg);
  transform-origin: 50% 50%;
}
circle.handle{
  transform: rotate(215deg);
      transform-origin: 50% 50%;
}
input.primary-input {
    position: fixed;
    top: 30%;
    left: 10px;
    width: 80px;
}
input.sec-input  {
  position: fixed;
  top: 50px;
  left: 10px;
  width: 80px;
}

div.coords {
  position: absolute;
  left: 50%;
  margin-left: 150px;
  width: 200px;
}
    .page.page-new-circle {
    margin-top: 180px;
}
h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}
.circle-row {
    margin: 10% 0;
}
.circle-content h1 {
    color: #9D9894;
    font-weight: 300;
  font-family: 'Roboto' !important;
}
p.joining-date {
    color: #ccc;
}
.circle-content h6 {
    color: #060E9B;
    position: relative;
}
.circle-content h6:after {
    content: '';
    display: block;
    position: absolute;
    width: 48%;
    top: 23px;
    height: 1px;
    background: #060E9B;
    z-index: 9999;
    margin: 0 auto;
}
  a.circle-btn:hover {
    background: #060E9B;
    color: #fff;
    text-decoration: none;
    transition: 1s;
}
a.circle-btn {
  text-decoration: none;
  font-weight:400;
    border: 2px solid #060E9B;
    padding: 12px 50px;
    margin: 40px 0;
    display: block;
    width: fit-content;
    border-radius: 8px;
    color: #060E9B;
}
  .slider-content {
    border-bottom: 2px solid #E2E2E2;
    /* padding: 0 20px; */
}
.slick-slider .element{
  height:100px;
  width:100px !important;
 border:1px solid #fff;
  color:#fff;
  border-radius:50%;
  display:inline-block;
  margin:0px 10px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  font-size:20px;
}
.slick-slider .slick-disabled {
  opacity : 0; 
  pointer-events:none;
}
.slider-content {
    margin: 50px 0;
	text-align: center;
}
.slider-content h6 {
    text-align: center;
    font-size: 24px;
	color: #32322D;
}
.slider-content p {
    color: #ccc;
}
.slick-circle{
    margin-bottom: 50px;
}
  .slick-next:before {
    content: '';
    background-image: url(https://cdn.shopify.com/s/files/1/0515/5785/9489/files/next.png?v=1628403992);
    width: 20px;
    height: 20px;
    opacity: 1;
    z-index: 99999;
    display: block;
    background-size: cover;
}
    .slick-prev:before {
    content: '';
    background-image: url(https://cdn.shopify.com/s/files/1/0515/5785/9489/files/back.png?v=1628403992);
    width: 20px;
    height: 20px;
    opacity: 1;
    z-index: 99999;
    display: block;
    background-size: cover;
}
  .progress-points {
    position: absolute;
    top: 34%;
    right: 38%;
}
  .progress-points h4 {
    font-size: 51px;
    font-weight: 300;
}
  #output {
    font-size: 51px;
    font-weight: 300;
}
 
 .nav img {
    position: absolute;
  	top: 25%;
    left: 19%;
    max-width: 70px;
} 
  
  
  
.element-1 {
    background-image: url(https://cdn.shopify.com/s/files/1/0515/5785/9489/files/Album_image_4.jpg?v=1626861741);
    background-size: cover;
    border-radius: 50%;
}
.element-2 {
    background-image: url(https://cdn.shopify.com/s/files/1/0515/5785/9489/files/Album_image_1.jpg?v=1626861375);
    background-size: cover;
    border-radius: 50%;
}    

svg.mkc_circle-chart {
    transform: rotate(
215deg
);
}
span.lock-image {
    background-color: #F0F0F0;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 100px;
    height: 100%;
    line-height: 120px;
    top: 0;
    left: 0;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 9999;
    border-radius: 50%;
}
span.lock-image i {
    color: #fff;
    top: -50%;
    position: relative;
}
  .lock-img {
    max-width: 30px;
    height: 30px;
    padding: 3px 7px 5px 7px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 1px #dcdcdc;
    position: absolute;
    left: 31%;
    bottom: 10%;
    background: #fff;
    z-index: 9;
}
  .lock-img img {
    max-width: 16px;
}
  .lock-img-half {
    position: absolute;
    bottom: 1%;
    left: 47%;
    z-index:999;
    max-width: 30px;
    height: 30px;
    padding: 2px 5px 5px 5px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 1px #dcdcdc;
    background: #fff;
}
  img.lock-img-middle {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
}
  .lock-img-end {
    max-width: 30px; 
    height: 30px;
    padding: 2px 7px 5px 7px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 1px #dcdcdc;
    position: absolute;
  left: 47%;
    top: 1%;
    background: #fff;
    z-index: 99;
}
  .circle-design {
    position: relative !important;
    text-align: center !important;
}
  .circle-content {
    height: 100%;
   
    margin: auto;
}
  .element{
   position:relative; 
  }
  span.lock-image i {
    font-size: 18px;
    color: #c3bcbc;
}
  .element p {
    color: #333;
    position: relative;
    top: -74%;
    font-size: 14px;
}
.border-olive{
  border:1px solid #4D6540 !important;
}
  .border-blue{
  border:1px solid #060E9B !important;
}
  .slick-prev:before, .slick-next:before{
    color:#333;
  }
  .element-2:hover .lock-image {
    background: transparent;
    transition: 1s;
    animation-timing-function: ease-out;
}

.element-2:hover .lock-image  {
    opacity: 0;
}
  .circleGraphic {
  width: 200px;
  height: 200px;
}
</style>

<script>
// Get circle parameters
var circle = document.querySelector('circle.progress');
var radius = circle.r.baseVal.value;
var circumference = radius * 2 * Math.PI;

var originX = circle.cx.baseVal.value;
var originY = circle.cy.baseVal.value;

var user_score = document.querySelector('text.user-score');

var handle = document.querySelector('circle.handle');
var coords = document.querySelector('div.coords');

// Assign initial stroke settings based on the circumference
circle.style.strokeDasharray = `${circumference} ${circumference}`;
circle.style.strokeDashoffset = `${circumference}`;

// Change the progress amount between 0 to 100
// We reverse the percentage and subtract circumference to go counter-clockwise.
function setProgress(percent) {
  
  user_score.innerHTML = 100 - percent
  
  var reverse_percent =  percent ;
  const offset = reverse_percent / 100 * circumference;
  
  circle.style.strokeDashoffset = 1 * offset;
  
  setHandleRotation(percent);
}
 
// Position the handle at the end of the stroke
// Percent will be between 0 to 100.
function setHandleRotation(percent) {
  var angle = (180 + (percent*3.6) ) % 360;
  var angle_radians = angle * Math.PI / 180;

  var xOffset = radius * ( Math.sin( angle_radians ) );
  var yOffset = radius * ( Math.cos( angle_radians ) );

  var x = originX + xOffset;
  var y = originY + yOffset;

  handle.attributes.cx.value = x;
  handle.attributes.cy.value = y; 

  coords.innerHTML = 
    'Percent: ' + percent + '<br>' +
    'Center X: ' + originX + '<br>' +
    'Center Y: ' + originY + '<br>' +
    'Angle (Degrees): ' + angle + '<br>' +
    'Angle (Radians): ' + (Math.round(100*angle_radians)/100) + '<br>' +
    'X: ' + (Math.round(100*x)/100) + '<br>' +
    'Y: ' + (Math.round(100*y)/100) + '<br>' 
  ;

  console.log( angle, xOffset, yOffset );
}
const secin = document.querySelector('input.sec-input');
secin.value = Math.round( Math.random() * 100 );
// DEBUG: Use input to change value 
const input = document.querySelector('input');
input.value = 100 - input; 
setProgress(100 - input.value);
input.addEventListener('change', function(e) {
  if (input.value < 101 && input.value > -1) {
    setProgress(100 - input.value);
  }  
})
</script>
<script>
  $(".slick-circle").slick({
   slidesToShow: 7,
   infinite:false,
   slidesToScroll: 1,
   autoplay: false,
   autoplaySpeed: 2000,
    dots: false,
	arrows:true
  });


// Image Slider Demo:
// https://codepen.io/vone8/pen/gOajmOo	


</script>