{% render 'shogun-products', content: page %}
<div class="my-circle-main-container">
   <h1>There is a circle that doesn't stop giving</h1>
  <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/cicle_image.jpg?v=1617979597">
  <div class="my-cicle-login-signup">
    <a href="javascript://">Sign Up</a>or<a href="javascript://">Login</a>
  </div>
  <div class="cicle-earn-point">
      <h3>How to earn points</h3>

      <a href="javascript://" class="scroll map-scroll-down bounce">
        <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/down-arrow.jpg?v=1617981123" class="" >
      </a>
      <div class="flip">
        <div class="front">
          <p>Create your account</p>
        </div>
        <div class="back">
          <p>30 points</p>
        </div>
      </div>
      <div class="flip">
        <div class="front">
          <p>Subscribe to our Newsletter</p>
        </div>
        <div class="back">
          <p>20 points</p>
        </div>
      </div>
      <div class="flip">
        <div class="front">
          <p>Get 1 point for every € you spend</p>
        </div>
        <div class="back">
          <p>1 € = 1 point</p>
        </div>
      </div>
      <div class="flip">
        <div class="front">
          <p>Refer a Friend</p>
        </div>
        <div class="back">
          <p>10 points</p>
        </div>
      </div>
      <div class="flip">
        <div class="front">
          <p>Leave a Review</p>
        </div>
        <div class="back">
          <p>10 points</p>
        </div>
      </div>
      <div class="flip">
        <div class="front">
          <p>Happy Birthday</p>
        </div>
        <div class="back">
          <p>40 points</p>
        </div>
      </div>
    
  </div>
  
</div>

