{% render 'shogun-products', content: page %}
{{ 'full-circle.css' | asset_url | stylesheet_tag }}
{% comment %}<h1>{{ page.title }}</h1>
<div>{{ page.content }}</div>{% endcomment %} 

<div class="container-fluid">
        <section class="page-full-circle">
            <div class="full-circle-content full-circle-content-1988">
                <div class="row align-items-center">
                    <div class="col-lg-2">
                        <div class="small-circle our-labs js-call-our-labs">6 Labs</div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row no-gutters">
                            <div class="col-lg-5">
                                <div class="left-content-1996 align-items-center d-flex h-100">                           
                                    <p class="text text-1996">
                                        Giorgos joins forces with chemical
                                        engineer Lena Korres to create
                                        beautiful, affordable everyday
                                        cosmetic products marked by top
                                        quality natural ingredients and
                                        clinically-tested efficacy. 
                                    </p>
                                    <p class="text text-1996">
                                        KORRES is founded.
                                        The innovative Wild Rose 24-Hour
                                        Cream, the brand's first skincare
                                        product ever, becomes a global
                                        best-seller. 
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="right-content-1988">                                  
                                    <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/full-circle-1996.png?v=1620312177" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="year-counter">
                            <div class="wrapper">
                                <div class="container-year"></div>
                                <div class="d-none invisible">
				                  <button id="get">get index</button>
				                  <button id="getText">get text</button>
				                  <button id="selected-year">random</button>
				                </div>
                            </div>
                        </div>
                    </div>
                </div>              
            </div>
        </section>
    </div>
    

{{ 'jQuery.WSlot.js' | asset_url | script_tag }} 
<script> 
    var pathname = window.location.pathname;
	var items = ['1973', '1988', '1996', '1999', '2000', '2003', '2006', '2007', '2008', '2010', '2012', '2014', '2016'];

		$('.container-year').WSlot({
          items:['1973','1988','1996','1999','2000','2003','2006','2007','2008', '2010', '2012', '2014', '2016'],
          center : 'first',
          distance : 100,
          displayed_length : 2,
          angle : 30,
          rotation : 0,
          item_height : 40,
        });

         

        $(function() {	
            $('#selected-year').on('click',function(){
                $('.container-year').WSlot('rollTo',2);
            });

             setTimeout(function() {
                $("#selected-year").trigger('click');
            },10);

            
        });

</script>

