{% render 'shogun-products', content: page %}

<div>
{% render 'shogun-products', content: page %}

<div>
<section id="map-inner-place">
<div class="container">
<div class="row">
<div class="col-sm-12">
<ul class="map-nav">
<li><a href="https://korresshop-greece.myshopify.com/pages/mapping?_ab=0&amp;_fd=0&amp;_sc=1&amp;key=05380eb7651b15948a8850d9a6fcd74c6ad645d5d98d43a5717dfa581b0bab46">places</a></li>
<li><a href="#">Farmers</a></li>
<li><a href="#">herbs</a></li>
<li><a href="#">ingredients</a></li>
</ul>
</div>
</div>
</div>
</section>
<main id="map-inner-page">
<div id="test-lab">
<div class="text-lab-link">
<div class="lab-contain"><input type="radio" id="soil" name="lab" value="soil" /> <label for="soil">soil lab</label></div>
<div class="lab-contain"><input type="radio" id="extration" name="lab" value="extration" /> <label for="extration">extration lab</label></div>
<div class="lab-contain"><input type="radio" id="formulation" name="lab" value="formulation" /> <label for="formulation">formulation lab</label></div>
</div>
</div>
<section id="map-title-info">
<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="heading">
<h3><span id="lab-value"></span> herb: <span>Olive</span></h3>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<div class="title-box">
<p>Toποθεσία: <span>Kρήτη</span></p>
<p>Καλλιεργητής: <span>Οικογένεια Παπαβασιλείου</span></p>
</div>
</div>
</div>
</div>
</section>
<section id="map-page-info" class="box1">
<div class="container">
<div class="row bg-img">
<div class="col-sm-5">
<div class="map-content-box">
<div class="map-title">
<p><span>ΚΡΗΤΗ</span></p>
<p>35.2401° N, 24.8093° E</p>
</div>
<div class="map-des">
<p>Η Κρήτη είναι το μεγαλύτερο νησί της Ελλάδας, το 5ο μεγαλύτερο στη Μεσόγειο, και το νοτιότερο της Ευρώπης. Η Κρήτη βρέχεται βόρεια απο το Αιγαίο πέλαγος, νότια απο το Λιβυκό. Χωρίζεται στους νομούς Ηρακλείου, Χανίων, Ρεθύμνου και Λασιθίου</p>
<p>Στην Κρήτη άκμασε ο Μινωικός πολιτισμός, ο αρχαιότερος πολιτισμός στην Ευρώπη.</p>
</div>
<div class="content-image"><img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/map-page-title-image.jpg?v=1613033246" class="img-responsive center-block" alt="korres kphth image" /></div>
</div>
</div>
</div>
</div>
</section>
<section id="soil-lab-page" class="soil box">
<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="soil-desc">
<p>Ο Γυναικείος Αγροτικός Συνεταιρισμός Παραδοσιακών Προϊόντων Αγίου Αντώνιου ιδρύθηκε τον Ιούνιο του 1999 και είναι ο πρώτος γυναικείος συνεταιρισμός του Νομού Θεσσαλονίκης</p>
<p>Σκοπός του Συνεταιρισμού είναι η απασχόληση των αγροτισσών γυναικών, η ενίσχυση του οικογενειακού εισοδήματος τους, η ανάπτυξη του τόπου, η διατήρηση και η διάδοση της παράδοσης μέσα από την παραγωγή και τη διάθεση μιας σειράς υγιεινών, ποιοτικών χειροποίητων προϊόντων φτιαγμένων με μεράκι.</p>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
<div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/soil-lab-image1.jpg?v=1613054653" class="img-responsive center-block" alt="Soil Lab lorres" /></div>
</div>
<div class="col-sm-4">
<div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/soil-lab-image2.jpg?v=1613054652" class="img-responsive center-block" alt="Soil Lab lorres" /></div>
</div>
<div class="col-sm-4">
<div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/soil-lab-image3.jpg?v=1613054653" class="img-responsive center-block" alt="Soil Lab lorres" /></div>
</div>
</div>
</div>
</section>
<section id="extraction-lab-page" class="extration box">
<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="extract-desc">
<p>Korres White Pine bark extract, a global first, is added to WINCI. It is proven to activate the proteasome, a Nobel-awarded scientific platform, enabling skin cells to detoxify and regenerate.</p>
</div>
</div>
</div>
<div class="row row-flex">
<div class="col-sm-8 col-flex-1">
<div class="image-box"><img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/extraction.jpg?v=1613054630" class="img-responsive center-block" alt="" /></div>
</div>
<div class="col-sm-4 col-flex-2">
<div class="image-box"><img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/video-image.jpg?v=1613054631" class="img-responsive center-block" alt="" />
<div class="icon"><img id="myBtn" src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/youtube-play-icon-small.png?v=1613054628" class="img-responsive" alt="youtube icon" /></div>
</div>
</div>
</div>
</div>
</section>
<section id="formulation-lab-page" class="formulation box">
<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="title-box">
<p>A breakthrough formula that targets all signs of mature skin after menopause:</p>
</div>
<div class="pointer-box">
<ul>
<li>Improves skin volume and sagging</li>
<li>Plumps deep wrinkles</li>
<li>Comforts dryness and improves age spots</li>
</ul>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-4">
<div class="product-box"><img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/product-image-formulation-lab.jpg?v=1613054641" class="img-responsive center-block" alt="product image korres" />
<p class="title">Apothecary wild rose night brightening</p>
<p class="price">€ 24</p>
</div>
</div>
<div class="col-sm-4">
<div class="product-box"><img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/product-image-formulation-lab.jpg?v=1613054641" class="img-responsive center-block" alt="product image korres" />
<p class="title">Apothecary wild rose night brightening</p>
<p class="price">€ 24</p>
</div>
</div>
<div class="col-sm-4">
<div class="product-box"><img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/product-image-formulation-lab.jpg?v=1613054641" class="img-responsive center-block" alt="product image korres" />
<p class="title">Apothecary wild rose night brightening</p>
<p class="price">€ 24</p>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<div class="link-box"><a href="#">Buy the Whole Family</a></div>
</div>
</div>
</div>
</section>
</main>
</div>
</div>
