<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css"/>
<script type="text/javascript" src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
{{ 'style-founders.css' | asset_url | stylesheet_tag }}
<div class="page-founder">
	<div class="container-fluid p-0">
		{% section 'giorgos-founder' %}	
	</div>
</div>

