{% render 'shogun-products', content: page %}
{{ 'style-greece.css' | asset_url | stylesheet_tag }}
<!--<h1>{{ page.title }}</h1>
<div>{{ page.content }}</div>-->

<div class="container-fluid p-0">
    <div class="greece-herb-container">
        {% section 'greece-herb-olive-tree-content' %}
    </div>
</div>