{% render 'shogun-products', content: page %}
<div>
{% render 'shogun-products', content: page %}
<div>
 <script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.js"></script>
<main id="map-inner-page">
<div id="test-lab">
<div class="text-lab-link">
  <div class="lab-contain"><a href="#soil" class="scroll"><input type="radio" name="lab" value="soil" /></a> <label for="soil">soil lab</label></div>
  <div class="lab-contain"><a href="#extractionn" class="scroll"><input type="radio"  name="lab" value="extration" /> </a><label for="extration">extration lab</label></div>
  <div class="lab-contain"><a href="#formulationn" class="scroll"><input type="radio" name="lab" value="formulation" /></a> <label for="formulation">formulation lab</label></div>
</div>
</div>
<section id="map-title-info">
<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="title-box bot-line">
<p>Toποθεσία: <span>Kρήτη</span></p>
<p>Καλλιεργητής: <span>Οικογένεια Παπαβασιλείου</span></p>
  <p>Herb: <span>Olive Blossom</span></p>
</div>
</div>
</div>
</div>
</section>
<section id="map-page-info" class="box1">
<div class="container t-image-container">
<div class="row bg-img">
  <div class="col-sm-6 col-md-6">
	<img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/Untitled-left.jpg?v=1617195236" class="img-f-width">
  </div>
  <div class="col-sm-6 col-md-6 img-w-content">
	<img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/Untitled-right.jpg?v=1617195236" class="img-f-width">
    <div>
    <p>Elevation: <b>2,918 m</b></p>
    <p>Prominence: <b>2,355 m</b></p>
    <p>First ascent: <b>August2, 1913</b></p>
    <p>peak: <b>Mytikas</b></p>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 f-w-map-container">
    <p>Creta is the largest and most populous of the greek islands, the 88th largest island in the world and the fifth largest island in the mediterranean Sea, after Sicily, Sardinia, Cyprus and Corsica. It bounds the southern border of the Aegean Sea. Crete rests approximately 160 km (99 mi) south of the greek mainland. It has ana area of 8,336 Km2 (3,219 sq mi) and a coastline of 1,046 Km</p>
  	
    <a href="#soil" class="scroll map-scroll-down bounce">
      <span> Scroll Down </span>
      <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/arrow.png?v=1617201724" class="" >
    </a>
  
  </div>
</div>
</div>
</section>
  
  <main class="page-scroll">
  <section id="map-title-info">
<div class="container" id="soil">
<div class="row">
<div class="col-sm-12">
<div class="heading">
<h3>Herb: <span>Olive Blossom</span></h3>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<div class="title-box">
<div class="tb-center"><p>Toποθεσία: <span>Kρήτη</span></p>
  <p>Καλλιεργητής: <span>Οικογένεια Παπαβασιλείου</span></p></div>
</div>
</div>
</div>
</div>
</section>
<section id="soil-lab-page" class="soil box">
<div class="container">
<div class="row img-text-i-map">
<div class="col-sm-6 img-i-map">
<div class="soil-desc">
  <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/map-ban-1.jpg?v=1617617656">
</div>
</div>
  <div class="col-sm-6 text-i-map">
<div class="soil-desc">
<p>Ο Γυναικείος Αγροτικός Συνεταιρισμός Παραδοσιακών Προϊόντων Αγίου Αντώνιου ιδρύθηκε τον Ιούνιο του 1999 και είναι ο πρώτος γυναικείος συνεταιρισμός του Νομού Θεσσαλονίκης</p>
<p>Σκοπός του Συνεταιρισμού είναι η απασχόληση των αγροτισσών γυναικών, η ενίσχυση του οικογενειακού εισοδήματος τους, η ανάπτυξη του τόπου, η διατήρηση και η διάδοση της παράδοσης μέσα από την παραγωγή και τη διάθεση μιας σειράς υγιεινών, ποιοτικών χειροποίητων προϊόντων φτιαγμένων με μεράκι.</p>
</div>
</div>
</div>
  
<div class="row j-i-image">
<div class="col-sm-12">
<div class="soil-desc">
  <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/map-ban-2.jpg?v=1617617656">
</div>
</div>
</div>
  
  
<div class="row i-map-image-margin">
<div class="col-sm-6 img-i-map">
<div class="soil-desc">
  <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/map-ban-3.jpg?v=1617617656">
</div>
</div>
  <div class="col-sm-6 text-i-map">
<div class="soil-desc">
<p>Ο Γυναικείος Αγροτικός Συνεταιρισμός Παραδοσιακών Προϊόντων Αγίου Αντώνιου ιδρύθηκε τον Ιούνιο του 1999 και είναι ο πρώτος γυναικείος συνεταιρισμός του Νομού Θεσσαλονίκης</p>
<p>Σκοπός του Συνεταιρισμού είναι η απασχόληση των αγροτισσών γυναικών, η ενίσχυση του οικογενειακού εισοδήματος τους, η ανάπτυξη του τόπου, η διατήρηση και η διάδοση της παράδοσης μέσα από την παραγωγή και τη διάθεση μιας σειράς υγιεινών, ποιοτικών χειροποίητων προϊόντων φτιαγμένων με μεράκι.</p>
</div>
</div>
</div>

</div>
</section>
    </main>
  <main class="page-scroll">
  <section id="map-title-info" >
<div class="container" id="extractionn">
<div class="row">
<div class="col-sm-12">
<div class="heading">
<h3><span id="lab-value"></span> herb: <span>Olive</span></h3>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<div class="title-box">
<div class="tb-center"><p>Toποθεσία: <span>Kρήτη</span></p>
  <p>Καλλιεργητής: <span>Οικογένεια Παπαβασιλείου</span></p></div>
</div>
</div>
</div>
</div>
</section>
<section id="extraction-lab-page" class="extration box">
<div class="container">
  
<div class="row img-text-i-map">
<div class="col-sm-6 img-i-map">
<div class="extract-desc">
  <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/map-ban-4.jpg?v=1617619172">
</div>
</div>
  <div class="col-sm-6 text-i-map">
<div class="extract-desc">
<p>Korres White Pine bark extract, a global first, is added to WINCI. It is proven to activate the proteasome, a Nobel-awarded scientific platform, enabling skin cells to detoxify and regenerate.</p>
<p>Σκοπός του Συνεταιρισμού είναι η απασχόληση των αγροτισσών γυναικών, η ενίσχυση του οικογενειακού εισοδήματος τους, η ανάπτυξη του τόπου, η διατήρηση και η διάδοση της παράδοσης μέσα από την παραγωγή και τη διάθεση μιας σειράς υγιεινών, ποιοτικών χειροποίητων προϊόντων φτιαγμένων με μεράκι.</p>
</div>
</div>
</div>
  
<div class="row j-i-image">
<div class="col-sm-12">
<div class="extract-desc">
  <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/map-ban-5.jpg?v=1617619172">

<p>Ο Γυναικείος Αγροτικός Συνεταιρισμός Παραδοσιακών Προϊόντων Αγίου Αντώνιου ιδρύθηκε τον Ιούνιο του 1999 και είναι ο πρώτος γυναικείος συνεταιρισμός του Νομού Θεσσαλονίκης</p>
  
</div>
</div>
</div>  
  

</div>
</section>
    </main>
 <main class="page-scroll">
  <section id="map-title-info">
<div class="container" id="formulationn">
<div class="row">
<div class="col-sm-12">
<div class="heading">
<h3><span id="lab-value"></span> herb: <span>Olive</span></h3>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<div class="title-box">
<div class="tb-center"><p>Toποθεσία: <span>Kρήτη</span></p>
  <p>Καλλιεργητής: <span>Οικογένεια Παπαβασιλείου</span></p></div>
</div>
</div>
</div>
</div>
</section>
<section id="formulation-lab-page" class="formulation box">
<div class="container">
  
  <div class="row img-text-i-map">
<div class="col-sm-6 img-i-map">
<div class="extract-desc">
  <img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/map-ban-6.jpg?v=1617619863">
</div>
</div>
  <div class="col-sm-6 text-i-map">
<div class="extract-desc">
  <p>A breakthrough formula that targets all signs of mature skin after menopause:</p>
<div class="pointer-box">
<ul>
<li>• Improves skin volume and sagging</li>
<li>• Plumps deep wrinkles</li>
<li>• Comforts dryness and improves age spots</li>
</ul>
</div>
    </div>
</div>
</div>
  

<div class="row prod-di">
<div class="col-sm-4">
<div class="product-box"><img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/product-image-formulation-lab.jpg?v=1613054641" class="img-responsive center-block" alt="product image korres" />
<p class="title">Apothecary wild rose night brightening</p>
<p class="price">€ 24</p>
</div>
</div>
<div class="col-sm-4 borderrr">
<div class="product-box"><img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/product-image-formulation-lab.jpg?v=1613054641" class="img-responsive center-block" alt="product image korres" />
<p class="title">Apothecary wild rose night brightening</p>
<p class="price">€ 24</p>
</div>
</div>
<div class="col-sm-4">
<div class="product-box"><img src="https://cdn.shopify.com/s/files/1/0515/5785/9489/files/product-image-formulation-lab.jpg?v=1613054641" class="img-responsive center-block" alt="product image korres" />
<p class="title">Apothecary wild rose night brightening</p>
<p class="price">€ 24</p>
</div>
</div>
</div>

</div>
</section>
    </main>
</main>
</div>



</div>
<script>
$(document).ready(function() {
  var topOfOthDiv = 1100;
  $(window).scroll(function() {
    if($(window).scrollTop() > topOfOthDiv) {
       $("#test-lab").addClass('show');
    } else {
       $("#test-lab").removeClass('show');
    }
  });
});
  </script>


<script>
    var lastId,
    topMenu = $("#test-lab"),
    topMenuHeight = topMenu.outerHeight()+15,
    menuItems = topMenu.find("a"),
    scrollItems = menuItems.map(function(){
      var item = $($(this).attr("href"));
      if (item.length) { return item; }
    });

menuItems.click(function(e){
  var href = $(this).attr("href"),
      offsetTop = href === "#" ? 0 : $(href).offset().top-topMenuHeight+1;
  $('html, body').stop().animate({ 
      scrollTop: offsetTop
  }, 300);
  e.preventDefault();
});

$(window).scroll(function(){
   var fromTop = $(this).scrollTop()+topMenuHeight;
    var cur = scrollItems.map(function(){
     if ($(this).offset().top < fromTop)
       return this;
   });
   cur = cur[cur.length-1];
   var id = cur && cur.length ? cur[0].id : "";
   
   if (lastId !== id) {
       lastId = id;
       menuItems
         .parent().removeClass("cllicked")
         .end().filter("[href='#"+id+"']").parent().addClass("cllicked");
   }                   
});
  
  
</script>
