<form id="reg_whole" >
            <div class="cusform_content">
                <div class="cusform_content_preview">
                    <div class="cusform_preview_case cusform_preview_iframe desktop">
                        <div class="iframe_div">
                            <div class="cus_heading"></div>
                                <div class="iframe_sub_div">
                                    <div class="cus_first_name w-50" style="display:none;"></div>
                                    <div class="cus_last_name w-50" style="display:none;"></div>
                                    <div class="cus_email w-50"></div>
                                    <div class="cus_company_name w-50" style="display:none;"></div>
                                    <div class="cus_tax_number w-50" style="display:none;"></div>
                                    <div class="cus_phone_number w-50" style="display:none;"></div>
                                    <div class="cus_address_one w-50" style="display:none;"></div>
                                    <div class="cus_address_two w-50" style="display:none;"></div>
                                    <div class="cus_city w-50" style="display:none;"></div>
                                    <div class="cus_country w-50" style="display:none;"></div>
                                    <div class="cus_state w-50" style="display:none;"></div>
                                    <div class="cus_postal_code w-50" style="display:none;"></div>
                                </div>
                            <div class="cus_term_condition"></div>
                            <div class="sd_submitted"></div>
                            <div class="cus_button"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sd_pop_terms" style="display: none;">
                <div class="sd_terms_section">
                <div class="sd_terms-body">
                    <div class="sd_terms-header"><span class="sd_terms_close">X</span></div>
                    <div class="txteditor_model"></div>
                </div>
                </div>
            </div>
        </form>