<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="container">
<div class="row">
<div class="col-md-6 col-lg-6 col-sm-12 circle-design">

</div>
<div class="col-md-6 col-lg-6 col-sm-12 circle-content">
<h1>My White Circle</h1
<p class="joining-date">05/06/2021</p>
<h6><b>900 more points</b> till your next gift</h6>
<a href="#" class="circle-btn">Back to shop</b>
</div>
</div>
<div class="row">
<div class="col-12 slider-content">
<h6>Earn & Unlock</h6>
<p>Exlpore your gifts by earning points</p>
</div>
<div class="col-12">
 <div class="slider multiple-items">
    <div class="slick-slide"><h3>1</h3></div>
     <div class="slick-slide"><h3>2</h3></div>
     <div class="slick-slide"><h3>3</h3></div>
      <div class="slick-slide"><h3>4</h3></div>
     <div class="slick-slide"><h3>5</h3></div>
  </div>
</div>
</div>
</div>

<style>
h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%; 
    position: relative;
    text-align: center;
}
</style>

<script>
$('.multiple-items').slick({
  infinite: true,
  slidesToShow: 3,
  slidesToScroll: 3
});
		
</script>