{% render 'shogun-products', content: page %}
{{ 'style-founders.css' | asset_url | stylesheet_tag }}
{% comment %}
	<h1>{{ page.title }}</h1>
	<div>{{ page.content }}</div>
{% endcomment %}

<div class="page-giorgos-lena">
	<div class="container-fluid p-0">
		<div class="row no-gutters d-help">		
			{%section 'giorgos-and-lena'%}		
		</div>
	</div>
</div>