{{ 'style-footer-pages.css' | asset_url | stylesheet_tag }}
<div class="container-fluid px-0 privacy-policy-container">
  {%section 'privacy-policy-top'%}
  {%section 'privacy-policy-blocks'%}
</div>

