<!--{% render 'shogun-products', content: page %}
<h1>{{ page.title }}</h1>
<div>{{ page.content }}</div>-->

<section class="container-fluid p-0">
    <section class="thank-you-page-container">
        <div class="top-content width-1784"> 
            <div class="row no-gutters w-100">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 d-flex align-items-center">
                    <div class="left">
                      
                        <h6>Thank you Dimitria!</h6>
                        <p>Your order has been placed successfully and you will receive an email shortly</p>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="box">
                        <p class="title">My White Circle</p>
                        <div class="box-row">
                            <span>Previous total:</span>
                            <span>15</span>
                        </div>
                       <div class="box-row">
                            <span>Earned today:</span>
                            <span>19</span>
                        </div>
                        <div class="box-row">
                            <span>Redeemed</span>
                            <span>0</span>
                        </div>
                        <div class="box-row last-box-row">
                            <span>Total:</span>
                            <span>34 points</span>
                        </div>
                        <button class="btn primary-btn-radius theme-blue" type="submit">View My Circle Page</button>
                        <button class="btn primary-btn-radius theme-blue" type="submit">Back To Shopping</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle-content">
            <div class="order-info">
                <div class="order-info-row"><span>Order No:</span><span>53008899</span></div>
                <div class="order-info-row"><span>Date:</span><span>Friday 20/04/21</span></div>
                <div class="order-info-row"><span>Order Total:</span><span>120€</span></div>
                <div class="order-info-row"><span>Points won:</span><span>19</span></div>
                <div class="order-info-row"><span>Pharmacy:</span><span>Arnaoutaki</span></div>
                <div class="order-info-row"><span>Number of items:</span><span>19</span></div>
            </div>
            <div class="order-thank-you-carousel" data-flickity='{ "freeScroll": true, "pageDots": false, "prevNextButtons": true, "groupCells": "6"  }'>
                <div class="carousel-cell box-product">
                    <img id="" class="img-responsive" src="//cdn.shopify.com/s/files/1/0515/5785/9489/products/hair.jpg?v=1623906851" alt="">
                </div>
                <div class="carousel-cell box-product">
                    <img id="" class="img-responsive" src="//cdn.shopify.com/s/files/1/0515/5785/9489/products/5203069060311_P_1-ss_0f13db5c-3bf9-49c3-b0ed-052610a312de.jpg?v=1623081975" alt="">
                </div>
                <div class="carousel-cell box-product">
                    <img id="" class="img-responsive" src="//cdn.shopify.com/s/files/1/0515/5785/9489/products/hair.jpg?v=1623906851" alt="">
                </div>
                <div class="carousel-cell box-product">
                    <img id="" class="img-responsive" src="//cdn.shopify.com/s/files/1/0515/5785/9489/products/5203069060311_P_1-ss_0f13db5c-3bf9-49c3-b0ed-052610a312de.jpg?v=1623081975" alt="">
                </div>
                <div class="carousel-cell box-product">
                    <img id="" class="img-responsive" src="//cdn.shopify.com/s/files/1/0515/5785/9489/products/hair.jpg?v=1623906851" alt="">
                </div>
                <div class="carousel-cell box-product">
                    <img id="" class="img-responsive" src="//cdn.shopify.com/s/files/1/0515/5785/9489/products/5203069060311_P_1-ss_0f13db5c-3bf9-49c3-b0ed-052610a312de.jpg?v=1623081975" alt="">
                </div>
                <div class="carousel-cell box-product">
                    <img id="" class="img-responsive" src="//cdn.shopify.com/s/files/1/0515/5785/9489/products/hair.jpg?v=1623906851" alt="">
                </div>
                <div class="carousel-cell box-product">
                    <img id="" class="img-responsive" src="//cdn.shopify.com/s/files/1/0515/5785/9489/products/5203069060311_P_1-ss_0f13db5c-3bf9-49c3-b0ed-052610a312de.jpg?v=1623081975" alt="">
                </div>
                <div class="carousel-cell box-product">
                    <img id="" class="img-responsive" src="//cdn.shopify.com/s/files/1/0515/5785/9489/products/hair.jpg?v=1623906851" alt="">
                </div>
                <div class="carousel-cell box-product">
                    <img id="" class="img-responsive" src="//cdn.shopify.com/s/files/1/0515/5785/9489/products/5203069060311_P_1-ss_0f13db5c-3bf9-49c3-b0ed-052610a312de.jpg?v=1623081975" alt="">
                </div>
            </div>
        </div>
        <div class="bottom-text"><div class="inner"><span class="bold">Do you have any questions?</span> <span>You can visit our </span><a href="/">Help page</a><span> to find answers in all your order related questions.</span></div></div>
    </section>
</section>