<div class=" terms-page">
{%section 'privacy'%}
{%section 'condition-blocks'%}
</div>

<style>
  .terms-page {
    margin-top: 100px;
}
  #shopify-section-condition-blocks {
    overflow: hidden;
}
  .condition_table {
    border-top: 1px solid #2D2A26;
    width:100%;
}
.description_col {
    border-left: 1px solid #2D2A26;
    padding: 25px;
   padding-left: 30px !important;
      font-size: 18px;
    line-height: 30px;
}
  .br-btm {
    border-top: 1px solid #2D2A26;
}
.index_col {
    padding: 25px;
    padding-right: 55px;
    text-align: right;
    color: #000;
}
.index_col h6 {
    font-size: 17px;
    color: #000;
    font-family: 'Roboto';
}
.description_col h5 {
    font-size: 20px;
    color: #000;
    font-family: 'Roboto';
    font-weight: 500;
}
.description_col p {
    font-size: 18px;
    color: #32322D;
    line-height: 30px;
}
  .terms-box {
    padding: 0 !important;
}
  h1.privacy-title {
    font-size: 32px;
    font-family: 'Roboto Mono';
    color: #2D2A26;
    font-weight: 300;
}
  #shopify-section-privacy-title p {
    font-size: 22px;
    padding-right: 30px;
    color: #32322D;
    margin-top: 25px;
    line-height: 30px;
}
#shopify-section-privacy-title {
    margin: 50px 0;
    overflow: hidden;
}
</style>